<div class="row">
<div class="col-lg-12">
<section class="panel">
<header class="panel-heading font-bold">{{"ADMIN.COURSES.EI" |translate}}</header>
  <div class="panel-body">
  <form name="editCourse" class="bs-example form-horizontal" ng-submit="update()">
    <div class="col-sm-6">
        <div class="form-group">
          <label class="col-lg-3 control-label">{{"ADMIN.COURSES.CC" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <input ng-model="course.code" type="text" class="form-control" name="course_code" value="{{course.code}}" required>
            </div>
        </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">Lesson<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <select ng-model="course.lesson" name="lesson" class="form-control" required>
              	<option value="">{{"ADMIN.COURSES.Select" |translate}}</option>
                 <option ng-selected="course.lesson.id == lesson.id"  
                 ng-repeat="lesson in lessons" value="{{lesson.id}}">{{lesson.name}}</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"ADMIN.COURSES.Y" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
       			<select ng-model="course.year.id" name="year" class="form-control" required>
       				<option value="">{{"ADMIN.COURSES.Select" |translate}}</option>
          			<option ng-selected="course.year.id == year.id" 
          			ng-repeat="year in years" value="{{year.id}}">{{year.year | date:'yyyy'}} - {{year.year + 31622400000 | date: 'yyyy'}}</option>
          		</select>
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"ADMIN.COURSES.C" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <select ng-model="course.classGroup.id" class="form-control" required>
              	<option value="">{{"ADMIN.COURSES.Select" |translate}}</option>
                <option ng-selected="course.classGroup.id == CGroup.id"
                 ng-repeat="CGroup in CGroupes" value="{{CGroup.id}}">{{CGroup.grade.grade}}{{CGroup.classLetter.letter}}</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"ADMIN.COURSES.T" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
               <select ng-model="course.teacher.id" name="teacher" class="form-control" required>
               	<option value="">{{"ADMIN.COURSES.Select" |translate}}</option>
				<option ng-selected="course.teacher.id == teacher.id"
				 ng-repeat="teacher in teacherss" value="{{teacher.id}}">{{teacher.nameEn}} {{teacher.surnameEn}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label"></label>
            <div class="col-lg-6">
			  <button type="submitted" class="btn btn-s-md btn-success">{{"ADMIN.COURSES.Update" |translate}}</button>
              <a href="#/courses" type="#" class="btn btn-s-md btn-default">{{"ADMIN.COURSES.Cancel" |translate}}</a>
            </div>
          </div>
    </div>
    </form>
  </div>
        <div class="line line-dashed line-lg pull-in"></div>
  </section>
  </div>
  </div>
