<nav class="nav-primary hidden-xs">
                <ul class="nav">
                  <li><!--edited *******************************************-->
                    <a href="../students">
                      <i class="icon-group"></i>
                      <span>{{"COMMON.STS" | translate}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="../teachers">
                      <i class="icon-female"></i>
                      <span>{{"COMMON.THR" | translate}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="../stuff">
                      <i class="icon-male"></i>
                      <span>{{"COMMON.STF" | translate}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="../accounting">
                      <i class="icon-usd"></i>
                      <span>{{"COMMON.ACC" | translate}}</span>
                    </a>
                  </li>
                   <li>
                    <a href="../library">
                      <i class="icon-book"></i>
                      <span>{{"COMMON.LBR" | translate}}</span>
                    </a>
                  </li>
                   <li>
                    <a href="../courses">
                      <i class="icon-copy"></i>
                      <span>{{"COMMON.CRS" | translate}}</span>
                    </a>
                  </li>
                   <li>
                    <a href="../settings">
                      <i class="icon-gear"></i>
                      <span>{{"COMMON.SST" | translate}}</span>
                    </a>
                  </li>
                 <li>
                    <a href="../edit">
                      <i class="icon-gear"></i>
                      <span>{{"COMMON.SEC_CHANGE" | translate}}</span>
                    </a>
                  </li>                   
                </ul>
              </nav>  