<div class="row">
<div class="col-sm-6">
  <section class="panel">
	<header class="panel-heading bg-danger font-bold" > {{"DOCTOR.NEWS.EN"| translate}} </header>
	  <div class="panel-body">
		<form class="form-horizontal" role="form"  ng-submit="update()" >
			<div class="form-group">
				 <div class="form-group"> 
		         <label class="col-sm-3 control-label">{{"DOCTOR.NEWS.DATE" | translate}}<span class="text-danger">*</span></label> 
		           <div class="col-sm-6"> 
		             <p class="input-group mydatepicker">
					 <input  type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="news.date" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" close-text="Close" required/>
					    <span class="input-group-btn">
					      <button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					    </span>
				  	</p>
		           </div> 
		         </div>
		         <div class="form-group">
				<label class="col-lg-3 control-label">{{"DOCTOR.NEWS.TITLE"| translate}}<span class="text-danger">*</span></label>
				<div class="col-lg-6">
					<input ng-model="news.title" type="text" class="form-control" placeholder="" required>
				</div>
				</div>
				<div class="form-group">
				<label class="col-lg-3 control-label">{{"DOCTOR.NEWS.TEXT"| translate}}</label>
				<div class="col-lg-6">
					<textarea ng-model="news.text" rows="2" class="form-control"
						placeholder=""></textarea>
				</div>
				</div>
			</div>
			<a href="#/material_category">
				<button class="btn btn-s-md btn-default ng-binding" type="#" ng-click="cancel()">Cancel</button>
			</a>
			<div>
  				<button style="margin-top: -35px;" type="submit" class="btn bg-danger pull-right">{{"DOCTOR.COMMON.Update"| translate}}</button>
       		</div>
       	</form>
 </div>
 </section> 	
 </div>
 </div>