<div class="tab-content">
	<section class="tab-pane active" id="News">
		<div class="panel">
			<div class="panel-body">
				<div class="col-sm-6">

					<section class="panel">
						<header class="panel-heading bg-danger" >{{"DOCTOR.NEWS.NEWS"| translate}}</header>
						 <table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th>{{"DOCTOR.NEWS.DATE"| translate}}</th>
                          	<th>{{"DOCTOR.NEWS.TITLE"| translate}}</th>
                          	<th>{{"DOCTOR.NEWS.TEXT"| translate}}</th>
                          </tr>
                          <tr ng-repeat="news in newses" value="{{news.id}}" ng-class="{odd: $odd, even: $even}">
                            <td >{{news.date | date: 'dd-MM-yyyy'}}</td>
                            <td >{{news.title}}</td>
                            <td>{{news.text}}</td>
                            <td data-title="'Opearations'" width="70">
                            	<div align="center">
									<a href="#edit_news/{{news.id}}" data-toggle="modal" tooltip="Edit" data-placement="top"> <i class="icon-pencil"></i></a> 
                                	<a href="javascript:void(0)" ng-click="deleteNews(news.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td>
							</tr>
						 </table>
					</section>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading bg-danger ">{{"DOCTOR.NEWS.AN"| translate}}</header>
							<div class="panel-body">
								<form class="form-horizontal" role="form">
									 <div class="form-group"> 
							         <label class="col-sm-3 control-label">{{"DOCTOR.NEWS.DATE" | translate}}<span class="text-danger">*</span></label> 
							           <div class="col-sm-6"> 
							             <p class="input-group mydatepicker">
										 <input  type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="news.date" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" close-text="Close" required/>
										    <span class="input-group-btn">
										      <button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
										    </span>
									  	</p>
							           </div> 
							         </div>
									<div class="form-group">
										<label class="col-lg-3 control-label">{{"DOCTOR.NEWS.TITLE"| translate}}<span class="text-danger">*</span></label>
										<div class="col-lg-9">
											<input ng-model="news.title" type="text" class="form-control" placeholder="" required>
										</div>
										<div class="form-group"></div>
										<label class="col-lg-3 control-label">{{"DOCTOR.NEWS.TEXT"| translate}}<span class="text-danger">*</span></label>
										<div class="col-lg-9">
											<textarea ng-model="news.text" rows="2" class="form-control"
												placeholder="" required></textarea>
										</div>
									</div>
									<!-- BUTTON ng-click -->
									<button ng-click="submitNews()" type="submit"
										class="btn bg-danger pull-right">{{"DOCTOR.COMMON.Save"| translate}}</button>
								</form>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>