<div class="row">
<div class="col-lg-12">
<section class="panel">
<header class="panel-heading font-bold bg-success">{{"SECRETARY.TEACHERS.EI" |translate}}</header>
  <div class="panel-body">
  <form class="bs-example form-horizontal">
    <div class="form-group">
    <label class="col-lg-3 control-label">{{"SECRETARY.TEACHERS.N" |translate}}<span class="text-danger">*</span>, {{"SECRETARY.TEACHERS.S" |translate}}<span class="text-danger">*</span> {{"SECRETARY.TEACHERS.INE" |translate}}</label>
      <div class="col-lg-8"> 
        <div class="row"> 
          <div class="col-md-4"> 
            <input ng-model="teacher.nameEn" type="text" class="form-control" placeholder="{{'ADMIN.TEACHERS.N' |translate}}" name="name_en" required> 
          </div> 
          <div class="col-md-4"> 
            <input ng-model="teacher.surnameEn" type="text" class="form-control" placeholder="{{'ADMIN.TEACHERS.S' |translate}}" name="surname_en" required> 
          </div>
        </div> 
      </div>
    </div>
    
      <div class="form-group">
      <label class="col-lg-3 control-label">{{"SECRETARY.TEACHERS.N" |translate}}<span class="text-danger">*</span>, {{"SECRETARY.TEACHERS.S" |translate}}<span class="text-danger">*</span> {{"SECRETARY.TEACHERS.INR" |translate}}</label>
        <div class="col-lg-8"> 
          <div class="row"> 
            <div class="col-md-4"> 
              <input ng-model="teacher.nameRu" type="text" class="form-control" placeholder="{{'ADMIN.TEACHERS.N' |translate}}" name="name_ru" required> 
            </div> 
            <div class="col-md-4"> 
              <input ng-model="teacher.surnameRu" type="text" class="form-control" placeholder="{{'ADMIN.TEACHERS.S' |translate}}" name="surname_ru" required> 
            </div>
          </div> 
        </div>
      </div>
      <div class="line line-dashed line-lg pull-in"></div>
        <div class="col-sm-6">
<!--         <div class="form-group"> -->
<!--           <label class="col-lg-3 control-label">{{"SECRETARY.TEACHERS.TN" |translate}}</label> -->
<!--             <div class="col-lg-6">  -->
<!--               <input ng-model="teacher.teacherNum" type="text" class="form-control" name="techer_num"> -->
<!--             </div> -->
<!--           </div> -->
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"SECRETARY.TEACHERS.PN" |translate}}</label>
            <div class="col-lg-6"> 
              <input ng-model="teacher.phone" type="text" class="form-control" name="phone_num"> 
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"SECRETARY.TEACHERS.E" |translate}}</label>
            <div class="col-lg-6"> 
              <input ng-model="teacher.email" type="email" class="form-control" name="email"> 
            </div>
          </div>
          <div class="form-group"> 
          <label class="col-sm-3 control-label">{{"SECRETARY.TEACHERS.BD" |translate}}<span class="text-danger">*</span></label> 
            <div class="col-sm-6"> 
              <p class="input-group mydatepicker">
				 <input ng-model="teacher.birthDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="dt" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
				    <span class="input-group-btn">
				      <button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				    </span>
			  </p>
			  </div> 
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"SECRETARY.TEACHERS.PA" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <input ng-model="teacher.permadr" type="text" name="per_address" class="form-control" required> 
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">{{"SECRETARY.TEACHERS.CA" |translate}}</label>
            <div class="col-lg-6">  
              <input ng-model="teacher.curradr" type="text" name="curr_address" class="form-control">
            </div>
          </div>
          
          </div>
          <div class="col-sm-6">
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"SECRETARY.TEACHERS.Country" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <select ng-model="teacher.country.id" name="country" class="form-control" required>
              	<option value="">{{"SECRETARY.TEACHERS.Select" |translate}}</option>
                <option ng-repeat="country in countrys" ng-value="country.id">{{country.name}}</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"SECRETARY.TEACHERS.Oblast" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <select ng-model="teacher.oblast.id" name="oblast" class="form-control" required>
              	<option value="">{{"SECRETARY.TEACHERS.Select" |translate}}</option>
				<option ng-repeat="oblast in oblasts" ng-value="oblast.id">{{oblast.name}}</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"SECRETARY.TEACHERS.Region" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <select ng-model="teacher.region.id" name="region" class="form-control" required>
              	<option value="">{{"SECRETARY.TEACHERS.Select" |translate}}</option>
                <option ng-repeat="region in regions" ng-value="region.id">{{region.name}}</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"SECRETARY.TEACHERS.N" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <select ng-model="teacher.nationality.id" name="nationality" class="form-control" required>
              	<option value="">{{"SECRETARY.TEACHERS.Select" |translate}}</option>
                <option ng-repeat="nationality in nationalities" ng-value="nationality.id">{{nationality.nationality}}</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">{{"SECRETARY.TEACHERS.BG" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6">  
              <select ng-model="teacher.blood.id" name="blood" class="form-control" required>
              	<option value="">{{"SECRETARY.TEACHERS.Select" |translate}}</option>
                	<option ng-repeat="blood in bloods" ng-value="blood.id">{{blood.code}}</option>
              </select> 
			</div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">{{"SECRETARY.TEACHERS.G" |translate}}</label>
            <div class="col-lg-6">  
              	<select ng-model="teacher.isMale" name="isMale" class="form-control">
              		<option value="">{{"SECRETARY.TEACHERS.Select" |translate}}</option>
              		<option value="true">{{"SECRETARY.TEACHERS.Male" |translate}}</option>
              		<option value="false">{{"SECRETARY.TEACHERS.Female" |translate}}</option>
              	</select>
            </div>
          </div>
           <div class="form-group">
            <label class="col-lg-3 control-label">{{"SECRETARY.TEACHERS.Passport" |translate}}</label>
            <div class="col-lg-6">  
              	<input ng-model="teacher.passportNo" name="isMale" class="form-control" >
            </div>
          </div>
          <!-- <div class="form-group">
            <label class="col-lg-3 control-label">Teacher photo</label>
            <div class="col-lg-6"> 
              <input type="file" name="avatar">
            </div>
          </div> -->
          <div class="form-group">
          </div>
          <div class="form-group">
            <button ng-click="save()" type="submit" class="btn btn-s-md btn-success">{{"SECRETARY.TEACHERS.Save" |translate}}</button>
			<a href="#teacher">
            	<button ng-click="cancel()" type="#" class="btn btn-s-md btn-default">{{"SECRETARY.TEACHERS.Cancel" |translate}}</button>
          	</a>
          </div>
        </div>
        <div class="line line-dashed line-lg pull-in"></div>
  </form>
  
  </div>
</section>
</div>
</div>