          <div class="row">
            <div class="col-lg-12">
              <section class="panel">
                <div class="panel-body">
                  <div class="clearfix m-b">
                    <a href="" class="pull-left thumb m-r"><img src="img/avatar.jpg" class="img-circle" ></a>
                      <div class="clear">
                        <div class="h3 m-t-xs m-b-xs" >{{teacher.nameEn+ " " +teacher.surnameEn}}</div>
                        <strong><div>{{teacher.nameRu+ " " +teacher.surnameRu}}</div></strong>
                      </div>                
                  </div>
                  <div class="well m-t">
                    <div class="row"> 
                      <div class="col-lg-6">
                        <p>{{"SECRETARY.TEACHERS.TN2" |translate}}: <strong ng-model="teacher.teacherNum" >{{teacher.teacherNum}}</strong></p>
                        <p>{{"SECRETARY.TEACHERS.PASSPORT" |translate}}: <strong ng-model="teacher.passportNo" >{{teacher.passportNo}}</strong></p>
                        <p>{{"SECRETARY.TEACHERS.BD2" |translate}}: <strong ng-model="teacher.birthDate" >{{teacher.birthDate | date: dd.mm.yyyy }}</strong></p>
                        <p>{{"SECRETARY.TEACHERS.CA2" |translate}}: <strong ng-model="teacher.curradr" >{{teacher.curradr}}</strong></p>
                        <p>{{"SECRETARY.TEACHERS.PA2" |translate}}: <strong ng-model="teacher.permadr" >{{teacher.permadr}}</strong></p>
                        <p>{{"SECRETARY.TEACHERS.PN2" |translate}}: <strong ng-model="teacher.phone" >{{teacher.phone}}</strong></p>
                        <p>{{"SECRETARY.TEACHERS.E2" |translate}}: <strong ng-model="teacher.email" >{{teacher.email}}</strong></p>
                      </div>
                      <div class="col-lg-6">
                        <p>{{"SECRETARY.TEACHERS.REGION" |translate}}: <strong ng-model="teacher.region" >{{teacher.region.name}}</strong></p>
                        <p>{{"SECRETARY.TEACHERS.OBLAST" |translate}}: <strong ng-model="teacher.oblast" >{{teacher.oblast.name}}</strong></p>
                        <p>{{"SECRETARY.TEACHERS.COUNTRY" |translate}}: <strong ng-model="teacher.country" >{{teacher.country.name}}</strong></p>
                        <p>{{"SECRETARY.TEACHERS.BLOOD" |translate}}: <strong ng-model="teacher.blood" >{{teacher.blood.code}}</strong></p>
                        <p></p>
                      </div>
                    </div>     
                  </div>
                </div>
              </section>
             </div>
            </div>