<div class="row">
<div class="col-lg-12">
                    <div class="panel">
                    <header class="panel-heading font-bold bg-success">{{"SECRETARY.TEACHERS.TL" | translate}}</header>
                    <div class="panel-body">
                    <div class="table-responsive">
                      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                      <div class="row">
                        <div class="col-sm-6">
                          <div id="DataTables_Table_0_length" class="dataTables_length">
                            <label> 
                              {{"SECRETARY.TEACHERS.Show" | translate}}:
                              <select ng-model="count" size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="dataTables_filter"><!-- <a href="#add_teacher" class="btn btn-success btn-sm">{{"SECRETARY.TEACHERS.ANT" | translate}}&nbsp;<i class="icon-plus"></i></a> --></div>
                          <div class="dataTables_filter" id="DataTables_Table_0_filter">
                            
                          </div>
                        </div>
                        </div><!--end of row-->
                        <table style="display:none">
                        	<tr>
                        		<td class="ns">{{"SECRETARY.TEACHERS.NS" | translate}} </td>
                        		<td class="n">{{"SECRETARY.TEACHERS.N" | translate}} </td>
                        		<td class="g">{{"SECRETARY.TEACHERS.G" | translate}} </td>
                        	</tr>
                        </table>
                      <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" >
                        <tr ng-repeat="teacher in $data" ng-class="{odd: $odd, even: $even}">
                            <td data-title="getTitle('ns')" sortable="'name'" filter="{ 'teacher': 'text' }">{{teacher.nameEn + ' ' + teacher.surnameEn}}</td>
                            <td data-title="getTitle('n')" sortable="'nationality'" filter="{ 'nationality': 'text' }">{{teacher.nationality.nationality}}</td>
                            <td data-title="getTitle('g')">{{teacher.isMale ? "Male" : "Female"}}</td>
                            <td align="center"><!-- <a href="#edit_teacher/{{teacher.id}}" tooltip="Edit"><i class="icon-pencil"></i></a>&nbsp;
                                <a href="javascript:void(0)" ng-click="deleteTeacher(teacher.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
                                 --><a href="#teacher_profile/{{teacher.id}}" tooltip="Teacher info"><i class="icon-user"></i></a>&nbsp;
                            </td>
                        </tr>
                       </table>
                      
                      </div><!--end of datatables 0 wrapper-->
                      
                    </div><!--end of table resp-->
                    </div>
                    </div><!--panel-->
                  </div><!--end col-lg-12-->
                  </div>
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; {{"SECRETARY.TEACHERS.Previous" | translate}}</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">{{"SECRETARY.TEACHERS.Next" |translate}} &raquo;</a>
		</li>
		</div>
       </ul>
</script>