
			<div class="header b-b bg-info">
				<div class="row">
					<div class="col-sm-4">
						<h4 class="l-b l-b-none" style="margin-right: -700px; text-align:center;">{{"STUDENT.EDIT.PC" | translate}} | {{"STUDENT.EDIT.IE" | translate}}</h4>
					</div>
				</div>
			</div>
			<!--end student panel name and start panel inside-->

			<section class="text-center">
				<section class="panel col-sm-12 text-center">
					<header class="panel-heading font-bold">{{"STUDENT.EDIT.PC" | translate}}</header>
					<div class="panel-body">
						<form autocomplite="off"class="form-inline" role="form" ng-submit="save()">
							
							<div class="form-group">
								<label class="sr-only" for="currentPassword">{{"STUDENT.EDIT.P" | translate}}</label>
									<input ng-model="currentPassword" type="password" class="form-control"
									id="currentPassword" placeholder="{{'STUDENT.EDIT.ECP' | translate}}" ng-required="true">
							</div>
							<div class="form-group">
								<label class="sr-only" for="newPassword">{{"STUDENT.EDIT.NP" | translate }}</label> 
								<input ng-model="newPassword" type="password" class="form-control"
									id="newPassword" placeholder="{{'STUDENT.EDIT.NP' | translate}}" ng-required="true">
							</div>
							<div class="form-group">
								<label class="sr-only" for="confirmPassword">{{"STUDENT.EDIT.P" | translate}}</label>
									<input ng-model="confirmPassword" type="password" class="form-control"
									 placeholder="{{'STUDENT.EDIT.RP' | translate}}" ng-required="true">
							</div>
							<button type="submit" class="btn btn-danger">
								{{"STUDENT.EDIT.SBJ" | translate }} </br>
							</button>

						</form>
					</div>
				</section>
			</section>


			<div class="col-sm-12  text-center">
				<form class="form-horizontal" ng-submit="update(student.id)">
					<section class="panel">
						<header class="panel-heading  bg-success">
							<strong>{{"STUDENT.EDIT.IE" | translate}}</strong>
						</header>
						<div class="panel-body ">
							<div class="form-group">
								<label class="col-sm-3 control-label">{{"STUDENT.EDIT.FN" | translate}}</label>
								<div class="col-sm-6">
									<div style="text-align:left;" type="text" class="form-control" data-type="text"
										data-required="true" placeholder="fullname" >
										{{getLanguage == 'en' ? student.nameEn+" "+student.surnameEn : student.nameRu+" "+student.surnameRu}}
									</div>
								</div>
							</div>
							<div class="line line-dashed line-lg pull-in"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label">{{"STUDENT.EDIT.BD" | translate}}</label>
								<div class="col-sm-6">
									<input ng-model="student.birthDate" type="text" 
				 							class="form-control" datepicker-popup="{{datepicker.format}}" 
				 							ng-model="dt" is-open="datepicker.opened" min-date="2014-09-01" 
				 							max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" 
				 							ng-required="true" close-text="Close" ng-required="true"/>
				    						
								</div>
							</div>

							<div class="line line-dashed line-lg pull-in"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label">{{"STUDENT.EDIT.E"| translate}}</label>
								<div class="col-sm-6">
									<input ng-model="student.email"  type="email" class="form-control" name="email">
								</div>
							</div>
							<div class="line line-dashed line-lg pull-in"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label">{{"STUDENT.EDIT.FNAME" | translate}}</label>
								<div class="col-sm-6">
									<input ng-model="student.parents.parent1" type="text" name="parent1" class="form-control">
								</div>
							</div>
							<div class="line line-dashed line-lg pull-in"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label">{{"STUDENT.EDIT.FNUMBER" | translate}}</label>
								<div class="col-sm-6">
									<input ng-model="student.parents.parent1Number" type="text" name="father_tel" class="form-control"> 
								</div>
							</div>

						</div>
						<footer class="panel-footer m-b-n-sm text-center bg-success">
							<button type="submit" class="btn btn-blue btn-s-lg btn-rounded bg-white">{{"STUDENT.EDIT.U" | translate}}</button>
						</footer>
					</section>
				</form>
			</div>

