<div class="row">
	<div class="col-lg-12">
		<section class="panel">

		<header class="panel-heading font-bold">{{"ADMIN.STUDENTS.EI" | translate}}</header>
  			<div class="panel-body">
  				<form name="addStudentForm" class="bs-example form-horizontal" ng-submit="save()" method="post" enctype="multipart/form-data">
    				<div class="form-group">
    				<label class="col-lg-3 control-label">{{"ADMIN.STUDENTS.Name" | translate}} <span class="text-danger">*</span>, {{"ADMIN.STUDENTS.Surname" | translate}} <span class="text-danger">*</span>, {{"ADMIN.STUDENTS.MiddleE" | translate}}</label>
      					<div class="col-lg-8"> 
        	<div class="row"> 
    			<div class="col-md-4"> 
    				<input ng-model="student.nameEn" type="text" class="form-control" placeholder="{{'ADMIN.STUDENTS.Name' | translate}}" name="name_en" ng-required="true"> 
    			</div> 
          <div class="col-md-4"> 
            <input  ng-model="student.surnameEn"  type="text" class="form-control" placeholder="{{'ADMIN.STUDENTS.Surname' | translate}}" name="surname_en" ng-required="true"> 
          </div> 
          
        	</div> 
      			</div>
    				</div>
    
      <div class="form-group">
      <label class="col-lg-3 control-label">{{"ADMIN.STUDENTS.Name" | translate}} <span class="text-danger">*</span>, {{"ADMIN.STUDENTS.Surname" | translate}} <span class="text-danger">*</span>, {{"ADMIN.STUDENTS.MiddleR" | translate}}</label>
        <div class="col-lg-8"> 
          <div class="row"> 
            <div class="col-md-4"> 
              <input ng-model="student.nameRu" type="text" class="form-control" placeholder="{{'ADMIN.STUDENTS.Name' | translate}}" name="name_ru" required> 
            </div> 
            <div class="col-md-4"> 
              <input ng-model="student.surnameRu" type="text" class="form-control" placeholder="{{'ADMIN.STUDENTS.Surname' | translate}}" name="surname_ru" required> 
            </div> 
            <div class="col-md-4"> 
              <input ng-model="student.middleNameRu" type="text" class="form-control" placeholder="{{'ADMIN.STUDENTS.Middle' | translate}}" name="middle_ru"> 
            </div> 
          </div> 
        </div>
      </div>
      <div class="line line-dashed line-lg pull-in"></div>
        <div class="col-sm-6">
        <div class="form-group">
          <label class="col-lg-3 control-label">{{'ADMIN.STUDENTS.Class' | translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <select ng-model="student.classGroup.id" name="CGroup" class="form-control" required>
              	<option value="">{{'ADMIN.STUDENTS.Select' | translate}}</option>
                <option ng-repeat="CGroup in CGroups" value="{{CGroup.id}}">{{CGroup.grade.grade}}{{CGroup.classLetter.letter}}</option>
              </select> 
            </div>
          </div>
<!--           <div class="form-group"> -->
<!--           <label class="col-lg-3 control-label">{{'ADMIN.STUDENTS.SN' | translate}}</label> -->
<!--             <div class="col-lg-6">  -->
<!--               <input ng-model="student.studentNum" type="text" class="form-control" name="s_number">  -->
<!--             </div> -->
<!--           </div> -->
          <div class="form-group"> 
          <label class="col-sm-3 control-label">{{'ADMIN.STUDENTS.Birthdate' | translate}} <span class="text-danger">*</span></label> 
            <div class="col-sm-6"> 
              <p class="input-group mydatepicker">
				 <input ng-model="student.birthDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="dt" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
				    <span class="input-group-btn">
				      <button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				    </span>
			  </p>
            </div> 
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">{{'ADMIN.STUDENTS.Gender' | translate}} <span class="text-danger">*</span></label>
            <div class="col-lg-6">
              	<select ng-model="student.isMale" name="isMale" class="form-control" required>
              		<option value="">{{'ADMIN.STUDENTS.Select' | translate}}</option>
              		<option value="true">{{'ADMIN.STUDENTS.Male' | translate}}</option>
              		<option value="false">{{'ADMIN.STUDENTS.Female' | translate}}</option>
              	</select>
            </div>
          </div>
          
			<!-- START PARENTS INFO -->
          <div class="form-group">
          <label class="col-lg-3 control-label"><u>{{'ADMIN.STUDENTS.PINFO' | translate}}</u></label>
            <div class="col-lg-6"> 
             <!-- <input ng-model="student.parents.parent1" type="text" name="parent1" class="form-control">  --> 
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{'ADMIN.STUDENTS.PNAME' | translate}}</label>
            <div class="col-lg-6"> 
              <input ng-model="student.parents.parent1" type="text" name="parent1" class="form-control">
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{'ADMIN.STUDENTS.PPHNUM' | translate}}</label>
            <div class="col-lg-6"> 
              <input ng-model="student.parents.parent1Number" type="text" name="father_tel" class="form-control"> 
            </div>
          </div>
          
          <div class="form-group">
          <label class="col-lg-3 control-label" for="inputfile">{{'ADMIN.STUDENTS.PHOTO' | translate}}</label>
            <div class="col-lg-6"> 
              <input file-model="photo" type="file" >
            </div>
          </div>
          
          <div class="form-group">
          <label class="col-lg-3 control-label">{{'ADMIN.STUDENTS.Country' | translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <select ng-model="student.country.id" name="country" class="form-control" select>
              	<option value="">{{'ADMIN.STUDENTS.Select' | translate}}</option>
                <option ng-repeat="country in countrys" ng-value="country.id">{{country.name}}</option>
              </select>  
            </div>
          </div>
           <div class="form-group">
          <label class="col-lg-3 control-label">{{'ADMIN.STUDENTS.PA' | translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <input ng-model="student.permAdress" type="text" name="p_address" class="form-control" required> 
            </div>
          </div>
          </div>
          <div class="col-sm-6">
          <div class="form-group">
          <label class="col-lg-3 control-label">{{'ADMIN.STUDENTS.CA' | translate}}</label>
            <div class="col-lg-6"> 
              <input ng-model="student.currAdress" type="text" name="c_address" class="form-control"> 
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{'ADMIN.STUDENTS.Nationality' | translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <select ng-model="student.nationality.id" name="nationality" class="form-control" required>
              	<option value="">{{'ADMIN.STUDENTS.Select' | translate}}</option>
                <option ng-repeat="nationality in nationalities" ng-value="nationality.id">{{nationality.nationality}}</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">{{'ADMIN.STUDENTS.SS' | translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6">  
          		<select ng-model="student.status.id" name="status" class="form-control" required>
          			<option value="">{{'ADMIN.STUDENTS.Select' | translate}}</option>
          			<option ng-repeat="status in statuss" value="{{status.id}}">{{status.name}}</option>
          		</select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">{{'ADMIN.STUDENTS.GY' | translate}}</label>
            <div class="col-lg-6">  
            	<select ng-model="student.year.id" name="year" class="form-control">
          			<option ng-selected="true" ng-value="">--</option>
          			<option ng-repeat="year in years" ng-value="year.id">{{year.year | date:'yyyy'}}</option>
          		</select>
          </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{'ADMIN.STUDENTS.E' | translate}}</label>
            <div class="col-lg-6"> 
              <input ng-model="student.email"  type="email" class="form-control" name="email"> 
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">{{'ADMIN.STUDENTS.PN' | translate}}</label>
            <div class="col-lg-6"> 
              <input ng-model="student.phonenum" type="text" class="form-control" name="phone"> 
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">{{'ADMIN.STUDENTS.Description' | translate}}</label>
            <div class="col-lg-6"> 
              <textarea ng-model="student.description" rows="3" class="form-control" name="description"></textarea>
            </div>
          </div>
          <!-- <div class="form-group">
            <label class="col-lg-3 control-label">Student photo</label>
            <div class="col-lg-6"> 
              <input type="file" name="avatar">
            </div>
          </div> -->
          <div class="form-group">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-s-md btn-success">{{'ADMIN.STUDENTS.Save' | translate}}</button>
            <a href="#/students" ng-click="cancel()" type="#" class="btn btn-s-md btn-default">{{'ADMIN.STUDENTS.Cancel' | translate}}</a>
          </div>
        </div>
        <div class="line line-dashed line-lg pull-in"></div>
  </form>
   
  </div>
</section>

	</div>

</div>

