          <div class="row">
            <div class="col-lg-12">
              <section class="panel">
                <div class="panel-body">
                
                  <div class="clearfix m-b">
                    	<div class="pull-left ">
                   	   <a href="" class="pull-left thumb m-r">
                    	 <img ng-src="../../../file/{{student.photo}}" style="max-width: 200px; max-height: 333px; margin: 10px" />
                       </a>
                   	  </div>
                      <div class="clear" style="margin-left:240px;">
                        <div class="h3 m-t-xs m-b-xs">{{student.nameEn}} {{student.surnameEn}}</div>
                        <strong>
							<div>{{student.nameRu}}{{student.surnameRu}}</div>
						</strong>
					
                      </div>                
                  </div>
                  <div class="well m-t">
                    <div class="row"> 
                      <div class="col-lg-6">
                        <p>{{"ADMIN.STUDENTS.ES" | translate}}:
                        <strong>
                			{{student.classGroup.grade.grade}}{{student.classGroup.classLetter.letter}}
                     	</strong>
                        </p>
                        <p>{{"ADMIN.STUDENTS.ES" | translate}}: <strong>{{"ADMIN.STUDENTS.Approved" | translate}}</strong></p>
                        <p>{{"ADMIN.STUDENTS.BD" | translate}}: <strong ng-model="student.birthDate">{{student.birthDate |  date:'dd.mm.yyyy'}}</strong></p>
                        <p>{{"ADMIN.STUDENTS.CA2" | translate}}:  <strong ng-model="student.currAdress">{{student.currAdress}}</strong></p>
                        <p>{{"ADMIN.STUDENTS.PA2" | translate}}: <strong ng-model="student.permAdress">{{student.permAdress}}</strong></p>
                        <p>{{"ADMIN.STUDENTS.TN" | translate}}: <strong ng-model="student.studentNum">{{student.studentNum}}</strong></p>
                        <p>{{"ADMIN.STUDENTS.EMAIL" | translate}}:<strong ng-model="student.email">{{student.email}}</strong></p>
                      </div>
                      <div class="col-lg-6">
                        <p>{{"ADMIN.STUDENTS.PINFO" | translate}}: <strong ng-model=""></strong></p>
                      <!--  <p>{{"ADMIN.STUDENTS.PNAME | translate}}: <strong ng-model="student.parents">{{student.parents.parent1}}</strong></p> -->
                        <p>{{"ADMIN.STUDENTS.PPHNUM" | translate}}: <strong ng-model="student.parents">{{student.parents.parent1Number}}</strong></p>
                        <p></p>
                     <p><strong>{{"ADMIN.STUDENTS.PI" | translate}}:</strong></p>
                        <p>{{"ADMIN.STUDENTS.AF" | translate}}: <strong>{{stud_accounting.anualFee}}</strong>
                        <p>{{"ADMIN.STUDENTS.PAID" | translate}}: <strong>{{stud_accounting.payed}}</strong>     
                        <p>{{"ADMIN.STUDENTS.LEFT" | translate}}: <strong>{{stud_accounting.anualFee - stud_accounting.payed}}</strong></p>
                      </div>
                    </div>     
                  </div>
                </div>
              </section>
             </div>
            </div>