<div class="row">
<div class="col-lg-12">
	<div class="panel">
		<header class="panel-heading bg-dark">{{"ADMIN.STUDENTS.Student_list" | translate}}</header>
		<div class="panel-body">
		<div class="table-responsive">
			<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
				<div class="row">
					<div class="col-sm-6">
						<div id="DataTables_Table_0_length" class="dataTables_length">
                            <label> 
                              {{"ADMIN.STUDENTS.Show" | translate}}:
                              <select ng-model="count" size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" >
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
							  </select>
                            </label>
                          </div>
					</div>
					<div class="col-sm-6">
						<div class="dataTables_filter"><a href="#/add_student" class="btn btn-success btn-sm">{{"ADMIN.STUDENTS.ANS" | translate}}&nbsp;<i class="icon-plus"></i></a></div>
                       	<div class="dataTables_filter"><span class="btn btn-default btn-sm">Result : {{tableParams.total()}}</span></div>
                    </div>
                 </div><!--end of row-->
                 
                 	<table style="display:none">
                 		<thead >
                          	<tr>
                          		<td class="ns" >{{"ADMIN.STUDENTS.Name_Surname" | translate}}</td>
                          		<td class="class">{{'ADMIN.STUDENTS.Class' | translate}}</td>
                          		<td class="nationality">{{'ADMIN.STUDENTS.Nationality' | translate}}</td>
                          		<td class="gender">{{'ADMIN.STUDENTS.Gender' | translate}}</td>
                          		<td></td>
                          	</tr>
                          </thead>
                 	</table>
                      <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
                          <tr ng-repeat="student in $data" ng-class="{odd: $odd, even: $even}">
                          	<td data-title="'#'">{{$index + 1}}.</td>
                            <td data-title="getTitle('ns')" sortable="'name'" filter="{ 'student': 'text' }">{{student.nameEn + ' ' + student.surnameEn}}</td>
                            <td data-title="getTitle('class')" sortable="'class'" filter="{ 'class': 'text' }">{{student.classGroup.grade.grade + student.classGroup.classLetter.letter}}</td>
                            <td data-title="getTitle('nationality')" sortable="'nationality'" filter="{ 'nationality': 'text' }">{{student.nationality.nationality}}</td>
                       		<td data-title="getTitle('gender')">{{student.isMale ? "Male" : "Female"}}</td>
                            <td><a href="#edit_student/{{student.id}}" tooltip="Edit" data-placement="top" data-original-title="Edit"><i class="icon-pencil"></i></a>&nbsp;
                                <a href="javascript:void(0)" ng-click="deleteStudent(student.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
                                <a href="#student_profile/{{student.id}}" tooltip="Student info" data-placement="top" data-original-title="More info about student"><i class="icon-user"></i></a>
                            </td>
                          </tr>
                      </table>
                      </div><!--end of datatables 0 wrapper-->
                      </div>
                    </div><!--end of table resp-->

 

                    </div><!--panel-->
                  </div><!--end col-lg-12-->
</div>
                <!--/div><!-row-->
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; {{ "ADMIN.STUDENTS.Previous" | translate}}</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">{{ "ADMIN.STUDENTS.Next" | translate}} &raquo;</a>
		</li>
		</div>
       </ul>
</script>