<div class="col-lg-12">
<section class="panel">
<header class="panel-heading bg-success">{{"SECRETARY.LIBRARY.PEIB" | translate}}</header>
  <div class="panel-body">
  <form class="bs-example form-horizontal">
    <div class="form-group">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-lg-3 control-label">Book title</label>
            <div class="col-lg-6"> 
              <input type="text" class="form-control" name="name">
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">Author</label>
            <div class="col-lg-6"> 
              <input type="text" class="form-control" name="author"> 
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">Category</label>
            <div class="col-lg-6"> 
              <select name="category" class="form-control">
                <option>Lesson books</option>
                <option>Literature</option>
                <option>Science</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">Amount of book</label>
            <div class="col-lg-6"> 
              <input type="text" name="amount" class="form-control"> 
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">Available amount</label>
            <div class="col-lg-6"> 
              <input type="text" name="book_amount" class="form-control"> 
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label"></label>
            <div class="col-lg-6">
              <a href="#" class="btn btn-s-md btn-success">Submit</a>
              <a href="#" class="btn btn-s-md btn-default">Cancel</a>
            </div>
          </div>
          </div>
  </form>
  
  </div>
</section>
</div>