<div class="row">
<div class="col-lg-12">
  <div class="panel">
  <header class="panel-heading bg-success">
    {{ "SECRETARY.LIBRARY.Book_type_list" |translate}}
  </header>
  <div class="table-responsive">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
    <div class="row">
      <div class="col-sm-6">
        <div id="DataTables_Table_0_length" class="dataTables_length">
          <label> 
            {{ "SECRETARY.LIBRARY.Show" |translate}}:
            <select ng-model="count" size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
              <option value="10" selected="selected">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </label>
        </div>
      </div>
      <div class="dataTables_filter" style="margin-right: 15px !important;"><a href="#" class="btn btn-warning btn-sm pull-right" onclick="window.print();" style="color: #4E4E4E !important;">{{"SECRETARY.STUDENTS.PRINT" | translate}} &nbsp;<i class="icon-print"></i></a></div>
      <div class="dataTables_filter" style="margin-right: -15px !important;"><span class="btn btn-default btn-sm">{{"SECRETARY.STUDENTS.RESULT" | translate}} : {{tableParams.total()}}</span></div>
      <div class="col-sm-6">
       <!-- <div class="dataTables_filter"><a href="#add_book" class="btn btn-success btn-sm">Add new book&nbsp;<i class="icon-plus"></i></a></div> --> 
        	

         <!-- <label>
            Search:
            <input type="text" arial-controls="DataTables_Table_0">
          </label>  --> 
        </div>
      </div>
      </div><!--end of row-->
     <table style="display:none">
		<thead >
        	<tr>
        		<td class="book_type" >{{"SECRETARY.LIBRARY.Book_type" | translate}}</td>
        		<td class="author">{{'SECRETARY.LIBRARY.Author' | translate}}</td>
        		<td class="category">{{'SECRETARY.LIBRARY.Category' | translate}}</td>
        		<td class="year">{{'SECRETARY.LIBRARY.Year' | translate}}</td>
        		<td class="cost">{{'SECRETARY.LIBRARY.Cost' | translate}}</td>
        		<td class="amount">{{'SECRETARY.LIBRARY.Amount' | translate}}</td>
        	</tr>
        </thead>
	</table>
     <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" style="
    border-top: 1px solid #e0e4e8;" >
		<tr ng-repeat="book_type in $data" ng-class="{odd: $odd, even: $even}">
			<td data-title="'#'">{{$index + 1}}.</td>
			<td data-title="getTitle('book_type')" sortable="'name'" filter="{ 'name': 'text' }">{{book_type.name}}</td>
            <td data-title="getTitle('author')" sortable="'author'" filter="{ 'author': 'text' }">{{book_type.author}}</td>
            <td data-title="getTitle('category')" filter="{ 'categoryName': 'text' }">{{book_type.category.name}}</td>
            <td data-title="getTitle('year')" sortable="'publishYear'" style="text-align:center;">{{book_type.publishYear}}</td>
            <td data-title="getTitle('cost')" sortable="'cost'" style="text-align:center;">{{book_type.cost}}</td>
          	<td data-title="getTitle('amount')" sortable="'amount'" style="text-align:center;">{{book_type.books.length}}</td>
        </tr>
  	  </table>
    </div><!--end of datatables 0 wrapper-->
    
  </div><!--end of table resp-->
  </div><!--panel-->
</div><!--end col-lg-12-->
</div>

<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; {{ "SECRETARY.LIBRARY.Previous" | translate}}</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">{{ "SECRETARY.LIBRARY.Next" | translate}} &raquo;</a>
		</li>
		</div>
       </ul>
</script>