<div class="row">
<div class="col-lg-12">
<section class="panel">
<header class="panel-heading font-bold bg-success">{{"SECRETARY.STUFF.EI" | translate}}</header>
  <div class="panel-body">
  <form name="addStuffForm" class="bs-example form-horizontal" ng-submit="submitt()">
    <div class="form-group">
     <label class="col-lg-3 control-label">{{"SECRETARY.STUFF.N" | translate}}<span class="text-danger">*</span>, {{"SECRETARY.STUFF.S" | translate}}<span class="text-danger">*</span>{{"SECRETARY.STUFF.INE" | translate}}</label>
      <div class="col-lg-8"> 
        <div class="row"> 
          <div class="col-md-4"> 
            <input ng-model="stuff.nameEn" type="text" class="form-control" placeholder="{{'SECRETARY.STUFF.N' | translate}}" name="name_en" ng-required="true"> 
            <!-- <span class="text-danger" ng-show="addStuffForm.name_en.$error.required" >First Name is required</span> -->
          </div> 
          <div class="col-md-4"> 
            <input ng-model="stuff.surnameEn" type="text" class="form-control" placeholder="{{'SECRETARY.STUFF.S' | translate}}" name="surname_en" ng-required="true"> 
            <!--<span class="text-danger" ng-show="addStuffForm.surname_en.$error.required" >First Name is required</span> -->
          </div> 
        </div> 
      </div>
    </div>
    
      <div class="form-group">
      	<label class="col-lg-3 control-label">{{"SECRETARY.STUFF.N" | translate}}<span class="text-danger">*</span>, {{"SECRETARY.STUFF.S" | translate}}<span class="text-danger">*</span>{{"SECRETARY.STUFF.INR" | translate}}</label>
         <div class="col-lg-8"> 
          <div class="row"> 
            <div class="col-md-4"> 
              <input ng-model="stuff.nameRu" type="text" class="form-control" placeholder="{{'SECRETARY.STUFF.N' | translate}}" name="name_ru" ng-required="true"> 
              <!--<span class="text-danger" ng-show="addStuffForm.name_ru.$error.required" >First Name is required</span> -->
            </div> 
            <div class="col-md-4"> 
              <input ng-model="stuff.surnameRu" type="text" class="form-control" placeholder="{{'SECRETARY.STUFF.S' | translate}}" name="surname_ru" ng-required="true"> 
              <!--<span class="text-danger" ng-show="addStuffForm.surname_ru.$error.required" >First Name is required</span> -->
            </div> 
          </div> 
        </div>
      </div>
     
      <div class="line line-dashed line-lg pull-in"></div>
      
<!--         <div class="form-group"> -->
<!--           <label class="col-lg-3 control-label">Staff number</label> -->
<!--             <div class="col-lg-6">  -->
<!--               <input ng-model="stuff.stuffNum" type="text" class="form-control" name="stuff_number"> -->
<!--             </div> -->
<!--         </div> -->
        <div class="form-group">
        	<label class="col-lg-3 control-label">{{"SECRETARY.STUFF.PN" | translate}}</label>
           <div class="col-lg-6"> 
             <input ng-model="stuff.phone"  type="text" class="form-control" name="phone"> 
           </div>
        </div>
        <div class="form-group"> 
         <label class="col-sm-3 control-label">{{"SECRETARY.STUFF.BD" | translate}}</label> 
           <div class="col-sm-6"> 
             <p class="input-group mydatepicker">
			 <input  type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="datepicker.date" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" close-text="Close" />
			    <span class="input-group-btn">
			      <button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			    </span>
		  	</p>
           </div> 
         </div>
         <div class="form-group">
         <label class="col-lg-3 control-label">{{"SECRETARY.STUFF.PA" | translate}}</label>
           <div class="col-lg-6"> 
             <input ng-model="stuff.permadr" type="textarea" name="per_address" class="form-control"> 
           </div>
         </div>
         <div class="form-group">
           <label class="col-lg-3 control-label">{{"SECRETARY.STUFF.CA" | translate}}</label>
             <div class="col-lg-6">
               <input ng-model="stuff.curradr" type="textarea" name="curr_address" class="form-control">
             </div>
         </div>
         
         
         

         <div class="form-group">
         <label class="col-lg-3 control-label">{{"SECRETARY.STUFF.Passport" | translate}}</label>
           <div class="col-lg-6"> 
             <input ng-model="stuff.passportNo" type="text" name="passport" class="form-control"> 
           </div>
         </div>
         <div class="form-group">
         <label class="col-lg-3 control-label">{{"SECRETARY.STUFF.E" | translate}}</label>
           <div class="col-lg-6"> 
             <input ng-model="stuff.email" type="email" name="email" class="form-control"> 
           </div>
         </div>
         <div class="form-group">
          <label class="col-lg-3 control-label">{{'SECRETARY.STUFF.PHOTO' | translate}}</label>
            <div class="col-lg-6"> 
              <input file-model="photo" type="file">
            </div>
          </div>
         
         <div class="form-group">
         </div>
         <div class="form-group">
         <label class="col-lg-3 control-label"></label>
           <div class="col-lg-6">
           	 <button type="submit" class="btn btn-s-md btn-success">{{"SECRETARY.STUFF.Save" | translate}}</button>
             <a href="#/list_stuff" class="btn btn-s-md btn-default">{{"SECRETARY.STUFF.Cancel" | translate}}</a>
           </div>
         </div>
       </div>
       </form>
  
</section>
</div>
</div>