<div class="row">
<div class="col-lg-12">
	<div class="panel">
		<header class="panel-heading bg-danger" style="font-size:20px">{{ "STUDENT.EDIT.MC" | translate }}</header>
		</bg>
		</bg>
		<div class="panel-body" >
		<div class="table-responsive ">
			<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper " role="grid">
				<div class="row">
					
					
                 </div><!--end of row-->
                 <table style="display:none; background-color:blue; color:#FB3F4;">
                      		<thead>
							      <tr>
							        <td class="subject">{{ "STUDENT.EDIT.S" | translate }} </td>
							        <td class="teacher">{{ "STUDENT.EDIT.TR" | translate }} </td>
							        <td class="average">{{ "STUDENT.EDIT.AVERAGE" | translate }} </td>
							        <td class="hours">{{ "STUDENT.EDIT.HOURS" | translate }} </td>
							        <td class="info">{{ "STUDENT.EDIT.INFO" | translate }} </td>
							    </tr>
						    </thead>
						</table>
                      <table  ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable " style="background-color:#FFCAC4; color:#111;"">
                          <tr ng-repeat="course in courses" ng-class="{odd: $odd, even: $even}" >
                            <td data-title="getTitle('subject')" sortable="'subject'" >{{course.lesson.name}}</td>
                            <td data-title="getTitle('teacher')" sortable="'teachers'">{{getLanguage() == 'en' ? course.teacher.nameEn+" "+course.teacher.surnameEn : course.teacher.nameRu+" "+course.teacher.surnameRu}}</td>
                            <td data-title="getTitle('average')" class="studentCourseStyle"  sortable="'average'">{{}}</td>
                            <td data-title="getTitle('hours')" class="studentCourseStyle"  sortable="'hours'" filter="false">{{}}</td>
                       		<td data-title="getTitle('info')"  class="studentCourseStyle" ></td>
                          </tr>
                      </table>
                      </bg>
                      <div class="form-inline"> </div>
                      </div><!--end of datatables 0 wrapper-->
                      </div>
                    </div><!--end of table resp-->
					<header class="panel-heading bg-danger" style="font-size:20px">  </header>
                    </div><!--panel-->
                  </div><!--end col-lg-12-->
</div>
                <!--/div><!-row-->
<script type="text/ng-template" id="custom/pager">
        <ul class="pager ng-cloak">
          <li ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
          </li>
            <li> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
            </li>
        </ul>
</script>