<div class="col-lg-12"> 
<section class="panel">
	<header class="panel-heading bg-dark" >Monitoring by class</header>
		<div class="panel-body">
		 <form ng-submit="sortList()">
			<div class="col-sm-12">
				<label class="col-sm-2 control-label" style="top: 7px;">Select course:</label>
				<div class="col-lg-2">
					<select ng-model="cGroupId" name="class" class="form-control">	
	                	<option ng-repeat="CGroup in CGroupes" value="{{CGroup.id}}">{{CGroup.grade.grade}}{{CGroup.classLetter.letter}}</option>
	             	</select> 
				</div>
				<div class="col-lg-3">
					<select ng-model="quarterId" name="class" class="form-control">	
		             	<option ng-repeat="quarter in quarters" value="{{quarter.id}}">{{quarter.name}}</option>
		          	</select> 
				</div>
				<div class="col-lg-2">
					<select ng-model="yearId" name="year" class="form-control">	
		             	<option ng-repeat="year in years" value="{{year.id}}">{{year.year | date:'yyyy'}} - {{year.year + 31569000000 | date: 'yyyy'}}</option>
		          	</select> 
				</div>
		        <div class="col-lg-2">
		        	<button class="btn btn-default btn-success">Apply</button>	 
		        </div>
			</div>
			</form>
		</div>
</section>
</div>

<div class="col-lg-12">
	<section class="panel">
			<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none text-sm" show-filter="false" style="border-top: 1px solid #e0e4e8;" >
                  	<tr ng-repeat="classnote in classnotes" ng-class="{odd: $odd, even: $even}">
						<td data-title="'Course'" style="width: 300px;">{{classnote.course.lesson.name}}</td>
                     	<td data-title="'-5-'" style="text-align:center;">{{classnote.five}}</td>
                     	<td data-title="'-4-'" style="text-align:center;">{{classnote.four}}</td>
                     	<td data-title="'-3-'" style="text-align:center;">{{classnote.three}}</td>
                     	<td data-title="'-2-'" style="text-align:center;">{{classnote.two}}</td>
                     	<td data-title="'% of quality'" style="text-align:center; width: 120px;">
                     		<div ng-if="classnote.quantity !== 0">{{classnote.quantity | number: 0 }}</div>
                     		<div ng-if="classnote.quantity == 0">{{}}</div>
                     	</td>
                     	<td data-title="'% of progress'" style="text-align:center; width: 120px;">
                     		<div ng-if="classnote.progress !== 0">{{classnote.progress | number: 0 }}</div>
                     		<div ng-if="classnote.progress == 0">{{}}</div>
                     	</td>
                     	<td data-title="'Teacher'" style="text-align:left;">{{classnote.course.teacher.nameEn + ' ' +classnote.course.teacher.surnameEn}}</td>
                    </tr>
			</table>
		
		
	</section>
</div>










