<div class="col-lg-12"> 
<section class="panel">
	<header class="panel-heading bg-dark" >Monitoring by course</header>
		<div class="panel-body">
		 <form ng-submit="sortList()">
			<div class="col-sm-12">
				<label class="col-sm-2 control-label" style="top: 7px;">Select course:</label>
				<div class="col-lg-2">
	             	<select ng-model="course.classGroup.id" name="class" class="form-control">	
	                	<option ng-repeat="CGroup in CGroupes" value="{{CGroup.id}}">{{CGroup.grade.grade}}{{CGroup.classLetter.letter}}</option>
	             	</select> 
				</div>
				<div class="col-sm-2">
					<select ng-model="courseId" name="course" class="form-control" required>
		            	<option ng-repeat="course in courses" ng-value="{{course.id}}">{{course.lesson.name}}</option>
		        	</select>
				</div>
				<div class="col-sm-2">
					<select ng-model="yearId" name="year" class="form-control" required>
		            	<option ng-repeat="year in years" value="{{year.id}}">{{year.year | date:'yyyy'}} - {{year.year + 31569000000 | date: 'yyyy'}}</option>
		        	</select>
				</div>
		        <div class="col-lg-2">
		        	<button class="btn btn-default btn-success">Apply</button>	 
		        </div>
			</div>
			</form>
		</div>
</section>
</div>

<div class="col-lg-12">
	<section class="panel">
			<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none text-sm" show-filter="false" style="border-top: 1px solid #e0e4e8;" >
                  	<tr ng-repeat="coursenote in coursenotes" ng-class="{odd: $odd, even: $even}">
						<td data-title="'Student'" style="width: 300px;">{{coursenote.name}}</td>
                     	<td data-title="'1st quarter'" style="text-align:center;">
                     		<div ng-if="coursenote.quarter1 !== -1">{{coursenote.quarter1}}</div>
                     		<div ng-if="coursenote.quarter1 == -1">{{}}</div>
                     	</td>
                     	<td data-title="'2nd quarter'" style="text-align:center;">
                     		<div ng-if="coursenote.quarter2 !== -1">{{coursenote.quarter2}}</div>
                     		<div ng-if="coursenote.quarter2 == -1">{{}}</div>
                     	</td>
                     	<td data-title="'3rd quarter'" style="text-align:center;">
                     		<div ng-if="coursenote.quarter3 !== -1">{{coursenote.quarter3}}</div>
                     		<div ng-if="coursenote.quarter3 == -1">{{}}</div>
                     	</td>
                     	<td data-title="'4th quarter'" style="text-align:center;">
                     		<div ng-if="coursenote.quarter4 !== -1">{{coursenote.quarter4}}</div>
                     		<div ng-if="coursenote.quarter4 == -1">{{}}</div>
                     	</td>
                     	<td data-title="'Last year'" style="text-align:center;">
                     		<div ng-if="coursenote.lastYear !== -1">{{coursenote.lastYear}}</div>
                     	<div ng-if="coursenote.lastYear == -1">{{}}</div>
                     	</td>
                     	<td data-title="'Entry Exam'" style="text-align:center;">
                     		<div ng-if="coursenote.entryExam !== -1">{{coursenote.entryExam}}</div>
                     		<div ng-if="coursenote.entryExam == -1">{{}}</div>
                     	</td>
                     	<td data-title="'GOS exam'" style="text-align:center;">
                     		<div ng-if="coursenote.gosExam !== -1">{{coursenote.gosExam}}</div>
                     		<div ng-if="coursenote.gosExam == -1">{{}}</div>
                     	</td>
                    </tr>
			</table>
		
		
	</section>
</div>










