<nav class="nav-primary hidden-xs">
                
                <ul class="nav">
                  <li><!--edited *******************************************-->
                    <a href="../accounting">
                      <i class="icon-group"></i>
                      <span>{{ "ACCOUNTANT.ACCOUNTING.Student_list" | translate }}</span>
                    </a>
                  </li>  
                  <li>
                  <a href="../annual_fee">
                      <i class="icon-usd"></i>
                      <span>{{ "ACCOUNTANT.ACCOUNTING.Set_annual_fee" | translate }}</span>
                    </a>
                  </li>          
                  <li>
                  		<a href="../material">
                      <i class="icon-usd"></i>
                      <span>{{ "ACCOUNTANT.MATERIAL.Inventory" | translate }}</span>
                    </a>
                  </li>
                  <li>
                  		<a href="../edit">
                      <i class="icon-gear"></i>
                      <span>{{"COMMON.SEC_CHANGE" | translate}}</span>
                    </a>
                  </li>           
                </ul>
                
</nav>  