<div class="row">
	<div class="col-sm-6">
		<section class="panel">
			<header class="panel-heading font-bold bg-danger">  {{"LIBRARY.STATUS.Edit_status_name" | translate}} </header>
				<div class="panel-body">
					<form class="form-horizontal" role="form" ng-submit="update()">
						<div class="form-group">
							<label class="col-lg-3 control-label">{{"LIBRARY.STATUS.Status_name" | translate}}</label>
								<div class="col-lg-9">
									<input ng-model="status.name" type="text" class="form-control" required>
								</div>
						</div>
									<!-- BUTTON ng-click -->
						<button type="submit" class="btn btn-success pull-right">{{"LIBRARY.STATUS.Submit" | translate}}</button>
					</form>
				</div>
		</section>
	</div>
</div>