<div class="tab-content">
	<section class="tab-pane active" id="addlesson">
		<div class="panel">
			<div class="panel-body">
				<div class="col-sm-6">

					<section class="panel">
						<header class="panel-heading font-bold bg-danger">{{"LIBRARY.STATUS.Status_List" | translate}}</header>
						 <table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th>{{"LIBRARY.STATUS.Status_name" | translate}}</th>
                          <!-- 	<th>Operations</th> -->
                          </tr>
                          <tr ng-repeat="status in statuses" ng-class="{odd: $odd, even: $even}">
                            <td >{{status.name}}</td>
                            <td data-title="'Opearations'" width="70">
                            	<div align="center">
									<a href="#edit_status/{{status.id}}" data-toggle="modal" tooltip="Edit" data-placement="top"> <i class="icon-pencil"></i></a> 
                                	<a href="javascript:void(0)" ng-click="deleteStatus(status.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td> 
							</tr>
						 </table>
					</section>
				</div> 
				<div class="row">
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading font-bold bg-danger">{{"LIBRARY.STATUS.Add_new_Status" | translate}}</header>
							<div class="panel-body">
								<form class="form-horizontal" role="form" ng-submit="save()" >
									<div class="form-group">
										<label class="col-lg-3 control-label">{{"LIBRARY.STATUS.Status_name" | translate}}<span class="text-danger">*</span></label>
										<div class="col-lg-9">
											<input ng-model="status.name" type="text" class="form-control" placeholder="Enter Status name" required>
										</div>
																			
									</div>
									<button type="submit" class="btn btn-success pull-right">{{"LIBRARY.STATUS.Submit" | translate}}</button>
								</form>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>