          <div class="row">
            <div class="col-lg-12">
              <section class="panel">
                <div class="panel-body">
                  <div class="clearfix m-b">
                    <div class="pull-left ">
                   	   <a href="" class="pull-left thumb m-r">
                    	 <img ng-src="../../../file/{{student.photo}}" style="max-width: 200px; max-height: 333px; margin: 10px" />
                       </a>
                   	  </div>
                      <div class="clear"  style="margin-left:260px;">
                        <div class="h3 m-t-xs m-b-xs"><div  ng-model="student.nameEn" name="name_en" >
                        {{student.nameEn+ " " +student.surnameEn}}</div></div>
                        <strong>
							<div  ng-model="student.nameRu" name="name_ru" >
                       			{{student.nameRu+ " " +student.surnameRu}}</div>
						</strong>
                      </div>                
                  </div>
                  <div class="well m-t">
                    <div class="row"> 
                      <div class="col-lg-6">
                        <p>{{"SECRETARY.STUDENTS.GROUP" | translate}}: 
                     	<strong>
                			{{student.classGroup.classLetter.letter}}
                     	</strong>
                        </p>
                        <p>{{"SECRETARY.STUDENTS.ES" | translate}}: <strong>{{"SECRETARY.STUDENTS.Approved" | translate}}</strong></p>
                        <p>{{"SECRETARY.STUDENTS.BD" | translate}}: <strong ng-model="student.birthDate">{{student.birthDate |  date:'dd.MM.yyyy'}}</strong></p>
                        <p>{{"SECRETARY.STUDENTS.CA2" | translate}}: <strong ng-model="student.currAdress">{{student.currAdress}}</strong></p>
                        <p>{{"SECRETARY.STUDENTS.PA2" | translate}}: <strong ng-model="student.permAdress">{{student.permAdress}}</strong></p>
                        <p style="text-transform:uppercase;">{{"SECRETARY.STUDENTS.TN" | translate}}: <strong ng-model="student.phoneNum">{{student.phoneNum}}</strong></p>
                        <p style="text-transform:uppercase;">{{"SECRETARY.STUDENTS.EMAIL" | translate}}: <strong ng-model="student.email">{{student.email}}</strong></p>
                        <p style=" text-transform: uppercase;" >{{"SECRETARY.STUDENTS.REG" | translate}}: <strong ng-model="student.studentNum">{{student.studentNum}}</strong></p>
                      </div>
                      <div class="col-lg-6">
                      
                        <p style="text-transform:uppercase;"> <strong >{{"SECRETARY.STUDENTS.PINFO" | translate}}</strong></p>
                        <p style="text-transform:uppercase;">{{"SECRETARY.STUDENTS.PNAME" | translate}}: <strong ng-model="student.parents">{{student.parents.parent1}}</strong></p>
                        <p style="text-transform:uppercase;">{{"SECRETARY.STUDENTS.PPHNUM" | translate}}: <strong ng-model="student.parents">{{student.parents.parent1Number}}</strong></p>
                        <p></p>
                        <p><strong>{{"SECRETARY.STUDENTS.PI" | translate}}:</strong></p>
                        <p>{{"SECRETARY.STUDENTS.AF" | translate}}: <strong>{{stud_accounting.anualFee}}</strong>
                        <p>{{"SECRETARY.STUDENTS.PAID" | translate}}: <strong>{{stud_accounting.payed}}</strong>     
                        <p>{{"SECRETARY.STUDENTS.LEFT" | translate}}: <strong>{{stud_accounting.anualFee - stud_accounting.payed}}</strong></p>
                        <p>{{"SECRETARY.STUDENTS.S" | translate}}: <strong ng-model="student.status">{{student.status.name}}</strong></p>
                      </div>
                    </div>     
                  </div>
                </div>
              </section>
             </div>
            </div>