 <div class="collapse navbar-collapse pull-in">
	<ul class="nav navbar-nav m-l-n">
   	
		<li><a href="#/mon_by_course">Monitoring by course</a></li>  
		<li><a href="#/mon_by_class">Monitoring by class</a></li>   
   
	</ul>
<ul ng-include src="'../../common/templates/user.html'"></ul>	
 </div>	