<div class="row">
<div class="col-sm-6">
  <section class="panel">
	<header class="panel-heading bg-success"> {{"SECRETARY.GROUP.EG" | translate}} </header>
	  <div class="panel-body">
		<form name="editGroup" class="form-horizontal" role="form"  ng-submit="update()" >
			<div class="form-group">
				<label class="col-lg-3 control-label">{{"SECRETARY.GROUP.GROUP" | translate}}<span class="text-danger">*</span></label>
				<div class="col-lg-9">
					<div class="col-lg-6">
		              	<input ng-model="group.grade.grade" name="grade" class="form-control" readonly/>
					</div>
					<div class="col-lg-6">
		              	<input ng-model="group.classLetter.letter" name="classLetter" class="form-control" readonly/>
					</div>
				</div>
				<div class="form-group"></div>
				<label class="col-lg-3 control-label">{{"SECRETARY.GROUP.TEACHER" | translate}}</label>
				<div class="col-lg-9">
					<select ng-model="group.teacher.id" name="teacher" class="form-control" >
		            	<option ng-selected="group.teacher.id == teacher.id" ng-repeat="teacher in teachers" value="{{teacher.id}}">{{teacher.nameEn}} {{teacher.surnameEn}}</option>
		            </select> 
				</div>
				<div class="form-group"></div>
				<label class="col-lg-3 control-label">{{"SECRETARY.TIMETABLE.SCHT" | translate}}</label>
	            <div class="col-lg-8"> 
	              <select ng-model="group.classHourType.id" name="classHourType" class="form-control">
	                <option ng-repeat="classHoursType in classHoursTypes" value="{{classHoursType.id}}">{{classHoursType.name}}</option>
	              </select> 
	            </div>
				<div class="form-group"></div>
				<label class="col-lg-3 control-label">{{"SECRETARY.GROUP.ROOM" | translate}}<span class="text-danger">*</span></label>
				<div class="col-lg-9">
					<input ng-model="group.room" type="text" class="form-control" name="room" required/> 
				</div>
				<div class="form-group"></div>
				<label class="col-lg-3 control-label">{{"SECRETARY.GROUP.DESC" | translate}}</label>
				<div class="col-lg-9">											
        								<textarea ng-model="group.description" rows="3" class="form-control" name="description"></textarea>
				</div>
				<div class="form-group"></div>
			<!-- BUTTON ng-click -->
	  		<button type="submit" class="btn btn-success pull-right">{{"SECRETARY.LESSON.UP" | translate}}</button>
  		<a href=#/group>
		<button class="btn btn-s-md btn-default" type="#" ng-click="cancel()">{{"SECRETARY.LESSON.CANE" | translate}}</button>
       </form>
 </div>
 </section>
 </div>
 </div>