<div class="tab-content">
	<section class="tab-pane active" name="addgroup">
		<div class="panel">
			<div class="panel-body">
				<div class="col-sm-6">

					<section class="panel">
						<header class="panel-heading bg-success">{{"SECRETARY.GROUP.LIST" | translate}}</header>
						 <table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th class="g">{{"SECRETARY.GROUP.GROUP"| translate}}</th>
                        	<th class="t">{{"SECRETARY.GROUP.TEACHER"| translate}}</th>
                        	<th class="r">{{"SECRETARY.GROUP.ROOM"| translate}}</th>
                        	<th class="d">{{"SECRETARY.GROUP.DESC"| translate}}</th>
                          </tr>
                          <tr ng-repeat="group in groups" value="{{group.id}}" ng-class="{odd: $odd, even: $even}">
                            <td >{{group.grade.grade + group.classLetter.letter}}</td>
                            <td >{{group.teacher.nameRu}} {{group.teacher.surnameRu}}</td>
                            <td >{{group.room}}</td>
                            <td >{{group.description}}</td>
                            <td data-title="'Opearations'" width="70">
                            	<div align="center">
									<a href="#edit_group/{{group.id}}" data-toggle="modal" tooltip="Edit" data-placement="top"> <i class="icon-pencil"></i></a> 
                                	<a href="javascript:void(0)" ng-click="deleteGroup(group.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td>
							</tr>
						 </table>
					</section>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading bg-success"> {{"SECRETARY.GROUP.ANG" | translate}} </header>
							<div class="panel-body">
								<form name="add_group_form" class="form-horizontal" role="form" ng-submit="submitGroup()">
									<div class="form-group">
										<label class="col-lg-3 control-label">{{"SECRETARY.GROUP.GROUP" | translate}}<span class="text-danger">*</span></label>
										<div class="col-lg-9">
											<div class="col-lg-6">
												<select ng-model="group.grade.id" name="grade" class="form-control" required>
								              		<option value="">{{'SECRETARY.STUDENTS.Select' | translate}}</option>
								                	<option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.grade}}</option>
								              	</select> 
											</div>
											<div class="col-lg-6">
												<select ng-model="group.classLetter.id" name="classLettr" class="form-control" required>
								              		<option value="">{{'SECRETARY.STUDENTS.Select' | translate}}</option>
								                	<option ng-repeat="letter in letters" value="{{letter.id}}">{{letter.letter}}</option>
								              	</select> 
											</div>
										</div>
										<div class="form-group"></div>
										<label class="col-lg-3 control-label">{{"SECRETARY.GROUP.TEACHER" | translate}}</label>
										<div class="col-lg-9">
											<select ng-model="group.teacher.id" name="teacher" class="form-control" >
								            	<option value="">{{'SECRETARY.STUDENTS.Select' | translate}}</option>
								                <option ng-repeat="teacher in teachers" value="{{teacher.id}}">{{teacher.nameEn}} {{teacher.surnameEn}}</option>
								            </select> 
										</div>
										<div class="form-group"></div>
										<label class="col-lg-3 control-label">{{"SECRETARY.GROUP.ROOM" | translate}}<span class="text-danger">*</span></label>
										<div class="col-lg-9">
											<input ng-model="group.room" type="text" class="form-control" name="room" required/> 
										</div>
										<div class="form-group"></div>
										<label class="col-lg-3 control-label">{{"SECRETARY.TIMETABLE.SCHT" | translate}}</label>
							            <div class="col-lg-8"> 
							              <select ng-model="group.classHourType.id" name="classHourType" class="form-control">
							                <option ng-repeat="classHoursType in classHoursTypes" value="{{classHoursType.id}}">{{classHoursType.name}}</option>
							              </select> 
							            </div>
										<div class="form-group"></div>
										<label class="col-lg-3 control-label">{{"SECRETARY.GROUP.DESC" | translate}}</label>
										<div class="col-lg-9">											
              								<textarea ng-model="group.description" rows="3" class="form-control" name="description"></textarea>
										</div>
										<div class="form-group"></div>
									<!-- BUTTON ng-click -->
									<button  type="submit" class="btn btn-success pull-right">{{"SECRETARY.LESSON.SUB" | translate}}</button>
								</form>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>




 