<div class="row">
<div class="col-lg-12">
                    <div class="panel">
                    <header class="panel-heading bg-danger">
                  {{"LIBRARY.BOOKS.Book_list" | translate}}
                    </header>
                    <div class="table-responsive">
                      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                      <div class="row">
                        <div class="col-sm-6">
                          <div id="DataTables_Table_0_length" class="dataTables_length">
                            <label> 
                              {{"LIBRARY.BOOKS.SHOW" | translate}}
                              <select ng-model="count" size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="dataTables_filter"><a href="#/add_book" class="btn btn-success btn-sm">{{"LIBRARY.BOOKS.Add_new_book" | translate}}&nbsp;<i class="icon-plus"></i></a></div>
                          <div class="dataTables_filter"><span class="btn btn-default btn-sm">{{"LIBRARY.BOOKS.Result" | translate }} : {{tableParams.total()}}</span></div>

                          </div>
                        </div>
                        </div><!--end of row-->
                    <table style="display:none">
                 		<thead >
                          	<tr>
                          		<td>#</td>
                          		<td class="book" >{{"LIBRARY.BOOKS.BOOK_NAME" | translate}}</td>
                          		<td class="author">{{"LIBRARY.BOOKS.AUTHOR" | translate}}</td>
                          		<td class="category">{{"LIBRARY.BOOKS.CATEGORY" | translate}}</td>
                          		<td class="status">{{"LIBRARY.BOOKS.STATUS" | translate}}</td>
                          		<td class="cost">{{"LIBRARY.BOOKS.COST" | translate}}</td>
                          		<td class="barcode">{{"LIBRARY.BOOKS.BARCODE" | translate}}</td>
                          		<td class="invent">{{"LIBRARY.BOOKS.INVENT" | translate}}</td>
                          		<td class="year">{{"LIBRARY.BOOKS.YEAR" | translate}}</td>
                          	</tr>
                          </thead>
                 	</table>
                        
                        <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" style="border-top: 1px solid #e0e4e8;" >
                          <tr ng-repeat="book in $data" ng-class="{odd: $odd, even: $even}">
                          	<td data-title="'#'">{{$index + 1}}.</td>
							<td data-title="getTitle('book')" sortable="'name'" filter="{ 'name': 'text' }" style="width: 220px;">{{book.bookType.name}}</td>
                            <td data-title="getTitle('author')" sortable="'author'" filter="{ 'author': 'text' }" width="200">{{book.bookType.author}}</td>
                            <td data-title="getTitle('category')" filter="{ 'categoryName': 'text' }" style="text-align:center; width: 150px;">{{book.bookType.category.name}}</td>
                            <td data-title="getTitle('status')" filter="{ 'bookStatus': 'text' }" align="center" width="110">{{book.bookStatus.name}}</td>
                            <td data-title="getTitle('cost')" sortable="'cost'" filter="{ 'cost': 'text' }" style="text-align:center; width: 50px;">{{book.bookType.cost}}</td>
                          	<td data-title="getTitle('barcode')" filter="{ 'barcode': 'text' }"   style="text-align:center; width: 130px;">{{book.barcode}}</td>
                          	<td data-title="getTitle('invent')" filter="{ 'invenNo': 'text' }"  style="text-align:center; width: 130px;">{{book.invenNo}}</td>
                          	<td data-title="getTitle('year')" sortable="'publishYear'" style="text-align:center; width: 50px;">{{book.bookType.publishYear}}</td>
                            <td data-title="''" align="center" >
                          		<a href="#edit_book/{{book.id}}" tooltip="Edit"><i class="icon-pencil"></i></a>&nbsp;
                                <a href="javascript:void(0)" ng-click="deleteBook(book.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
                               
                          	</td>
                           </tr>
                  	  </table>
                  	  
                      </div><!--end of datatables 0 wrapper-->
                      
                    </div><!--end of table resp-->
                    </div><!--panel-->
                  </div><!--end col-lg-12-->
                  </div> 
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>
