<div class="row">
<div class="col-lg-12">
<section class="panel">
<header class="panel-heading bg-danger">{{"LIBRARY.BOOKS.Please_enter_information_below" | translate}}</header>
  <div class="panel-body">
  <form name="addCourse" class="bs-example form-horizontal" ng-submit="submitted()">
    <div class="col-sm-6">
        <div class="form-group">
          <label class="col-lg-3 control-label">{{"LIBRARY.BOOKS.Book_Type_name" | translate}}</label>
            <div class="col-lg-8"> 
              <select ng-model="book.bookType.id" name="book" class="form-control">	
                <option ng-selected="book.bookType.id == booktype.id" ng-repeat="booktype in books" value="{{booktype.id}}">{{booktype.name}}</option>
              </select> 
            </div>
          </div>
         <div class="form-group">
          <label class="col-lg-3 control-label">{{"LIBRARY.BOOKS.Barcode" | translate}}</label>
            <div class="col-lg-6"> 
              <input ng-model="book.barcode" type="text" class="form-control" name="barcode">
            </div>
        </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"LIBRARY.BOOKS.Invent_number" | translate}}</label>
            <div class="col-lg-6"> 
              <input ng-model="book.invenNo" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">{{"LIBRARY.BOOKS.Book_Status" | translate}}</label>
            <div class="col-lg-6"> 
              <select ng-model="book.bookStatus.id" name="status" class="form-control">	
                <option ng-selected="book.bookStatus.id == status.id" ng-repeat="status in statuses" value="{{status.id}}">{{status.name}}</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label"></label>
            <div class="col-lg-6">
              <button type="submit" class="btn btn-s-md btn-success">{{"LIBRARY.BOOKS.Submit" | translate}}</button>
              <a href="#/books" type="#" class="btn btn-s-md btn-default">{{"LIBRARY.BOOKS.Cancel" | translate}}</a>
            </div>
          </div>
    </div>
    </form>
  </div>
        <div class="line line-dashed line-lg pull-in"></div>
  </section>
  </div>
  </div>