<nav class="nav-primary hidden-xs">
	<ul class="nav">
		<li>
		<a href="../course/#/list"> <i class="icon-group"></i> <span>{{"COMMON.MYCOURSE" | translate}}</span></a>
		</li>
		<li><a href="../syllabus/#/list"> <i class="icon-female"></i><span>{{"COMMON.SYL" | translate}}</span>
		</a></li>
		<li><a href="../std_marks/#/list"> <i class="icon-male"></i> <span>{{"COMMON.MARK" | translate}}</span>
		
		<li><a href="../category/#/list"> <i class="icon-male"></i> <span>Syllabus category</span>
		</a></li>
		
		<li><a href="../annual_grades/#/examlist"> <i class="icon-male"></i> <span>Annual grades</span>
		</a></li>
		<li><a href="../edit/#/edit"><i class="icon-gear"></i><span>Change password</span>
		
		</a></li>
	</ul>
</nav>