<div class="row">
<div class="col-sm-6">
  <section class="panel">
	<header class="panel-heading bg-primary font-bold" > {{"DOCTOR.PERIOD.EP"| translate}} </header>
	  <div class="panel-body">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{"DOCTOR.PERIOD.N"| translate}}<span class="text-danger">*</span></label>
				<div class="col-lg-9">
					<input ng-model="period.name" type="text" class="form-control" placeholder="" required>
				</div>
			</div>
			<div class="form-group"> 
	         <label class="col-sm-3 control-label">{{"DOCTOR.PERIOD.DF" | translate}}<span class="text-danger">*</span></label> 
	           <div class="col-sm-6"> 
	             <p class="input-group mydatepicker">
				 <input  type="text" class="form-control" datepicker-popup="{{datepicker1.format}}" ng-model="period.dateFrom" is-open="datepicker1.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" close-text="Close" required/>
				    <span class="input-group-btn">
				      <button type="button" class="btn btn-default" ng-click="datepicker1.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				    </span>
			  	</p>
	           </div> 
	        </div>
	        <div class="form-group"> 
	         <label class="col-sm-3 control-label">{{"DOCTOR.PERIOD.DT" | translate}}<span class="text-danger">*</span></label> 
	           <div class="col-sm-6"> 
	             <p class="input-group mydatepicker">
				 <input  type="text" class="form-control" datepicker-popup="{{datepicker2.format}}" ng-model="period.dateTo" is-open="datepicker2.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" close-text="Close" required/>
				    <span class="input-group-btn">
				      <button type="button" class="btn btn-default" ng-click="datepicker2.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				    </span>
			  	</p>
	           </div> 
	        </div>
			<div class="form-group">
				<div class="form-group"></div>
				<label class="col-lg-3 control-label">{{"DOCTOR.PERIOD.D"| translate}}<span class="text-danger">*</span></label>
				<div class="col-lg-9">
					<textarea ng-model="period.description" rows="2" class="form-control"
						placeholder="" required></textarea>
				</div>
			</div>
			<!-- BUTTON ng-click -->
			<button ng-click="update()" type="submit"
				class="btn bg-primary pull-right">{{"DOCTOR.COMMON.Update"| translate}}</button>
		</form>
	</div>
 </section> 	
 </div>
 </div>