<div class="tab-content">
	<section class="tab-pane active" id="News">
		<div class="panel">
			<div class="panel-body">
				<div class="col-sm-6">

					<section class="panel">
						<header class="panel-heading bg-primary" >{{"DOCTOR.PERIOD.PL"| translate}}</header>
						 <table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th>{{"DOCTOR.PERIOD.PN"| translate}}</th>
                          	<th>{{"DOCTOR.PERIOD.DF"| translate}}</th>
                          	<th>{{"DOCTOR.PERIOD.DT"| translate}}</th>
                          	<th>{{"DOCTOR.PERIOD.D"| translate}}</th>
                          </tr>
                          <tr ng-repeat="period in periods" value="{{period.id}}" ng-class="{odd: $odd, even: $even}">
                            <td >{{period.name}}</td>
                            <td >{{period.dateFrom | date: 'dd-MM-yyyy'}}</td>
                            <td >{{period.dateTo | date: 'dd-MM-yyyy'}}</td>
                            <td>{{period.description}}</td>
                            <td data-title="'Opearations'" width="70">
                            	<div align="center">
									<a href="#edit_period/{{period.id}}" data-toggle="modal" tooltip="Edit" data-placement="top"> <i class="icon-pencil"></i></a> 
                                	<a href="javascript:void(0)" ng-click="deletePeriod(period.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td>
							</tr>
						 </table>
					</section>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading bg-primary ">{{"DOCTOR.PERIOD.ANP"| translate}}</header>
							<div class="panel-body">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-lg-3 control-label">{{"DOCTOR.PERIOD.N"| translate}}<span class="text-danger">*</span></label>
										<div class="col-lg-9">
											<input ng-model="period.name" type="text" class="form-control" placeholder="" required>
										</div>
									</div>
									<div class="form-group"> 
							         <label class="col-sm-3 control-label">{{"DOCTOR.PERIOD.DF" | translate}}<span class="text-danger">*</span></label> 
							           <div class="col-sm-6"> 
							             <p class="input-group mydatepicker">
										 <input  type="text" class="form-control" datepicker-popup="{{datepicker1.format}}" ng-model="period.dateFrom" is-open="datepicker1.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" close-text="Close" required/>
										    <span class="input-group-btn">
										      <button type="button" class="btn btn-default" ng-click="datepicker1.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
										    </span>
									  	</p>
							           </div> 
							        </div>
							        <div class="form-group"> 
							         <label class="col-sm-3 control-label">{{"DOCTOR.PERIOD.DT" | translate}}<span class="text-danger">*</span></label> 
							           <div class="col-sm-6"> 
							             <p class="input-group mydatepicker">
										 <input  type="text" class="form-control" datepicker-popup="{{datepicker2.format}}" ng-model="period.dateTo" is-open="datepicker2.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" close-text="Close" required/>
										    <span class="input-group-btn">
										      <button type="button" class="btn btn-default" ng-click="datepicker2.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
										    </span>
									  	</p>
							           </div> 
							        </div>
									<div class="form-group">
										<div class="form-group"></div>
										<label class="col-lg-3 control-label">{{"DOCTOR.PERIOD.D"| translate}}<span class="text-danger">*</span></label>
										<div class="col-lg-9">
											<textarea ng-model="period.description" rows="2" class="form-control"
												placeholder="" required></textarea>
										</div>
									</div>
									<!-- BUTTON ng-click -->
									<button ng-click="submitPeriod()" type="submit"
										class="btn bg-primary pull-right">{{"DOCTOR.COMMON.Save"| translate}}</button>
								</form>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>