<div class="row">
	                <div class="col-lg-12">
	                  <section class="panel">
	                    <header class="panel-heading font-bold bg-danger">{{"LIBRARY.SETTINGS.Edit_login_and_password" | translate}}</header>
	                    <div class="panel-body">
	                      <form name="editUser" class="form-horizontal" ng-submit="update()">
	                        <div class="col-sm-12">
	                     
	                      <div class="form-group">
	                        <label class="col-lg-3 control-label">{{"LIBRARY.SETTINGS.Login" | translate}}</label>
	                          <div class="col-lg-4"> 
	                            <input ng-model="currentPassword" type="password" class="form-control"
									id="currentPassword" placeholder="Enter Current Password" ng-required="true">
	                          </div>
	                      </div>
	                        <div class="form-group">
	                        <label class="col-lg-3 control-label">{{"LIBRARY.SETTINGS.Password" | translate}}</label>
	                          <div class="col-lg-4"> 
	                            <input ng-model="newPassword" type="password" class="form-control"
									id="newPassword" placeholder="New password" ng-required="true">
	                          </div>
	                        </div>
	                        <div class="form-group">
	                        <label class="col-lg-3 control-label">{{"LIBRARY.SETTINGS.Confirm Password" | translate}}</label>
	                          <div class="col-lg-4"> 
	                            <input ng-model="confirmPassword" type="password" class="form-control"
									 placeholder="Repeat Password" ng-required="true">
	                          </div>
	                        </div>
	                        
	                        
	                        <div class="form-group">
	                        <label class="col-lg-3 control-label"></label>
	                          <div class="col-lg-8">
	                            <button type="submit" class="btn btn-s-md btn-success">{{"LIBRARY.SETTINGS.Submit" | translate}}</button>
	                           <!--  <a href="/settings" class="btn btn-s-md btn-default" data-dismiss="modal">{{"LIBRARY.SETTINGS.Cancel" | translate}}</a>
	                             -->
	                          </div>
	                        </div>
	                        </div>
	                      </form>
	                    
	                    </div>
	                  </section>
	
	                </div><!--end of first col lg 12-->
               </div> 