<div class="row">
	<div class="col-lg-12">
	  <section class="panel">
	    <header class="panel-heading">{{"TEACHER.SYLLABUS.Edit_Syllabus" | translate}}</header>
	    <div class="panel-body">
	      <form class="form-horizontal" ng-submit="update()">
	        <div class="col-sm-8">
	      <div class="form-group">
	        <label class="col-lg-3 control-label">{{"TEACHER.SYLLABUS.Syllabus_topic" | translate}}</label>
	          <div class="col-lg-6"> 
	            <input type="text" ng-model="syllabus.title" class="form-control" name="name" ng-required="true">
	          </div>
	        </div>
	        <div class="form-group">
          	<label class="col-lg-3 control-label">Select category</label>
           		<div class="col-lg-6"> 
            		<select ng-model="syllabus.syllabusCategory.id" class="form-control" style="width: 180px;">
        				<option ng-repeat="syllabus_category in syllabus_categories" value="{{syllabus_category.id}}" >{{syllabus_category.topic}}</option>
        			</select>
             	</div>
           </div>
	        <div class="form-group">
	        <label class="col-lg-3 control-label">{{"TEACHER.SYLLABUS.Description" | translate}}</label>
	          <div class="col-lg-6"> 
	            <textarea ng-model="syllabus.description" rows="5" class="form-control">{{syllabus.description}}</textarea>
	          </div>
	        </div>
	        <div class="form-group">
	        <label class="col-lg-3 control-label">{{"TEACHER.SYLLABUS.Select_course" | translate}}</label>
	          <div class="col-lg-6"> 
	            <select ng-model="syllabus.syllabusCategory.course.id" name="course" class="form-control">
                 <option ng-selected="syllabus.syllabusCategory.course.id == course.id"  
                 ng-repeat="course in courses" value="{{course.id}}">{{course.lesson.name}} {{course.classGroup.grade.grade}}{{course.classGroup.classLetter.letter}}</option>
              </select> 
	          </div>
	        </div>
	        <div class="form-group">
	        <label class="col-lg-3 control-label">{{"TEACHER.SYLLABUS.Date" | translate}}</label>
	        	<div class="col-lg-4"> 
	            <p class="input-group mydatepicker">
				 <input  ng-model="datepicker.plannedDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" close-text="Close" ng-required="true"/>
				    <span class="input-group-btn">
				      <button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				    </span>
			  	</p>
				</div>
	        </div>
	        <div class="form-group">
	        <label class="col-lg-3 control-label"></label>
	          <div class="col-lg-6">
	            <button type="submit" class="btn btn-s-md btn-success">{{"TEACHER.SYLLABUS.Update" | translate}}</button>
              <a href="#/list" type="#" class="btn btn-s-md btn-default">{{"TEACHER.SYLLABUS.Cancel" | translate}}</a>
	          </div>
	        </div>
	        </div>
	      </form>
	    </div>
	  </section>
	</div><!--end of first col lg 12-->
</div> 