<div class="row form-horizontal">
<div class="col-lg-12">
<section class="panel">
<header class="panel-heading font-bold">{{"TEACHER.SYLLABUS.Syllabus_Information" | translate}}</header>
  <div class="panel-body">
	  <div class="col-lg-6">
		  <div class="form-group">
		    <label class="col-lg-3 control-label">{{"TEACHER.SYLLABUS.Syllabus_topic" | translate}}:</label>
		      <div class="col-lg-6" style="padding-top: 7px;"> 
		        <p>{{syllabus.title}}</p>
		      </div>
		  </div><br/>
		    <div class="form-group">
		    <label class="col-lg-3 control-label">{{"TEACHER.SYLLABUS.Description" | translate}}:</label>
		      <div class="col-lg-6" style="padding-top: 7px;"> 
		        <p>{{syllabus.description}}</p>
		      </div>
		    </div><br/>
		    <div class="form-group">
		    <label class="col-lg-3 control-label">{{"TEACHER.SYLLABUS.Syllabus_course" | translate}}:</label>
		      <div class="col-lg-6" style="padding-top: 7px;"> 
		 			<p>{{syllabus.syllabusCategory.course.lesson.name}} {{syllabus.syllabusCategory.course.classGroup.grade.grade}}{{syllabus.syllabusCategory.course.classGroup.classLetter.letter}}</p>
		      </div>
		    </div><br>
		    <div class="form-group">
		    <label class="col-lg-3 control-label">{{"TEACHER.SYLLABUS.Planned_Date" | translate}}:</label>
		      <div class="col-lg-6" style="padding-top: 7px;"> 
		        <p>{{syllabus.plannedDate | date: 'dd.MM.yyyy'}}</p>
		      </div>
		    </div>
		    <div class="form-group">
		    <label class="col-lg-3 control-label">{{"TEACHER.SYLLABUS.Completed_Date" | translate}}:</label>
		      <div class="col-lg-6" style="padding-top: 7px;"> 
		        <p ng-if="syllabus.completed == 1">{{syllabus.completedDate | date: 'dd.MM.yyyy'}}</p>
		        <p ng-if="syllabus.completed == 0">Not completed yet</p>
		      </div>
		    </div>
		   <br/><br/>
		    <div class="form-group">
		    	<a href="#/list" type="#" class="btn btn-s-md btn-default">{{"TEACHER.SYLLABUS.Back" | translate}}</a>
		    </div>
	    </div>
  </div>
        <div class="line line-dashed line-lg pull-in"></div>
  </section>
  </div>
  </div>
