<meta charset="utf-8" />
              <div class="row">
                <div class="col-lg-12">
                  <section class="panel">
                    <header class="panel-heading bg-warning">{{"TEACHER.SYLLABUS.Syllabus_List" | translate}}</header>
                    <div class="panel-body">
                    	
                        <!-- <div class="well m-t">
				       		<div class="row">
				                <div class="col-lg-12">
				                <form class="form-inline">
				                  <div class="form-group col-lg-3">
				                    <label><strong>Course: </strong>
				                       <select ng-model="course.id" class="form-control" style="width: 180px;">
				                          <option ng-repeat="course in courses" ng-value="course.id">{{course.lesson.name}} {{course.classGroup.grade.grade}}{{course.classGroup.classLetter.letter}}</option>
				                       </select>
				                    </label>
				                  </div>
				                  <div class="form-group col-lg-5">
				                    <label><strong>&nbsp;From:</strong>
				                        <div class="input-group mydatepicker col-sm-4">
											<input  type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="datepicker.date" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
										</div><strong>&nbsp;To:</strong>
										<div class="input-group mydatepicker col-sm-4">
											<input  type="text" class="form-control" datepicker-popup="{{datepicker2.format2}}" ng-model="datepicker2.date2" is-open="datepicker2.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker2.dateOptions" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="datepicker2.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
										</div>
								    </label>
				                  </div>
				                  <div class="form-group">
				                    <label><strong>Year: </strong>
				                        <select ng-model="course.year.id" name="year" class="form-control">
						          			<option ng-repeat="year in years" ng-value="year.id">{{year.year | date:'yyyy'}} - {{year.year + 31569000000 | date: 'yyyy'}}</option>
						          		</select>
				                    </label>
				                  </div>
				                  <div class="form-group" style=" margin-bottom: 8px; margin-left: 8px;">
				                  	<button type="submit" class="btn btn-success btn-sm">FILTER</button>
				                  </div>
				                  </form>
				            	</div>
				       		</div>
				      	</div> -->
				  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
				  <table style="display:none">
                 		<thead >
                          	<tr>
                          		<td>#</td>
                          		<td class="syllabus_Topic" >{{"TEACHER.SYLLABUS.Syllabus_Topic" | translate}}</td>
                          		<td class="course">{{"TEACHER.SYLLABUS.Course" | translate}}</td>
                          		<td class="date">{{"TEACHER.SYLLABUS.Date" | translate}}</td>
                          		<td class="complited">{{"TEACHER.SYLLABUS.Complited" | translate}}</td>
                          		<td class="year">{{"TEACHER.SYLLABUS.Yer" | translate}}</td>
                          		<td class="operations">{{"TEACHER.SYLLABUS.Operations" | translate}}</td>
                          	</tr>
                          </thead>
                 	</table>
                    <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" >
                        <tr ng-repeat="syllabus in $data" ng-class="{odd: $odd, even: $even}">
                        	<td>{{$index + 1}}.</td>
                           	<td data-title="'Title'" sortable="'title'" filter="{ 'title': 'text' }">{{syllabus.title}}</td>
                            <td data-title="'Course'" sortable="'lessonName'" filter="{'lessonName' : 'text'}" align="center" width="200">{{syllabus.syllabusCategory.course.lesson.name}} {{syllabus.syllabusCategory.course.classGroup.grade.grade}}{{syllabus.syllabusCategory.course.classGroup.classLetter.letter}}</td>
                            <td data-title="getTitle('date')" align="center">{{syllabus.completed ? syllabus.completedDate : syllabus.plannedDate | date : 'dd.MM.yyyy'}}</td>
                            <td data-title="getTitle('complited')" sortable="'completed'" align="center">	
                            	<span ng-if="syllabus.completed == 1" ><i class="icon-ok" style="color:#99FF66"></i></span>
                            	<span ng-if="syllabus.completed == 0" ><i class="icon-minus" style="color:#FF5050"></i></span>
                            </td>
                            <td data-title="getTitle('year')" align="center">{{syllabus.syllabusCategory.course.year.year | date: 'yyyy'}} - {{syllabus.syllabusCategory.course.year.year + 31569000000 | date: 'yyyy'}}</td>
                            <td data-title="getTitle('operations')" align="center">
                                <a href="#/editSyllabys/{{syllabus.id}}" class="btn btn-warning btn-xs">Edit</a>&nbsp;
                                <a href="#/infoSyllabys/{{syllabus.id}}" class="btn btn-default btn-xs" data-toggle="modal">Info</a>&nbsp;
                                <a href="javascript:void(0)" ng-click="deleteSyllabus(syllabus.id)" class="btn btn-danger btn-xs" data-toggle="modal">Delete</a>&nbsp; 
                            </td>
                        </tr>
                     </table>
                  </div>                 
                   
    					<p style="padding-right: 20px;"><a href="#addNewSyllabys" class="btn btn-s-md btn-success pull-left">{{"TEACHER.SYLLABUS.Add_new_Syllabus" | translate}}</a></p> 
                    </div>
                  </section>
                </div>
              </div>  
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>