<div class="row">
<div class="col-sm-6">
  <section class="panel">
	<header class="panel-heading bg-success"> {{"SECRETARY.LESSON.EL" | translate}} </header>
	  <div class="panel-body">
		<form name="editLesson" class="form-horizontal" role="form"  ng-submit="update()" >
		  <div class="form-group">
			 <label class="col-lg-3 control-label">{{"SECRETARY.LESSON.NAME" | translate}}<span class="text-danger">*</span></label>
				<div class="col-lg-9">
				  <input ng-model="lessons.name" type="text" class="form-control" required/>
				</div>
		    <div class="form-group"></div>
		    <label class="col-lg-3 control-label">{{"SECRETARY.LESSON.DESC" | translate}}</label>
		    <div class="col-lg-9">
			   <textarea ng-model="lessons.description" rows="2" class="form-control">{{lesson.description}}</textarea>
		    </div>
		   </div>
  		<button type="submit" class="btn btn-success pull-right">{{"SECRETARY.LESSON.UP" | translate}}</button>
  		<a href="#lesson">
		<button class="btn btn-s-md btn-default" type="#" ng-click="cancel()">{{"SECRETARY.LESSON.CANE" | translate}}</button>
       </form>
 </div>
 </section>
 </div>
 </div>