

<div class="tab-content">
	<section class="tab-pane active" name="addlesson">
		<div class="panel">
			<div class="panel-body">
				<div class="col-sm-6">

					<section class="panel">
						<header class="panel-heading bg-success">{{"SECRETARY.LESSON.LIST" | translate}}</header>
						 <table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th>#</th>
                          	<th>{{"SECRETARY.LESSON.NAME" | translate}}</th>
                          	<th>{{"SECRETARY.LESSON.OPE" | translate}}</th>
                          </tr>
                          <tr ng-repeat="lesson in lessons" value="{{lesson.id}}" ng-class="{odd: $odd, even: $even}">
                          	<td data-title="'#'">{{$index + 1}}.</td>
                            <td >{{lesson.name}}</td>
                            <td data-title="'Opearations'" width="70">
                            	<div align="center">
									<a href="#edit_lesson/{{lesson.id}}" data-toggle="modal" tooltip="Edit" data-placement="top"> <i class="icon-pencil"></i></a> 
                                	<a href="javascript:void(0)" ng-click="deleteLesson(lesson.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td>
							</tr>
						 </table>
					</section>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading bg-success"> {{"SECRETARY.LESSON.ADD" | translate}} </header>
							<div class="panel-body">
								<form name="add_lesson_form" class="form-horizontal" role="form" ng-submit="submitLesson()">
									<div class="form-group">
										<label class="col-lg-3 control-label">{{"SECRETARY.LESSON.NAME" | translate}}<span class="text-danger">*</span></label>
										<div class="col-lg-9">
											<input ng-model="lesson.name" type="text" class="form-control" placeholder="Enter subject name" name="lesson_name" ng-required="true">
            								
										</div>
										<div class="form-group"></div>
										<label class="col-lg-3 control-label">{{"SECRETARY.LESSON.DESC" | translate}}</label>
										<div class="col-lg-9">
											<textarea ng-model="lesson.description" rows="2" class="form-control"
												placeholder="Enter some information about subject" name="lesson.description">
			   									this lesson is about living organisms</textarea>
			   							</div>
									</div>
									<!-- BUTTON ng-click -->
									<button  type="submit"
										class="btn btn-success pull-right">{{"SECRETARY.LESSON.SUB" | translate}}</button>
								</form>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>




