 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
    <li><a href="#/list">Category list</a></li>
    <li><a href="#/addNewCategory">Add Category</a></li>
    
   </ul>	
   	<ul ng-include src="'../../common/templates/user.html'"></ul>
 </div>	