          <div class="row">
            <div class="col-lg-12">
              <section class="panel">
                <div class="panel-body">
                  <div class="clearfix m-b">
                    <div class="pull-left >
                   	   <a href="" class="pull-left thumb m-r">
                    	 <img ng-src="../../../file/{{teacher.photo}}" style="max-width: 200px; max-height: 333px; margin: 10px" />
                       </a>
                   	  </div>
                      <div class="clear">
                        <div class="h3 m-t-xs m-b-xs" >{{teacher.nameEn+ " " +teacher.surnameEn}}</div>
                        <strong><div>{{teacher.nameRu+ " " +teacher.surnameRu}}</div></strong>
                      </div>                
                  </div>
                  <div class="well m-t">
                    <div class="row"> 
                      <div class="col-lg-6">
                        <p>{{"ADMIN.TEACHERS.TN2" |translate}}: <strong ng-model="teacher.teacherNum" >{{teacher.teacherNum}}</strong></p>
                        <p>{{"ADMIN.TEACHERS.PASSPORT" |translate}}: <strong ng-model="teacher.passportNo" >{{teacher.passportNo}}</strong></p>
                        <p>{{"ADMIN.TEACHERS.BD2" |translate}}: <strong ng-model="teacher.birthDate" >{{teacher.birthDate | date: 'dd.MM.yyyy' }}</strong></p>
                        <p>{{"ADMIN.TEACHERS.CA2" |translate}}: <strong ng-model="teacher.curradr" >{{teacher.curradr}}</strong></p>
                        <p>{{"ADMIN.TEACHERS.PA2" |translate}}: <strong ng-model="teacher.permadr" >{{teacher.permadr}}</strong></p>
                        <p>{{"ADMIN.TEACHERS.PN2" |translate}}: <strong ng-model="teacher.phone" >{{teacher.phone}}</strong></p>
                        <p>{{"ADMIN.TEACHERS.E2" |translate}}: <strong ng-model="teacher.email" >{{teacher.email}}</strong></p>
                      </div>
                      <div class="col-lg-6"> 
                      	<p>{{"ADMIN.TEACHERS.COUNTRY" |translate}}: <strong ng-model="teacher.country" >{{teacher.country.name}}</strong></p>
                        <p>{{"ADMIN.TEACHERS.Education" |translate}}: <strong ng-model="teacher.education" >{{teacher.education}}</strong></p>
                        <p>{{"ADMIN.TEACHERS.Category" |translate}}: <strong ng-model="teacher.teacherCategory.name" >{{teacher.teacherCategory.name}}</strong></p>
                        <p>{{"ADMIN.TEACHERS.Accreditation" |translate}}: <strong ng-model="teacher.accreditation" >{{teacher.accreditation | date: dd.mm.yyyy }}</strong></p>
                        <p>{{"ADMIN.TEACHERS.Certificate" |translate}}: <strong ng-model="teacher.teacherAward.gramota" >{{teacher.teacherAward.gramota}}</strong></p>
                        <p></p>
                      </div>
                    </div>     
                  </div>
                </div>
              </section>
             </div>
            </div>