<div class="row">
	<div class="col-lg-12">
		<div class="panel">
			<header class="panel-heading">{{course.lesson.name}} {{course.classGroup.grade.grade}}{{course.classGroup.classLetter.letter}}</header>
			<div class="panel-body">
				<table class="table table-striped table-bordered b-t text" style="padding-top: 20px;">
					<tr>
						<td></td>
						<td ng-repeat="syllabus in syllabuses" class="tdx" align="center">
							<a href="../std_marks/#/edit_marks/{{syllabus.id}}"><i class="icon-pencil"></i></a>
						</td>
					</tr>
					<tr height="60">
						<td></td>
						<td ng-repeat="syllabus in syllabuses" style="padding: 5px 1px; padding-top: 40px;" width="26" align="center"><div  class="td2" align="center">{{syllabus.completedDate | date : 'dd.MM.yy'}}</div></td>
				    </tr>
				    <tr ng-repeat="studentTable in syllabusTable">
						<td ng-repeat="value in studentTable track by $index">{{$index == 0 ? (value.nameEn + " " + value.surnameEn) : value.note}}</td>
					</tr>
		        </table>
			</div>
		</div>
	</div>
</div>
	              