<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading bg-warning">{{"TEACHER.COURSE.Courses_List" | translate}}</header>
			
			<div style="display:none"><span class="cn">{{"TEACHER.COURSE.Course" | translate}}</span> <span class="operations">{{"TEACHER.COURSE.Operations" | translate}}</span></div>
			<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="false" >
	            <tr ng-repeat="course in $data" ng-class="{odd: $odd, even: $even}">
	            	<td>{{$index + 1}}.</td>
					<td data-title="getTitle('cn')" width="33%">{{course.lesson.name}} {{course.classGroup.grade.grade}}{{course.classGroup.classLetter.letter}}</td>
					<td width="34%" data-title="getTitle('operations')"><a href="#start_course/{{course.id}}" class="btn btn-success btn-xs">{{"TEACHER.COURSE.Start_course" | translate}}</a> 
						<a href="#exam/{{course.id}}" class="btn btn-warning btn-xs">{{"TEACHER.COURSE.Exam" | translate}}</a> 
						<a href="#journal_course/{{course.id}}" class="btn btn-primary btn-xs">{{"TEACHER.COURSE.Journal" | translate}}</a> 
					</td>
					<td width="31%"></td>
				</tr>
			</table>
		</section>
	</div>
</div>
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; {{"TEACHER.COURSE.Previous" | translate}}</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">{{"TEACHER.COURSE.Next" | translate}} &raquo;</a>
		</li>
		</div>
       </ul>
</script>