<div class="col-lg-12"> 
<section class="panel">
	<header class="panel-heading bg-dark" >Monitoring by Examinations</header>
		<div class="panel-body">
			<div class="col-sm-12">
				<label class="col-sm-2 control-label" style="top: 7px;">Select class and year:</label>
				<div class="col-lg-2">
					<select ng-model="CGroupe.id" name="class" class="form-control">	
		             	<option ng-repeat="CGroupe in CGroupes" value="{{CGroupe.id}}">{{CGroupe.grade.grade}}{{CGroupe.classLetter.letter}}</option>
		          	</select> 
				</div>
				<div class="col-lg-2">
					<select ng-model="year.id" name="year" class="form-control">	
		             	<option ng-repeat="year in years" value="{{year.id}}">{{year.year | date:'yyyy'}} - {{year.year + 31569000000 | date: 'yyyy'}}</option>
		          	</select> 
				</div>
		        <div class="col-lg-2">
		        	<button class="btn btn-default btn-success">Apply</button>	 
		        </div>
			</div>
		</div>
</section>
</div> 

<div class="col-lg-12">
	<section class="panel">
	<header class="panel-heading bg-dark">Monitoring of effectiveness of educational process by all subjects</header>
			<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none text-sm" show-filter="false" style="border-top: 1px solid #e0e4e8;" >
                  	<tr>
                  		<th>Class</th>
                  		<th>Course</th>
                  		<th>Teacher</th>
                  		<th>% quality 1st</th>
                  		<th>% progress 1st</th>
                  		<th>% quality 2nd</th>
                  		<th>% progress 2nd</th>
                  		<th>% quality 3rd</th>
                  		<th>% progress 3rd</th>
                  		<th>% quality 4th</th>
                  		<th>% progress 4th</th>
                  	</tr>
                  	<tr ng-repeat="course in courses" ng-class="{odd: $odd, even: $even}">
						<td style="text-align:center;">{{course.classGroup.grade.grade}}{{course.classGroup.classLetter.letter}}</td>
                     	<td style="text-align:left;">{{'Math'}}</td>
                     	<td style="text-align:left;">{{'Bykova E.'}}</td>
                     	<td style="text-align:center;">68,1</td>
                     	<td style="text-align:center;">67</td>
                     	<td style="text-align:center;"></td>
                     	<td style="text-align:center;"></td>
                     	<td style="text-align:center;"></td>
                     	<td style="text-align:center;"></td>
                     	<td style="text-align:center;"></td>
                     	<td style="text-align:center;"></td>
                    </tr>
			</table>
		
		
	</section>
</div>










