 <div class="collapse navbar-collapse pull-in">
	 <ul class="nav navbar-nav m-l-n">
   		<li><a href = "#/addTimetable">{{'SECRETARY.TIMETABLE.ADDD' | translate}}</a></li><!-- 
 		<li><a href = "#/addTimetableSecondary">{{'SECRETARY.TIMETABLE.TSS' | translate}}</a></li> -->
	</ul> 
 	<ul ng-include src="'../../common/templates/user.html'"></ul>
 </div>	