<div class="tab-content">
	<section class="tab-pane active" name="addclassh">
		<div class="panel">
			<div class="panel-body">
				<div class="row">
					<form class="form-horizontal">
				 		<div class="form-group">
				        	<label class="col-lg-3 control-label">{{"SECRETARY.CLASSH.SCHT" | translate}}</label>
				            <div class="col-lg-2"> 
				              <select ng-model="classHourTypeId" name="classHourType" class="form-control">
				                <option ng-selected="classHourTypeId == classHourType.id" ng-repeat="classHourType in classHourTypes" value="{{classHourType.id}}">{{classHourType.name}}</option>
				              </select> 
				            </div>
				        </div>
					</form>
				</div>
				<div class="row">
					<div class="col-sm-7">
						<section class="panel">
							<header class="panel-heading bg-success">{{"SECRETARY.CLASSH.LIST" | translate}}</header>
							 <table class="table table-striped m-b-none dataTable" show-filter="false">
	                          <tr>
	                          	<th>
	                          	</th>
	                          	<th>{{"SECRETARY.CLASSH.STIME" | translate}}</th>
	                          	<th>{{"SECRETARY.CLASSH.ETIME" | translate}}</th>
	                          	<th>{{"SECRETARY.LESSON.OPE" | translate}}</th>
	                          </tr>
	                          <tr ng-repeat="classhour in classhours" value="{{classhour.id}}" ng-class="{odd: $odd, even: $even}">
	                            <td >{{classhour.orderNum}}</td>
	                            <td >{{classhour.startHour | date : 'HH:mm' }}</td>
	                            <td>{{classhour.endHour | date : 'HH:mm'}}</td>
	                            <td data-title="'Opearations'" width="70">
	                            	<div align="center">
										<a href="#edit_classH/{{classhour.id}}" data-toggle="modal" tooltip="Edit" data-placement="top"> <i class="icon-pencil"></i></a> 
	                                	<a href="javascript:void(0)" ng-click="deleteClassH(classhour.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
									</div>
								</td>
								</tr>
							 </table>
						</section>
					</div>
					<div class="col-sm-5">
						<section class="panel">
							<header class="panel-heading bg-success"> {{"SECRETARY.CLASSH.ANCH" | translate}} </header>
							<div class="panel-body">
								<form name="add_class_time" class="form-horizontal" role="form" ng-submit="submitClassTime()">
									<div class="form-group">
<!-- 											<div class="col-sm-4"> -->
<!-- 												<label class="control-label">{{"SECRETARY.CLASSH.CST" | translate}}<span class="text-danger">*</span></label> -->
<!-- 											</div> -->
<!-- 											<div class="col-sm-6"> -->
<!-- 												<label class="control-label">{{"SECRETARY.CLASSH.CET" | translate}}<span class="text-danger">*</span></label> -->
	
<!-- 											</div> -->
										<div class="row">
											<div class="col-md-1"></div>
											<div class="col-md-5">
												<label class="control-label">{{"SECRETARY.CLASSH.CST" | translate}}<span class="text-danger">*</span></label>
												<timepicker ng-model="classhour.startHour" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" readonly-input="isreadonly"></timepicker>
											</div>
											<div class="col-md-1" style="margin-top: 42px;">
												<span ><b>-</b></span>
											</div>
											<div class="col-md-5">
												<label class="control-label">{{"SECRETARY.CLASSH.CET" | translate}}<span class="text-danger">*</span></label>
												<timepicker ng-model="classhour.endHour" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" readonly-input="isreadonly"></timepicker>
											</div>
										</div>
									</div>
									<!-- BUTTON ng-click -->
									<button  type="submit"
										class="btn btn-success pull-right">{{"SECRETARY.LESSON.SUB" | translate}}</button>
								</form>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>




