  	<div class="row">
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading bg-success"> {{"SECRETARY.CLASSH.ECH" | translate}} </header>
							<div class="panel-body">
								<form name="edit_class_time" class="form-horizontal" role="form" ng-submit="update()">
									<div class="form-group">
										<div class="col-sm-12">
											<div class="col-sm-1">
												<span><label class="control-label">{{"SECRETARY.CLASSH.CN" | translate}}</label></span>
											</div>
											<div class="col-sm-4">
												<label class="control-label">{{"SECRETARY.CLASSH.CST" | translate}}<span class="text-danger">*</span></label>
											</div>
											<div class="col-sm-6">
												<label class="control-label">{{"SECRETARY.CLASSH.CET" | translate}}<span class="text-danger">*</span></label>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="col-sm-1" style="margin-top:38px;">
												<span ng-model="classhour.orderNum">{{classhour.orderNum}}</span>
											</div>
											<div class="col-sm-3">
												<timepicker ng-model="classhour.startHour" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" readonly-input="isreadonly"></timepicker>
											</div>
											<div class="col-sm-1" style="margin-top: 42px;">
												<span ><b>-</b></span>
											</div>
											<div class="col-sm-3">
												<timepicker ng-model="classhour.endHour" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" readonly-input="isreadonly"></timepicker>
											</div>
										</div>
									</div>
									<!-- BUTTON ng-click -->
									<button type="submit" class="btn btn-success pull-right">{{"SECRETARY.LESSON.UP" | translate}}</button>
  										<a href="#class_hours">
									<button class="btn btn-s-md btn-default" type="#" ng-click="cancel()">{{"SECRETARY.LESSON.CANE" | translate}}</button>
       
								</form>
							</div>
						</section>
					</div>
				</div>