<div class="row">
<div class="col-lg-12">
	<div class="panel">
		<header class="panel-heading bg-warning" style=" color:#FFF; font-size:20px;">{{ "STUDENT.EDIT.AL" | translate }}</header>

		<div class="panel-body">
		<div class="table-responsive">
			<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
				
				
<!--end of row-->
                      <table style="display:none">
                      		<thead>
							      <tr>
							        <td class="name">{{ "STUDENT.EDIT.FN" | translate }} </td>
							        <td class="class">{{ "STUDENT.EDIT.Y" | translate }} </td>
							        <td class="payed">{{ "STUDENT.EDIT.Paid" | translate }} </td>
							        <td class="fee">{{ "STUDENT.EDIT.L" | translate }} </td>
							    </tr>
						    </thead>
						</table>
						
					<!-- 	<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable">
							<tbody>
                          		<tr ng-repeat="stud_accounting in studentAccountings" ng-class="{odd: $odd, even: $even}">
		                            <td data-title="getTitle('name')" sortable="'name'" > {{stud_accounting.student.nameEn}} {{stud_accounting.student.surnameEn}}</td>
		                            <td data-title="getTitle('class')" sortable="'class'">{{stud_accounting.year.year | date:'yyyy'}} - {{stud_accounting.year.year + 31569000000 | date: 'yyyy'}}</td>
		                            <td data-title="getTitle('payed')" sortable="'payed'">{{stud_accounting.payed}}</td>
		                            <td data-title="getTitle('fee')" sortable="'fee'">{{stud_accounting.anualFee}}</td>
 								</tr>
							 </tbody>
                            
                      </table> -->
                       <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" style="
    border-top: 1px solid #e0e4e8;" >
                          <tr ng-repeat="stud_accounting in studentAccountings" ng-class="{odd: $odd, even: $even}">
							<td data-title="getTitle('name')" sortable="'name'" filter="{ 'student': 'text' }">{{ getLanguage() == 'en'? stud_accounting.student.nameEn+" "+stud_accounting.student.surnameEn : stud_accounting.student.nameRu+" "+stud_accounting.student.surnameRu}}</td>
                            <td data-title="getTitle('class')" sortable="'class'" style="text-align:center;">{{stud_accounting.year.year | date:'yyyy'}} - {{stud_accounting.year.year + 31569000000 | date: 'yyyy'}} </td>
                            <td data-title="getTitle('payed')" sortable="'payed'" style="text-align:center;">{{stud_accounting.payed}}</td>
                            <td data-title="getTitle('fee')" sortable="'fee'" style="text-align:center;">{{stud_accounting.anualFee}}</td>
                           
                          </tr>
                  	  </table>
                      </div><!--end of datatables 0 wrapper-->
                      </div>
                    </div><!--end of table resp-->

                    </div><!--panel-->
                  </div><!--end col-lg-12-->
</div>
                <!--/div><!-row-->
<script type="text/ng-template" id="custom/pager">
  
</script>	