 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
   	<li><a href="#/courses">{{"ADMIN.COURSES.CL" |translate}}</a></li>
    <li><a href="#/add_course">{{"ADMIN.COURSES.ANC" |translate}}</a></li>
    
   </ul>
 <ul ng-include src="'../../common/templates/user.html'"></ul>	
 </div>	