<div class="row">
<div class="col-lg-12">
<section class="panel">
<header class="panel-heading font-bold">{{"ADMIN.STUFF.EI" | translate}}</header>
  <div class="panel-body">
  <form name="addStuffForm" class="bs-example form-horizontal" ng-submit="submitt()">
    <div class="form-group">
     <label class="col-lg-3 control-label">{{"ADMIN.STUFF.N" | translate}}<span class="text-danger">*</span>, {{"ADMIN.STUFF.S" | translate}}<span class="text-danger">*</span>{{"ADMIN.STUFF.INE" | translate}}</label>
      <div class="col-lg-8"> 
        <div class="row"> 
          <div class="col-md-4"> 
            <input ng-model="stuff.nameEn" type="text" class="form-control" placeholder="{{'ADMIN.STUFF.N' | translate}}" name="name_en" ng-required="true"> 
            <!-- <span class="text-danger" ng-show="addStuffForm.name_en.$error.required" >First Name is required</span> -->
          </div> 
          <div class="col-md-4"> 
            <input ng-model="stuff.surnameEn" type="text" class="form-control" placeholder="{{'ADMIN.STUFF.S' | translate}}" name="surname_en" ng-required="true"> 
            <!--<span class="text-danger" ng-show="addStuffForm.surname_en.$error.required" >First Name is required</span> -->
          </div> 
        </div> 
      </div>
    </div>
    
      <div class="form-group">
      	<label class="col-lg-3 control-label">{{"ADMIN.STUFF.N" | translate}}<span class="text-danger">*</span>, {{"ADMIN.STUFF.S" | translate}}<span class="text-danger">*</span>{{"ADMIN.STUFF.INR" | translate}}</label>
         <div class="col-lg-8"> 
          <div class="row"> 
            <div class="col-md-4"> 
              <input ng-model="stuff.nameRu" type="text" class="form-control" placeholder="{{'ADMIN.STUFF.N' | translate}}" name="name_ru" ng-required="true"> 
              <!--<span class="text-danger" ng-show="addStuffForm.name_ru.$error.required" >First Name is required</span> -->
            </div> 
            <div class="col-md-4"> 
              <input ng-model="stuff.surnameRu" type="text" class="form-control" placeholder="{{'ADMIN.STUFF.S' | translate}}" name="surname_ru" ng-required="true"> 
              <!--<span class="text-danger" ng-show="addStuffForm.surname_ru.$error.required" >First Name is required</span> -->
            </div> 
            <div class="col-md-4"> 
              <input ng-model="stuff.middleNameRu" type="text" class="form-control" placeholder="{{'ADMIN.STUFF.MN' | translate}}" name="middle_ru" ng-required="true"> 
            </div>
          </div> 
        </div>
      </div>
     
      <div class="line line-dashed line-lg pull-in"></div>
      
<!--         <div class="form-group"> -->
<!--           <label class="col-lg-3 control-label">Staff number</label> -->
<!--             <div class="col-lg-6">  -->
<!--               <input ng-model="stuff.stuffNum" type="text" class="form-control" name="stuff_number"> -->
<!--             </div> -->
<!--         </div> -->
		<div class="col-sm-6"> 
        <div class="form-group">
        	<label class="col-lg-3 control-label">{{"ADMIN.STUFF.PN" | translate}}</label>
           <div class="col-lg-6"> 
             <input ng-model="stuff.phone"  type="text" class="form-control" name="phone"> 
           </div>
        </div>
        <div class="form-group"> 
         <label class="col-sm-3 control-label">{{"ADMIN.STUFF.BD" | translate}}</label> 
           <div class="col-sm-6"> 
             <p class="input-group mydatepicker">
			 <input  type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="datepicker.date" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" close-text="Close" />
			    <span class="input-group-btn">
			      <button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			    </span>
		  	</p>
           </div> 
         </div>
         <div class="form-group">
         <label class="col-lg-3 control-label">{{"ADMIN.STUFF.PA" | translate}}</label>
           <div class="col-lg-6"> 
             <input ng-model="stuff.permadr" type="textarea" name="per_address" class="form-control"> 
           </div>
         </div>
         <div class="form-group">
           <label class="col-lg-3 control-label">{{"ADMIN.STUFF.CA" | translate}}</label>
             <div class="col-lg-6">
               <input ng-model="stuff.curradr" type="textarea" name="curr_address" class="form-control">
             </div>
         </div>
         <div class="form-group">
         <label class="col-lg-3 control-label">{{"ADMIN.STUFF.Passport" | translate}}</label>
           <div class="col-lg-6"> 
             <input ng-model="stuff.passportNo" type="text" name="passport" class="form-control"> 
           </div>
         </div>
         <div class="form-group">
         <label class="col-lg-3 control-label">{{"ADMIN.STUFF.E" | translate}}</label>
           <div class="col-lg-6"> 
             <input ng-model="stuff.email" type="email" name="email" class="form-control"> 
           </div>
         </div>
        <div class="form-group">
         <label class="col-lg-3 control-label">{{"ADMIN.STUFF.position" | translate}}</label>
           <div class="col-lg-6"> 
             <input ng-model="stuff.position" type="text" name="position" class="form-control"> 
           </div>
         </div>
         <div class="form-group">
            <label class="col-lg-3 control-label">{{"ADMIN.TEACHERS.G" |translate}}</label>
            <div class="col-lg-6">  
              	<select ng-model="stuff.isMale" name="isMale" class="form-control">
              		<option value="">{{"ADMIN.TEACHERS.Select" |translate}}</option>
              		<option value="true">{{"ADMIN.TEACHERS.Male" |translate}}</option>
              		<option value="false">{{"ADMIN.TEACHERS.Female" |translate}}</option>
              	</select>
            </div>
          </div>
         <div class="form-group">
          <label class="col-lg-3 control-label">{{'ADMIN.STUFF.PHOTO' | translate}}</label>
            <div class="col-lg-6"> 
              <input file-model="photo" type="file">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
        <div class="form-group">
         <label class="col-lg-3 control-label">{{"ADMIN.STUFF.MS" | translate}}</label>
           <div class="col-lg-6">
             <select ng-model="stuff.maritalStatus.id" name="maritalStatus" class="form-control" >
              	<option value="">{{"ADMIN.TEACHERS.Select" |translate}}</option>
                <option ng-repeat="maritalStatus in maritalStatuses" ng-value="maritalStatus.id">{{maritalStatus.name}}</option>
              </select> 
           </div>
         </div>
        <div class="form-group">
         <label class="col-lg-3 control-label">{{"ADMIN.STUFF.CITY" | translate}}</label>
           <div class="col-lg-6">
             <select ng-model="stuff.country.id" name="country" class="form-control" required>
              	<option value="">{{"ADMIN.TEACHERS.Select" |translate}}</option>
                <option ng-repeat="country in countries" ng-value="country.id">{{country.name}}</option>
              </select> 
           </div>
         </div>
        <div class="form-group">
         <label class="col-lg-3 control-label">{{"ADMIN.STUFF.NAT" | translate}}</label>
           <div class="col-lg-6">
             <select ng-model="stuff.nationality.id" name="nationality" class="form-control" required>
              	<option value="">{{"ADMIN.TEACHERS.Select" |translate}}</option>
                <option ng-repeat="nationality in nationalities" ng-value="nationality.id">{{nationality.nationality}}</option>
              </select> 
           </div>
         </div>
         <div class="form-group">
         <label class="col-lg-3 control-label">{{"ADMIN.TEACHERS.Education" | translate}}</label>
           <div class="col-lg-6"> 
           	<textarea rows="3" cols="26" ng-model="stuff.education"></textarea>
           </div>
         </div>
         <div class="form-group">
         <label class="col-lg-3 control-label">{{"ADMIN.STUFF.LNG" | translate}}</label>
           <div class="col-lg-6"> 
           	<textarea rows="3" cols="26" ng-model="stuff.languages" ></textarea>
           </div>
         </div>
         <div class="form-group">
         <label class="col-lg-3 control-label">{{"ADMIN.STUFF.EXPR" | translate}}</label>
           <div class="col-lg-6"> 
           	<textarea rows="3" cols="26" ng-model="stuff.experience" ></textarea>           </div>
         </div>
        </div> 
         
         <div class="form-group">
         </div>
         <div class="form-group">
         <label class="col-lg-3 control-label"></label>
           <div class="col-lg-6">
           	 <button type="submit" class="btn btn-s-md btn-success">{{"ADMIN.STUFF.Save" | translate}}</button>
             <a href="#/list_stuff" class="btn btn-s-md btn-default">{{"ADMIN.STUFF.Cancel" | translate}}</a>
           </div>
         </div>
       </div>
       </form>
  
</section>
</div>
</div>