
<div class="row">
	<div class="col-lg-12">
		<div class="panel">
			<header class="panel-heading bg-dark">{{"ADMIN.STUFF.SL" |translate}}</header>
			<div class="panel-body">
				<div class="table-responsive">
					<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                      <div class="row">
                        <div class="col-sm-6">
                          <div id="DataTables_Table_0_length" class="dataTables_length">
                            <label> 
                              {{"ADMIN.STUFF.Show" |translate}}:
                              <select ng-model="count" size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6 ">
                        <div class="dataTables_filter">
                          <div class="dataTables_filter"><a href="#/add_stuff" class="btn btn-success btn-sm">{{"ADMIN.STUFF.ANS"| translate}}&nbsp;<i class="icon-plus"></i></a></div>
                          <div class="dataTables_filter" style="margin-right: -15px !important;"><span class="btn btn-default btn-sm">{{"ADMIN.STUFF.RESULT"| translate}} : {{tableParams.total()}}</span></div>
                          <div class="dataTables_filter" style="margin-right: -15px !important;"><a href="#" class="btn btn-warning btn-sm pull-right" onclick="window.print();" style="color: #4E4E4E !important;">{{"ADMIN.STUFF.Print"| translate}} &nbsp;<i class="icon-print"></i></a></div>
                          <div class="dataTables_filter" style="margin-right: -15px !important;"><a class="btn btn-primary" ng-click="exportData()" >{{"ADMIN.STUFF.ETC"| translate}}</a></div>
                       </div>
                        </div>
                        </div><!--end of row-->
                        <table style="display:none">
                        	<tr>
                        		<td>#</td>
                        		<td class="ns">{{"ADMIN.STUFF.NS" |translate}}</td>
                        		<td class="stuff_no">{{"ADMIN.STUFF.stuff_no" |translate}}</td>
                        		<td class="gender">{{"ADMIN.TEACHERS.G" |translate}}</td>
                        		<td class="position">{{"ADMIN.STUFF.position" |translate}}</td>
                        		<td class="education">{{"ADMIN.STUFF.EDU" |translate}}</td>
                        		<td class="curradr">{{"ADMIN.STUFF.CA" |translate}}</td>
                        		<td class="experience">{{"ADMIN.STUFF.CITY" |translate}}</td>                        		
                        		<td class="birthDate">{{"ADMIN.STUFF.BD" |translate}}</td>
                        		<td class="o">{{"ADMIN.STUFF.O" |translate}}</td>
                        	</tr>
                        </table>
                        <div id="exportable">
                      <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" >
                        <tr ng-repeat="stuff in $data" ng-class="{odd: $odd, even: $even}">
                        	<td data-title="'#'">{{$index + 1}}.</td>
                            <td data-title="getTitle('ns')" sortable="'name'" filter="{ 'stuff': 'text' }">{{getLanguage() == 'en' ? stuff.nameEn + ' ' + stuff.surnameEn : stuff.nameRu + ' ' + stuff.surnameRu}}</td>
                            <td data-title="getTitle('stuff_no')" sortable="'stuffNum'" filter="{ 'stuffNum': 'text' }">{{stuff.stuffNum}}</td>
                            <td data-title="getTitle('gender')" sortable="'isMale'" >{{stuff.isMale ? getLanguage() == 'en' ? 'Male' : 'Муж' : getLanguage() == 'en' ? 'Female' : 'Жен'}}</td>
                            <td data-title="getTitle('position')" sortable="'position'" filter="{ 'position': 'text' }">{{stuff.position}}</td>
                            <td data-title="getTitle('education')" sortable="'education'" filter="{ 'education': 'text' }">{{stuff.education}}</td>
                            <td data-title="getTitle('curradr')" sortable="'curradr'" filter="{ 'curradr': 'text' }">{{stuff.curradr}}</td>
                            <td data-title="getTitle('experience')" sortable="'countryName'" filter="{ 'countryName': 'text' }">{{stuff.country.name}}</td>
                            <td data-title="getTitle('birthDate')" >{{stuff.birthDate | date: 'dd-MM-yyyy'}}</td>
                            <td data-title="getTitle('o')">
                                <a href="#edit_stuff/{{stuff.id}}" tooltip="Edit"><i class="icon-pencil"></i></a>&nbsp;
                                <a href="javascript:void(0)" ng-click="deleteStuff(stuff.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
                                <a href="#stuff_profile/{{stuff.id}}" tooltip="Staff Info"><i class="icon-user"></i></a>&nbsp;
                            </td>
                        </tr>
                       </table>
                       </div>
                      
                      </div><!--end of datatables 0 wrapper-->
                      
                    </div><!--end of table resp-->
                    </div>
                    </div><!--panel-->
                  </div><!--end col-lg-12-->
                  </div>
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; {{"ADMIN.TEACHERS.Previous" | translate}}</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">{{"ADMIN.TEACHERS.Next" | translate}} &raquo;</a>
		</li>
		</div>
       </ul>
</script>