 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   </ul>
	<ul ng-include src="'../../common/templates/user.html'"></ul>	
<!--    	<ul ng-include src="'../../assets/templates/user.html'"></ul> -->
 </div>	