<div class="col-lg-12">
	<div class="col-lg-4">
		<section class="panel"> 
			<div class="text-center wrapper"> 
				 <span id="sparkline">&nbsp;</span>
			</div> 
			<ul class="list-group no-radius"> 
				<li class="list-group-item"> 
					<span class="pull-right">68%</span> 
					 Monitoring of general education process 
				</li> 
			</ul>
		</section>
	</div>
	<div class="col-lg-4">
		<section class="panel"> 
			<div class="text-center wrapper"> 
				 <span id="sparkline2">&nbsp;</span>
			</div> 
			<ul class="list-group no-radius"> 
				<li class="list-group-item"> 
					<span class="pull-right">88%</span> 
					Monitoring of general education process 
				</li> 
			</ul>
		</section>
	</div>
	<div class="col-lg-4">
		<section class="panel"> 
			<div class="text-center wrapper"> 
				 <span id="sparkline3">&nbsp;</span>
			</div> 
			<ul class="list-group no-radius"> 
				<li class="list-group-item"> 
					<span class="pull-right">68%</span> 
					 Monitoring of general education process 
				</li> 
			</ul>
		</section>
	</div>
</div>
<style>
.jqstooltip{
    box-sizing: content-box;
}
</style>