<div class="col-lg-12">
<section class="panel">
<header class="panel-heading bg-dark">Monitoring of general education process</header>
		<div class="panel-body">
			
				 <form ng-submit="sortList()">
				<div class="col-lg-3">
					<select ng-model="quarterId" name="class" class="form-control">	
		             	<option ng-repeat="quarter in quarters" value="{{quarter.id}}">{{quarter.name}}</option>
		          	</select> 
				</div>
				<div class="col-lg-2">
					<select ng-model="yearId" name="year" class="form-control">	
		             	<option ng-repeat="year in years" value="{{year.id}}">{{year.year | date:'yyyy'}} - {{year.year + 31569000000 | date: 'yyyy'}}</option>
		          	</select> 
				</div>
		        <div class="col-lg-2">
		        	<button class="btn btn-default btn-success">Apply</button>	 
		        </div>
			</div>
			</form>
			<table class="table table-striped m-b-none text-sm" show-filter="false" style="border-top: 1px solid #e0e4e8;" >
                  	
                  	<tr>
                  		<td align="center"><b>Class</b></td>
                     	<td align="center"><b>Students</b></td>
                     	<td align="center"><b>Otlichniks</b></td>
                     	<td align="center"><b>Udarniks</b></td>
                     	<td align="center"><b>Troe4niks</b></td>
                     	<td align="center"><b>With one 3's</b></td>
                     	<td align="center"><b>With two 3's</b></td>
                     	<td align="center"><b>Dvoe4niks</b></td>
                  	</tr>
                  	<tr ng-repeat="generalnote in generalnotes" ng-class="{odd: $odd, even: $even}">
                  		<td data-title="'Class'" align="center">{{generalnote.course.classGroup.grade.grade + '' + generalnote.course.classGroup.classLetter.letter}}</td>
                     	<td data-title="'Students'" style="text-align:center;">{{generalnote.totalInClass}}</td>
                     	<td data-title="'Otlichniks'" style="text-align:center;">{{generalnote.five}}</td>
                     	<td data-title="'Udarniks'" style="text-align:center;">{{generalnote.four}}</td>
                     	<td data-title="'Troe4niks'" style="text-align:center;">{{generalnote.three}}</td>
                     	<td data-title="'With one 3's'" style="text-align:center; width: 120px;">{{generalnote.withOneThree}}</td>
                     	<td data-title="'With two 3's'" style="text-align:center; width: 120px;">{{generalnote.withTwoThree}}</td>
                     	<td data-title="'Dvoe4niks'" style="text-align:center;">{{generalnote.two}}</td>
                    </tr>
			</table>

	</section>
</div>











