<div class="col-lg-12">
	<div class="panel">
	<header class="panel-heading bg-dark">Rating of progress in primary school </header>
		<div class="panel-body">
			<div class="col-lg-3">
				<select ng-model="quarter.id" name="class" class="form-control">	
	             	<option ng-repeat="quarter in quarters" value="{{quarter.id}}">{{quarter.name}}</option>
	          	</select> 
			</div>
			<div class="col-lg-2">
				<select ng-model="year.id" name="year" class="form-control">	
	             	<option ng-repeat="year in years" value="{{year.id}}">{{year.year | date:'yyyy'}} - {{year.year + 31569000000 | date: 'yyyy'}}</option>
	          	</select> 
			</div>
	        <div class="col-lg-2">
	        	<button class="btn btn-default btn-success">Apply</button>	 
	        </div>
		</div>
		
		<table class="table table-striped m-b-none text-sm" show-filter="false" style="border-top: 1px solid #e0e4e8;" >
	        <tr>
	       		<td align="center" width="140px"><b>Class</b></td>
	          	<td align="center" width="200px"><b>Teacher</b></td><td>
	          	<td></td>
	          	<td></td>
	          	<td></td>
	       	</tr>
	       	<tr ng-repeat="CGroupe in CGroupes" ng-class="{odd: $odd, even: $even}">
	       		<td align="center">{{CGroupe.grade.grade + '' + CGroupe.classLetter.letter}}</td>
	          	<td style="text-align:center;">Teacher name</td>
	        </tr>
		</table>
		
	</div>
</div>