<div class="col-lg-12">
	<div class="panel">
	<header class="panel-heading bg-dark">Recommendation for upcoming quarter(lack of success)</header>
		<div class="panel-body">
		<div class="row">
			<div class="col-lg-3">
				<select ng-model="quarter.id" name="class" class="form-control">	
	             	<option ng-repeat="quarter in quarters" value="{{quarter.id}}">{{quarter.name}}</option>
	          	</select> 
			</div>
			<div class="col-lg-2">
				<select ng-model="year.id" name="year" class="form-control">	
	             	<option ng-repeat="year in years" value="{{year.id}}">{{year.year | date:'yyyy'}} - {{year.year + 31569000000 | date: 'yyyy'}}</option>
	          	</select> 
			</div>
	        <div class="col-lg-2">
	        	<button class="btn btn-default btn-success">Apply</button>	 
	        </div>
	    </div>
	    <br/>
		<div class="row">
		<div class="col-lg-3">
		<table class="table table-striped m-b-none text-sm col-lg-3" show-filter="false" style="border-top: 1px solid #e0e4e8;" >
	        <tr>
	        	<td align="center"><strong>Russian lang.</strong></td>
	        </tr>
	        <tr ng-repeat="CGroupe in CGroupes" ng-class="{odd: $odd, even: $even}">
	       		<td align="center" data-title="'Russian lang.'">{{'Student name'}}</td>
	        </tr>
		</table>
		</div>
		<div class="col-lg-3">
		<table class="table table-striped m-b-none text-sm" show-filter="false" style="border-top: 1px solid #e0e4e8;">
	        <tr>
	        	<td align="center"><strong>Math</strong></td>
	        </tr>
	        <tr ng-repeat="CGroupe in CGroupes" ng-class="{odd: $odd, even: $even}">
	       		<td align="center" data-title="'Russian lang.'">{{'Student name'}}</td>
	        </tr>
		</table>
		</div>
		<div class="col-lg-3">
		<table class="table table-striped m-b-none text-sm" show-filter="false" style="border-top: 1px solid #e0e4e8;" >
	        <tr>
	        	<td align="center"><strong>Kyrgyz lang.</strong></td>
	        </tr>
	        <tr ng-repeat="CGroupe in CGroupes" ng-class="{odd: $odd, even: $even}">
	       		<td align="center" data-title="'Russian lang.'">{{'Student name'}}</td>
	        </tr>
		</table>
		</div>
		<div class="col-lg-3">
		<table class="table table-striped m-b-none text-sm" show-filter="false" style="border-top: 1px solid #e0e4e8;" >
	        <tr>
	        	<td align="center"><strong>English lang.</strong></td>
	        </tr>
	        <tr ng-repeat="CGroupe in CGroupes" ng-class="{odd: $odd, even: $even}">
	       		<td align="center" data-title="'Russian lang.'">{{'Student name'}}</td>
	        </tr>
		</table>
		</div>
		</div>
		</div>
	</div>
</div>