<div class="col-lg-12">
	<div class="panel">
	<header class="panel-heading bg-dark">Rating of progress in primary school </header>
		<div class="panel-body">
			<div align="center"><h3>Tasks for 2nd quarter of 2014-2015</h3></div>
			<ul>
				<li>Principle realization of self-oriented learning</li>
				<li>Increase % quality and progress of all of the students to 2-4%</li>
			</ul>
		</div>
		
	</div>
</div>