 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   	  	<li><a href="#/accounting">{{ "ACCOUNTANT.ACCOUNTING.Student_list" | translate }}</a></li>
   		<li><a href="#/kids">{{ "ACCOUNTANT.ACCOUNTING.Kindergarten_Student_List" | translate }}</a></li>
   </ul>
<ul ng-include src="'../../common/templates/user.html'"></ul>	
 </div>	