 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
    <li><a href="#/list_stuff">{{"ADMIN.STUFF.SL"| translate}}</a></li>
    <li><a href="#/add_stuff">{{"ADMIN.STUFF.ANS"| translate}}</a></li>
    
   </ul>
<ul ng-include src="'../../common/templates/user.html'"></ul>	
 </div>		