<nav class="nav-primary hidden-xs">
	<ul class="nav">
		<li>
			<a href="../example/#/list"> <i class="icon-group"></i> <span>Example</span></a>
		</li>
		<li>
			<a href="../example1/#/list"> <i class="icon-female"></i><span>Ex1 not ready</span></a>
		</li>
		<li>
			<a href="../example2/#/list"> <i class="icon-male"></i> <span>Ex2 not ready</span></a>
		</li>
		<li>
			<a href="../example3/#/list"> <i class="icon-male"></i> <span>Ex3 not ready</span></a>
		</li>
	</ul>
</nav>