 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
   
    <li><a href="#/general">General</a></li>
    <li><a href="#/charts">Charts</a></li>
    <li><a href="#/rating">Rating</a></li>
    <li><a href="#/recommend">Recommend</a></li>
    <li><a href="#/tasks">Tasks</a></li>
    
   </ul>
<ul ng-include src="'../../common/templates/user.html'"></ul>	
 </div>	