
			<div class="header b-b bg-info">
				<div class="row">
					<div class="col-sm-4">
						<h4 class="l-b l-b-none" style="margin-right: -790px; text-align:center;">{{"SECRETARY.PASS.PRS" | translate}}</h4>
					</div>
				</div>
			</div>
			<!--end student panel name and start panel inside-->

			<section class="text-center">
				<section class="panel col-sm-12 text-center">
					<header class="panel-heading font-bold">{{"SECRETARY.PASS.PSS" | translate}}</header>
					<div class="panel-body">
						<form autocomplite="off" class="form-inline" role="form" ng-submit="save()">
							
							<div class="form-group">
								<label class="sr-only" for="currentPassword">Current password</label>
									<input ng-model="currentPassword" type="password" class="form-control"
									id="currentPassword" placeholder="Enter Current Password" ng-required="true">
							</div>
							<div class="form-group">
								<label class="sr-only" for="newPassword">New password</label> 
								<input ng-model="newPassword" type="password" class="form-control"
									id="newPassword" placeholder="New password" ng-required="true">
							</div>
							<div class="form-group">
								<label class="sr-only" for="confirmPassword">Confirm password</label>
									<input ng-model="confirmPassword" type="password" class="form-control"
									placeholder="Repeat Password" ng-required="true">
							</div>
							<button type="submit" class="btn btn-danger">{{"SECRETARY.PASS.SAVE" | translate}}</br></button>

						</form>
					</div>
				</section>
			</section>


			<!-- <div class="col-sm-12  text-center">
				<form class="form-horizontal" ng-submit="update(teacher.id)">
					<section class="panel">
						<header class="panel-heading  bg-success">
							<strong>Teacher information</strong>
						</header>
						<div class="panel-body ">
							<div class="form-group">
								<label class="col-sm-3 control-label">Name and Surname</label>
								<div class="col-sm-6">
									<div style="text-align:left;" type="text" class="form-control" data-type="text"
										data-required="true" placeholder="fullname" >
										{{secretary.nameEn}} {{secretary.surnameEn}}
									</div>
								</div>
							</div>
							<div class="line line-dashed line-lg pull-in"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Birthdate</label>
								<div class="col-sm-6">
									<input ng-model="teacher.birthDate" type="text" 
				 							class="form-control" datepicker-popup="{{datepicker.format}}" 
				 							ng-model="dt" is-open="datepicker.opened" min-date="2014-09-01" 
				 							max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" 
				 							ng-required="true" close-text="Close" ng-required="true"/>
				    						
								</div>
							</div>

							<div class="line line-dashed line-lg pull-in"></div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Email</label>
								<div class="col-sm-6">
									<input ng-model="teacher.email"  type="email" class="form-control" name="email">
								</div>
							</div>
							<div class="line line-dashed line-lg pull-in"></div>
							
						</div>
						<footer class="panel-footer m-b-n-sm text-center bg-success">
							<button type="submit" class="btn btn-blue btn-s-lg btn-rounded bg-white">Update</button>
						</footer>
					</section>
				</form>
			</div> -->

