 <ul class="nav navbar-nav navbar-right  bg-black">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle dker" data-toggle="dropdown"> 
			<span
				class="thumb-sm avatar pull-left m-t-n-xs m-r-xs"> <img
					src="../../../assets/images/logo2.png">
			</span>{{getCurrentLanguage() == "en" ? (userInfo.nameEn + " " + userInfo.surnameEn) : (userInfo.nameRu + " " + userInfo.surnameRu)}} <b class="caret"></b>
		</a>
		<ul class="dropdown-menu animated fadeInLeft bg-success">
			<li><a href="../../common/templates/oxford.html">{{ "COMMON.TEMPLATES.Program" | translate }}</a></li>
			<li><a href="profile.html">{{ "COMMON.TEMPLATES.Profile" | translate }}</a></li>
			<li><a href="javascript:void(0)" ng-click="translate('kg')">{{ "COMMON.TEMPLATES.KG" | translate }}</a></li>
			<li><a href="javascript:void(0)" ng-click="translate('en')">{{ "COMMON.TEMPLATES.EN" | translate }}</a></li>
			<li><a href="javascript:void(0)" ng-click="translate('ru')">{{ "COMMON.TEMPLATES.RU" | translate }}</a></li>
			<li><a href="../../common/templates/help.html">{{ "COMMON.TEMPLATES.Help" | translate }}</a></li>
			<li><a ng-click="logout()" href="javascript:void(0)">{{ "COMMON.TEMPLATES.Logout" | translate }}</a></li>
		</ul>
	</li>
</ul> 