 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
    <li><a href="#/checkup">{{"DOCTOR.CHECKUP.CHECKUP" | translate}}</a></li>
    <li><a href="#/checkupResults">{{"DOCTOR.CHECKUP.CHKR" | translate}}</a></li>
    
   </ul>
<ul ng-include src="'../../common/templates/user.html'"></ul>	
 </div>	