.mydatepicker .btn-default{
	background-color: #fff;
    border-color: #ccc;
    color: #333 !important;
}

.timetable th, .timetable td {
	text-align: center;
}

.studentCourseStyle{
	text-align: center;
}
#timepicker a{
	padding: 0px;
}
#timepicker tr td{
	padding: 0px;
	margin: 0px;
	width: 0px;
}
#timepicker tr:nth-child(2){
	padding: 6px 10px;
}
#timepicker input {
	height:24px;
	padding: 0px;
	width : 100%;
}
table td.cat1{
	background-color: #E06954 !important;
}
table td.cat2{
	background-color:#ffc600 !important;
}
table td.cat3{
	background-color:#486DEE !important;
}
table td.NORMA{
	background-color:#B1D32C !important;
}
table td.1CO{
	background-color:#556CAA !important;
}
table td.2CO{
	background-color:#D3802C !important;
}
table td.3CO{
	background-color:#C03A67 !important;
}
table td.NoStandard{
	background-color:#bfbfbf !important;
}

