<div class="row">
<div class="col-lg-12">
<section class="panel">
<header class="panel-heading font-bold bg-success">{{"SECRETARY.COURSES.EI" |translate}}</header>
  <div class="panel-body">
  <form name="addCourse" class="bs-example form-horizontal" ng-submit="save()">
    <div class="col-sm-6">
        <div class="form-group">
          <label class="col-lg-3 control-label">{{"SECRETARY.COURSES.CC" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <input ng-model="course.code" type="text" class="form-control" name="course_code" required>
            </div>
        </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"SECRETARY.COURSES.L" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <select ng-model="course.lesson.id" name="lesson" class="form-control" required>
              	<option value="">{{"SECRETARY.COURSES.Select" |translate}}</option>
                 <option ng-repeat="lesson in lessons" ng-value="{{lesson.id}}">{{lesson.name}}</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"SECRETARY.COURSES.Y" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
           		<select ng-model="course.year.id" name="year" class="form-control" required>
          			<option value="">{{"SECRETARY.COURSES.Select" |translate}}</option>
          			<option ng-repeat="year in years" ng-value="year.id">{{year.year | date:'yyyy'}}</option>
          		</select>
            </div>
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"SECRETARY.COURSES.C" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <select ng-model="course.classGroup.id" name="class" class="form-control">	
                <option value="">{{"SECRETARY.COURSES.Select" |translate}}</option>
                <option ng-repeat="CGroup in CGroupes" value="{{CGroup.id}}">{{CGroup.grade.grade}}{{CGroup.classLetter.letter}}</option>
              </select> 
            </div>
          </div>
         <div class="form-group">
          <label class="col-lg-3 control-label">{{"SECRETARY.COURSES.T" |translate}}<span class="text-danger">*</span></label>
            <div class="col-lg-6"> 
              <select ng-model="course.teacher.id" name="teacher" class="form-control" required>
                <option ng-repeat="teacher in teacherss" value="{{teacher.id}}">{{teacher.nameEn}} {{teacher.surnameEn}}</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
          </div>
          <div class="form-group">
          <label class="col-lg-3 control-label"></label>
            <div class="col-lg-6">
              <button  type="submit" class="btn btn-s-md btn-success">{{"SECRETARY.COURSES.Save" |translate}}</button>
              <a href="#/courses" type="#" class="btn btn-s-md btn-default">{{"SECRETARY.COURSES.Cancel" |translate}}</a>
            </div>
          </div>
    </div>
    </form>
  </div>
        <div class="line line-dashed line-lg pull-in"></div>
  </section>
  </div>
  </div>