<div class="row">
<div class="col-lg-12">
    <div class="panel">
    <header class="panel-heading font-bold bg-success">{{"SECRETARY.COURSES.CL" | translate}}</header>
      <div class="panel-body">
        <div class="tab-content">
          <div class="table-responsive">
                      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                      <div class="row">
                        <div class="col-sm-6">
                          <div id="DataTables_Table_0_length" class="dataTables_length">
                            <label> 
                              {{"SECRETARY.COURSES.Show" | translate}}:
                              <select ng-model="count" size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="dataTables_filter"><a href="#/add_course" class="btn btn-success btn-sm">{{"SECRETARY.COURSES.ANC"|translate}}&nbsp;<i class="icon-plus"></i></a></div>
                         <div class="dataTables_filter" style="margin-right: -15px !important;"><span class="btn btn-default btn-sm">{{"SECRETARY.STUDENTS.RESULT" | translate}} : {{tableParams.total()}}</span></div>
                          </div>
                        </div>
                        </div><!--end of row-->
                        <table style="display:none">
                        	<tr>
                        		<td class="">{{"SECRETARY.COURSES"| translate}}</td>
                        		<td class="cc">{{"SECRETARY.COURSES.CC"| translate}}</td>
                        		<td class="l">{{"SECRETARY.COURSES.L"| translate}}</td>
                        		<td class="c">{{"SECRETARY.COURSES.C"| translate}}</td>
                        		<td class="t">{{"SECRETARY.COURSES.T"| translate}}</td>
                        		<td class="y">{{"SECRETARY.COURSES.Y"| translate}}</td>
                        		<td class="o">{{"SECRETARY.COURSES.O"| translate}}</td>
                        	</tr>
                        </table>
                      
                      <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" >
                                            
                          <tr ng-repeat="course in $data" ng-class="{odd: $odd, even: $even}">
                          	<td data-title="'#'">{{$index + 1}}.</td>
                            <td data-title="getTitle('cc')" sortable="'code'" filter="{ 'code': 'text' }">{{course.code}}</td>
                            <td data-title="getTitle('l')" sortable="'lesson'" filter="{ 'lesson': 'text' }">{{course.lesson.name}}</td>
                            <td data-title="getTitle('c')" sortable="'class'" filter="{ 'class': 'text' }">{{course.classGroup.grade.grade + course.classGroup.classLetter.letter}}</td>
                            <td data-title="getTitle('t')" sortable="'teacher'" filter="{ 'teacher': 'text' }">{{course.teacher.nameEn + ' '  + course.teacher.surnameEn}}</td>
                            <td data-title="getTitle('y')" filter="{ 'year': 'text' }">{{course.year.year | date:'yyyy'}} - {{course.year.year + 31569000000 | date: 'yyyy'}} </td>
                            <td data-title="getTitle('o')" style="text-align: center;">
                                <a href="#/edit_course/{{course.id}}" tooltip="Edit" data-placement="top"><i class="icon-pencil"></i></a>&nbsp;
                                <a href="javascript:void(0)" ng-click="deleteCourse(course.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
                            </td>
                          </tr>
                      </table>
                      </div><!--end of datatables 0 wrapper-->
                      </div><!--end of tab-content-->
                      
                      
                      </div><!--end of tab-content-->
                      </div><!--end of panel body-->
                    </div><!--end of table resp-->

                    </div><!--panel-->
                    
                  </div><!--end col-lg-12-->
                  </div>
                  
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; {{"SECRETARY.STUDENTS.Previous" | translate}}</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href=""> {{"SECRETARY.STUDENTS.Next" | translate}}&raquo;</a>
		</li>
		</div>
       </ul>
</script>