<div class="row">
<div class="col-sm-6">
  <section class="panel">
	<header class="panel-heading bg-success">{{"SECRETARY.NOTETYPE.EDIT" | translate}}</header>
	  <div class="panel-body">
		<form class="form-horizontal" role="form"  ng-submit="update()" >
		  <div class="form-group">
			 <label class="col-lg-3 control-label">{{"SECRETARY.NOTETYPE.TYPE" | translate}}<span class="text-danger">*</span></label>
				<div class="col-lg-9">
				  <input ng-model="note_type.name" type="text" class="form-control" required/>
				</div>
		    <div class="form-group"></div>
		    <label class="col-lg-3 control-label">{{"SECRETARY.NOTETYPE.CRE" | translate}}<span class="text-danger">*</span></label>
		    <div class="col-lg-9">
			   <input ng-model="note_type.weight"  type="text" class="form-control" required/>
		    </div>
		   </div>
		   
  		<!-- <button type="submit" class="btn btn-success pull-right">{{"SECRETARY.LESSON.UP" | translate}}</button>
  		<a href="#lesson">
		<button class="btn btn-s-md btn-default" type="#" ng-click="cancel()">{{"SECRETARY.LESSON.CANE" | translate}}</button>
        -->
	<div class="form-group pull-right">
		<button type="submit" class="btn btn-s-md btn-success">{{"SECRETARY.NOTETYPE.SAVE" | translate}}</button>
			<a href="#notetypes">
				<button ng-click="cancel()" type="#" class="btn btn-s-md btn-default">{{"SECRETARY.NOTETYPE.CANCEL" | translate}}</button>
          	</a>
	</div>
       
       </form>
 </div>
 </section>
 </div>
 </div>