<div class="tab-content">
	<section class="tab-pane active">
		<div class="panel">
			<div class="panel-body">
				<div class="col-sm-6">

					<section class="panel">
						<header class="panel-heading bg-success">{{"SECRETARY.NOTETYPE.GS" | translate}}</header>
						 <table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th>{{"SECRETARY.NOTETYPE.TYPE" | translate}}</th>
                          	<th>{{"SECRETARY.NOTETYPE.OPER" | translate}}</th>
                          </tr>
                          <tr ng-repeat="note_type in note_types" value="{{note_type.id}}" ng-class="{odd: $odd, even: $even}">
                            <td >{{note_type.name}}</td>
                            <td data-title="'Opearations'" width="70">
                            	<div align="center">
									<a href="#edit_notetype/{{note_type.id}}" tooltip="Edit" data-placement="top"> <i class="icon-pencil"></i></a> 
                                	<a href="javascript:void(0)" ng-click="deleteNoteType(note_type.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td>
							</tr>
						 </table>
					</section>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading bg-success">{{"SECRETARY.NOTETYPE.AD" | translate}}</header>
							<div class="panel-body">
								<form name="add_note_type_form" class="form-horizontal" role="form" ng-submit="submitNoteType()">
									<div class="form-group">
										<label class="col-lg-3 control-label">{{"SECRETARY.NOTETYPE.TYPE" | translate}}<span class="text-danger">*</span></label>
										<div class="col-lg-9">
											<input ng-model="note_type.name" type="text" class="form-control" placeholder="Enter note type name" name="note_type_name" ng-required="true">
            							</div>
            						</div>
            						<div class="form-group">
            							<label class="col-lg-3 control-label">{{"SECRETARY.NOTETYPE.CRE" | translate}}<span class="text-danger">*</span></label>
	            							<div class="col-lg-9">
	            								<input ng-model="note_type.weight" type="text" class="form-control" placeholder="Enter note type credit" name="note_type_credit" ng-required="true">
	            							</div>
            							
										<!-- <div class="form-group"></div>
										<label class="col-lg-3 control-label">{{"SECRETARY.LESSON.DESC" | translate}}</label>
										<div class="col-lg-9">
											<textarea ng-model="lesson.description" rows="2" class="form-control"
												placeholder="Enter some information about subject" name="lesson.description">
			   									this lesson is about living organisms</textarea>
			   							</div> -->
									</div>
									<!-- BUTTON ng-click -->
									<button  type="submit"
										class="btn btn-success pull-right">{{"SECRETARY.NOTETYPE.SAVE" | translate}}</button>
								</form>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>




