<!DOCTYPE html>
<html lang="en" ng-app="settingsApp" >	
<head>		
  <meta charset="utf-8" />
  <title>Oxford SMS</title>
  <meta name="description" content="Oxford" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 	 			 
</head>		
<body >

  <section class="hbox stretch">
    <!-- .aside -->		
    	
    <aside class="bg-dark aside" id="nav">
      <section class="vbox">
        <header class="dker nav-bar nav-bar-fixed-top">
          <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
            <i class="icon-reorder"></i>
          </a>	
          <a dsbl-click href="#" class="nav-brand" data-toggle="fullscreen">Oxford</a>
          <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-user">
            <i class="icon-comment-alt"></i>
          </a>
        </header>
        <section>

          <!-- user -->
<!--           <ng-include src="'../../assets/templates/user.html'"></ng-include> -->
          <!-- / user -->		

          <!-- nav -->
         <ng-include src="'../admin_menu.html'"></ng-include> 
          <!-- / nav -->	
          
        </section>
        <footer class="footer bg-gradient hidden-xs">
          <a ng-click="logout()" href="javascript:void(0)" data-toggle="ajaxModal" class="btn btn-sm btn-link m-r-n-xs pull-right">
            <i class="icon-off"></i>
          </a>
          <a dsbl-click href="#nav" data-toggle="class:nav-vertical" class="btn btn-sm btn-link m-l-n-sm">
            <i class="icon-reorder"></i>
          </a>
        </footer>
      </section>
    </aside>
  
    <!-- /.aside -->
    <!-- .vbox -->
    <section id="content">
      <section class="vbox">
      	<header class="header bg-black navbar navbar-inverse b-b">
      		<ng-include src="'settings_menu.html'" class="ng-scope"> <div class="collapse navbar-collapse pull-in ng-scope">
   
 </div>	</ng-include></header>
		<section class="scrollable wrapper" id="pjax-container"> 
        	<div ng-view></div>
		</section>				
      </section>
		
		
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <!-- /.vbox -->
  </section>
 <script src="../../../assets/js/main.js"></script>
</body>
</html>
	