 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
   
    <li><a href="#/settings">{{"ADMIN.SETTINGS.LL"| translate}}</a></li>
    <li><a href="#/users">{{"ADMIN.SETTINGS.Users"| translate}}</a></li>
    <li><a href="#/stuff">{{"ADMIN.SETTINGS.Staff"| translate}}</a></li>
    
    
   </ul>
<ul ng-include src="'../../common/templates/user.html'"></ul>	
 </div>	