<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading bg-primary">{{"ACCOUNTANT.ACCOUNTING.EI" | translate}}</header>
			<div class="panel-body">
				<form class="bs-example form-horizontal" ng-submit="submitted()">
					<div class="form-group">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-5">
									<h4>Student : <strong>{{stud_accounting.student.nameEn + ' ' + stud_accounting.student.surnameEn}}</strong></h4>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-5">
									<h4>Annual Fee : <strong>{{stud_accounting.anualFee}}</strong></h4>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-5">
									<h4>Payed Fee : <strong>{{stud_accounting.payed}}</strong></h4>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-5">
									<h4>Left : <strong>{{stud_accounting.anualFee - stud_accounting.payed}}</strong></h4>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-3"><h4>Enter Payment Amount:</h4></div>
									<div class="col-lg-2" style="margin-left: -60px;"><input type="text" class="form-control" ng-model="payed"></div>
									
								
							</div>
						</div>
					</div>

					

					<div class="line line-dashed line-lg pull-in"></div>
<!-- 
					<div class="form-group">
						<div class="col-lg-8">
							<div class="row">
								<div class="col-md-4">
									<h4>Annual Fee<strong>{{stud_accounting.anualFee}}</strong></h4>
								</div>
								<div class="col-md-4">
									<select name="country" class="form-control">
										<option>2014 - 2015</option>
										<option>2015 - 2016</option>
										<option>2016 - 2017</option>
									</select>
								</div>
							</div>
						</div>
					</div>
 -->
					<!-- <div class="form-group">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-md-4"></div>
								<div class="col-md-4"><h4><strong>Annual Fee:  </strong> {{stud_accounting.anualFee}}</h4></div>
							</div>
							
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-md-4"></div>
									<div class="col-md-4"><h4><strong>Enter amount:</strong></h4>
										<div class="col-md-4"><input type="text" class="form-control" name="{{stud_accounting.payed}}">
								</div>
							</div>
						</div>
					</div> -->

					<div class="form-group" style="margin-left: 20px">
						<button type="submit" class="btn btn-s-md btn-success">Submit</button>
						<button href="#accounting" class="btn btn-s-md btn-default">Cancel</button>
					</div>
					<div class="line line-dashed line-lg pull-in"></div>
				</form>
			</div>
		</section>
	</div>
</div>