<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading bg-primary">Please, enter information below</header>
			<div class="panel-body">
				<form class="bs-example form-horizontal" ng-submit="submitted()">
					<div class="form-group">
						<label class="col-lg-3 control-label"></label>
						<div class="col-lg-9">
							<div class="row">
								<div class="col-md-5">
									<h4>Student : <strong>{{stud_accounting.student.nameEn + ' ' + stud_accounting.student.surnameEn}}</strong></h4>
								</div>
							</div>
						</div>
					</div>
<div class="line line-dashed line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Annual fee</label>
						<div class="col-lg-8">
							<div class="row">
								<div class="col-md-4">
									<input type="text" class="form-control" ng-model="stud_accounting.anualFee">
								</div>
								<div class="col-md-4">
									<select name="country" class="form-control">
										<option>2014 - 2015</option>
										<option>2015 - 2016</option>
										<option>2016 - 2017</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Paid</label>
						<div class="col-lg-8">
							<div class="row">
								<div class="col-md-4">
									<input type="text" class="form-control" name="stud_accounting.payed">
								</div>
								<div class="col-md-4">
									<h4>Left : <strong>{{stud_accounting.anualFee - stud_accounting.payed}}</strong></h4>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group" style="margin-left: 410px">
						<button type="submit" class="btn btn-s-md btn-success">Submit</button>
						<button href="#accounting" class="btn btn-s-md btn-default">Cancel</button>
					</div>
					<div class="line line-dashed line-lg pull-in"></div>
				</form>
			</div>
		</section>
	</div>
</div>