<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading bg-primary">{{"ACCOUNTANT.ACCOUNTING.EI" | translate}}</header>
			<div class="panel-body">
				<form class="bs-example form-horizontal" ng-submit="submitted()">
					<div class="form-group">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-5">
									<h4>{{"ACCOUNTANT.ACCOUNTING.Student" | translate}} : <strong>{{stud_accounting.student.nameEn + ' ' + stud_accounting.student.surnameEn}}</strong></h4>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-5">
									<h4> {{"ACCOUNTANT.ACCOUNTING.AF" | translate}}: <strong>{{stud_accounting.anualFee}}</strong></h4>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-5">
									<h4>{{"ACCOUNTANT.ACCOUNTING.PF" | translate}}: <strong>{{stud_accounting.payed}}</strong></h4>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-5">
									<h4>{{"ACCOUNTANT.ACCOUNTING.Left" | translate}}: <strong>{{stud_accounting.anualFee - stud_accounting.payed}}</strong></h4>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-3"><h4>{{"ACCOUNTANT.ACCOUNTING.EPA" | translate}}:</h4></div>
									<div class="col-lg-2" style="margin-left: -60px;"><input type="text" class="form-control" ng-model="payed"></div>
							</div>
						</div>
					</div>
<div class="line line-dashed line-lg pull-in"></div>
					<div class="form-group" style="margin-left: 20px">
						<button type="submit" class="btn btn-s-md btn-success">{{"ACCOUNTANT.ACCOUNTING.Save" | translate}}</button>
							<a href="#accounting">	
				            	<button ng-click="cancel()" type="#" class="btn btn-s-md btn-default">{{"ACCOUNTANT.ACCOUNTING.Cancel" | translate}}</button>
				          	</a>
					</div>
					<div class="line line-dashed line-lg pull-in"></div>
				</form>
			</div>
		</section>
	</div>
</div>