<nav class="nav-primary hidden-xs">
	<ul class="nav">
		<li><a href="../timetable/#/timetable" class="bg-success" style="color:#FFF;"> <i class="icon-time"></i>
				<span>{{"COMMON.TT" | translate}}</span></a></li>

		<li><a href="../myclasses/#/student_class"class="bg-info" style="color:#FFF;"> 
		<i class="icon-briefcase"></i><span>{{"COMMON.MCL" | translate}}</span></a></li>

		<li><a href="../mycourses/#/course" class="bg-danger" style="color:#FFF;"> <i class="icon-compass"></i>
				<span>{{"COMMON.MCO" | translate}}</span></a></li>

		<li><a href="../successreport/#/successReport" class="bg-primary" style="color:#FFF;"> <i class="icon-trophy"></i>
				<span>{{"COMMON.SR" | translate}}</span>
		</a></li>

		<li><a href="../accounting/#/stAccounting" class="bg-warning" style="color:#FFF;"> <i class="icon-user"></i>
				<span>{{"COMMON.AC" | translate}}</span>
		</a></li>

		<li><a href="../edit/#/list"  style="background-color:#C72AAF; color:#FFF;">
		<i class="icon-gears"></i> <span>{{"COMMON.IE" | translate}}</span>
		</a></li>
	</ul>
</nav>