<div class="row">
	<div class="col-lg-12">
		<div class="panel">
			<div class="panel-body">
				<form name="timeTable" class="bs-example form-horizontal" ng-submit="save()">
				<header class="panel-heading bg-success">{{'SECRETARY.TIMETABLE.ADDD' | translate}}</header>
					<div class="line line-dashed line-lg pull-in"></div>
				        <div class="form-group">
				        	<!-- <label class="col-lg-3 control-label">{{"SECRETARY.TIMETABLE.SCHT" | translate}}</label>
				            <div class="col-lg-2"> 
				              <select ng-model="classHourTypeId" name="classHourType" class="form-control">
				                <option ng-selected="classHourTypeId == classHourType.id" ng-repeat="classHourType in classHourTypes" value="{{classHourType.id}}">{{classHourType.name}}</option>
				              </select> 
				            </div> -->
				          	<label class="col-lg-2 control-label">{{"SECRETARY.TIMETABLE.SELD" | translate}}</label>
				            <div class="col-lg-2"> 
				              <select ng-model="classGroup.id" name="CGroup" class="form-control">
				                <option ng-repeat="CGroup in CGroups" value="{{CGroup.id}}">{{CGroup.grade.grade}}{{CGroup.classLetter.letter}}</option>
				                <!-- <option ng-selected="CGroups[0].id == CGroup.id" ng-repeat="CGroup in CGroups" value="{{CGroup.id}}">{{CGroup.grade.grade}}{{CGroup.classLetter.letter}}</option> -->
				              </select> 
				            </div>
				            <div class="dataTables_filter" style="margin-right: 15px !important; margin-top: -16px;">
				         		<a href="#" class="btn btn-warning btn-sm pull-right" onclick="window.print();" style="color: #4E4E4E !important;">{{"SECRETARY.STUDENTS.PRINT" | translate}} &nbsp;<i class="icon-print"></i></a>
				         	</div>
				         </div>
				         
				      <div class="line line-dashed line-lg pull-in"></div>

				<table class="table table-striped m-b-none dataTable timetable" 
					   dataride="datatables" style="border: 1px solid #e0e4e8; border-width: 1px 0;">
					<thead>
						<tr role="row">
							<th rowspan="1" colspan="1" style="width: {{100/(weekDays.length+ 1)">Time</th>
							<th ng-repeat="weekDay in weekDays" rowspan="1" colspan="1" style="width: {{100/(weekDays.length+ 1)">{{weekDay.name}}</th>
						</tr>
					</thead>
	
					<tbody role="alert" aria-live="polite" aria-relevant="all">
						<tr ng-repeat="timetableRow in timetableArray" role="row">
							<td ng-repeat="timetableCell in timetableRow track by $index" rowspan="1" colspan="1" style="font-weight: 600">
								<span ng-if="$index == 0" >{{timetableCell.startHour | date : 'HH:mm' }}-{{timetableCell.endHour | date : 'HH:mm'}}</span>
								<span ng-if="$index != 0">
									<select size="1" ng-model="timetableCell.course.id">
										<option value="noclass">--</option>
		                          		<option ng-selected="timetableCell.course.id == course.id" ng-repeat="course in courses" value="{{course.id}}">{{course.lesson.name}}</option>
		                       		</select>
		                       	</span>
							</td>
						</tr>
					</tbody>
				</table>
			
			<br><br>
	            <div class="col-lg-6">
	              <button type="submit" class="btn btn-s-md btn-success">{{"SECRETARY.TIMETABLE.SUBD" | translate}}</button>
	              <a href="#/timetable" type="#" class="btn btn-s-md btn-default">{{"SECRETARY.TIMETABLE.CAND" | translate}}</a>
	            </div>
	          </form>
		</div>
		<!--end of datatables 0 wrapper-->
</div>
	</div>
	<!--end of table resp-->
	
</div>
<!--panel-->
