 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
    <li><a href="#/list_teacher">{{"ADMIN.TEACHERS.TL" | translate}}</a></li>
    <li><a href="#/add_teacher">{{"ADMIN.TEACHERS.ANT" | translate}}</a></li>
    
   </ul>
<ul ng-include src="'../../common/templates/user.html'"></ul>	
 </div>	