<div class="row">
<div class="col-lg-12">
  <div class="panel">
  <header class="panel-heading font-bold bg-success">{{"DOCTOR.CHECKUP.CHECKUP" | translate}}</header>
  <div class="panel-body">
  	<div class="row">
		<!-- <div class="col-sm-3">
			<div class="form-group">
	          <label class="col-lg-3 control-label">{{'DOCTOR.CHECKUP.ST' | translate}}</label>
	            <div class="col-sm-9"> 
	              <select ng-model="schoolType.id" name="schoolType" ng-change="getGroupList()" class="form-control" required>
	              	<option value="">{{'DOCTOR.COMMON.Select' | translate}}</option>
	                <option ng-repeat="schoolType in schoolTypes" value="{{schoolType.id}}">{{schoolType.name}}</option>
	              </select> 
	            </div>
	        </div>
		</div>-->
		<div class="col-sm-3">
			<div class="form-group">
	          <label class="col-lg-3 control-label">{{'DOCTOR.CHECKUP.P' | translate}}</label>
	            <div class="col-sm-9"> 
	              <select ng-model="period.id" name="period" ng-change="getStudentList()" class="form-control" required>
	              	<option value="">{{'DOCTOR.COMMON.Select' | translate}}</option>
	                <option ng-repeat="period in periods" value="{{period.id}}">{{period.name}}</option>
	              </select> 
	            </div>
	        </div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
	          <label class="col-lg-3 control-label">{{'DOCTOR.CHECKUP.GR' | translate}}</label>
	            <div class="col-sm-9"> 
	              <select ng-model="group.id" name="group" ng-change="getStudentList();" class="form-control" required>
	              	<option value="">{{'DOCTOR.COMMON.Select' | translate}}</option>
	                <option ng-repeat="group in groups" value="{{group.id}}"> {{group.grade.grade}} {{group.classLetter.letter}}</option>
	              </select> 
	            </div>
	        </div>
		</div>
		<div class="col-sm-6">
		     <div style="margin-right: -15px !important;" class="dataTables_filter "><span class="btn btn-default btn-sm ng-binding" style="background-color:#C03A67; !important;">3CO</span></div>
		     <div style="margin-right: -15px !important;" class="dataTables_filter "><span class="btn btn-default btn-sm ng-binding" style="background-color:#D3802C; !important;">2CO</span></div>
		     <div style="margin-right: -15px !important;" class="dataTables_filter "><span class="btn btn-default btn-sm ng-binding" style="background-color:#556CAA; !important;">1CO</span></div>
		     <div style="margin-right: -15px !important;" class="dataTables_filter "><span class="btn btn-default btn-sm ng-binding" style="background-color:#B1D32C; !important;">NORMA</span></div>
		     <div style="margin-right: -15px !important;" class="dataTables_filter "><span class="btn btn-default btn-sm ng-binding" style="background-color:#486DEE; !important;">-1CO</span></div>
		     <div style="margin-right: -15px !important;" class="dataTables_filter "><span class="btn btn-default btn-sm ng-binding" style="background-color:#ffc600; !important;">-2CO</span></div>
		     <div style="margin-right: -15px !important;" class="dataTables_filter "><span class="btn btn-default btn-sm ng-binding" style="background-color: #E06954; !important;">-3CO</span></div>
	    	 <div style="margin-right: -15px !important;" class="dataTables_filter "><span class="btn btn-default btn-sm ng-binding" style="background-color: #bfbfbf; !important;">{{"DOCTOR.CHECKUP.NS" | translate}}</span></div>
	   </div>
    </div>
    <div class="row">
    	<div class="col-sm-12">
					<section class="panel">
						<header class="panel-heading bg-success" >{{"DOCTOR.CHECKUP.GRL"| translate}}</header>
						 <table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th>№</th>
                          	<th>{{"DOCTOR.CHECKUP.N"| translate}} {{"DOCTOR.CHECKUP.S"| translate}}</th>
                          	<th>{{"DOCTOR.CHECKUP.G"| translate}}</th>
                          	<th>{{"DOCTOR.CHECKUP.BD"| translate}}</th>
                          	<th>{{"DOCTOR.CHECKUP.H"| translate}}</th>
                          	<th>{{"DOCTOR.CHECKUP.HC"| translate}}</th>
                          	<th>{{"DOCTOR.CHECKUP.W"| translate}}</th>
                          	<th>{{"DOCTOR.CHECKUP.WC"| translate}}</th>
                          	<th>{{"DOCTOR.CHECKUP.WH"| translate}}</th>
                          	<th>{{"DOCTOR.CHECKUP.WCH"| translate}}</th>
                          </tr>
                          <tr  class="row_{{student.student.id}}" ng-repeat="student in students" ng-model="student.id" ng-class="{odd: $odd, even: $even}">
                          	<td>{{$index + 1}}</td>
                            <td >{{student.student.nameEn}} {{student.student.surnameEn}}</td>
                            <td >{{student.student.isMale ? "Male" : "Female"}}</td>
                            <td >{{student.student.birthDate | date: 'dd-MM-yyyy'}}</td>
                            <td class="{{student.categoryH}}">{{student.height}}<input type="hidden" ng-model="student.id" value="{{student.id}}" /></td>
                            <td ><textarea ng-model="student.heightComment" value="{{student.id}}" style="width:100px;">{{student.heightComment}}</textarea></td>
                            <td class="{{student.categoryW}}">{{student.weight}}</td>
                            <td ><textarea ng-model="student.weightComment" value="{{student.id}}" style="width:100px;">{{student.weightComment}}</textarea></td>
                            <td class="{{student.categoryWFH}}">{{student.height}} : {{student.weight}}</td>
                            <td ><textarea ng-model="student.weightFHComment" value="{{student.id}}" style="width:100px;">{{student.weightFHComment}}</textarea></td>
                            <td data-title="'Opearations'" width="70">
                            	<div class="check_button_{{student.student.id}} "align="center">
                            		 <button  class="btn btn-s-md btn-success" ng-click="submitResult(student)" style="float:right">{{'DOCTOR.COMMON.Save' | translate}}</button>
								</div>
	 							<div class="check_icon_{{student.student.id}} none">
	 								<img src="../../../assets/images/ok.png" / >
	 							</div>
	 							<!-- <a href="#edit_checkup/{{student.id}}" data-toggle="modal" tooltip="Edit" data-placement="top"> <i class="icon-pencil"></i></a> 
                                	 -->
							</td>
							</tr> 
						 </table>
					</section>
				</div>
    	
    </div>
  </div><!--end of table resp-->
  </div>
  </div><!--panel-->
</div><!--end col-lg-12-->
</div>
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; {{"ADMIN.TEACHERS.Previous" | translate}}</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">{{"ADMIN.TEACHERS.Next" |translate}} &raquo;</a>
		</li>
		</div>
       </ul>
</script>