<div class="row">
<div class="col-sm-12">
  <section class="panel">
	<header class="panel-heading bg-success font-bold" > {{"DOCTOR.CHECKUP.ED"| translate}} </header>
	  <div class="panel-body">
		<form class="form-horizontal" role="form"  ng-submit="update()" >
			<div class="form-group">
			<div class="col-sm-6">
				<div class="form-group">
	          <label class="col-lg-3 control-label">{{'DOCTOR.CHECKUP.P' | translate}}</label>
	            <div class="col-sm-6"> 
	              <select ng-model="student.period.id" name="period" class="form-control" required>
	              	<option value="">{{'DOCTOR.COMMON.Select' | translate}}</option>
	                <option ng-selected="student.period.id == period.id" ng-repeat="period in periods" value="{{period.id}}">{{period.name}}</option>
	              </select> 
	            </div>
	        </div>
	        <div class="form-group">
	          <label class="col-lg-3 control-label">{{'DOCTOR.CHECKUP.GR' | translate}}</label>
	            <div class="col-sm-6"> 
	              <select ng-model="student.student.classGroup.id" name="group" class="form-control" readonly>
	              	<option value="">{{'DOCTOR.COMMON.Select' | translate}}</option>
	                <option ng-selected="student.student.classGroup.id == group.id"  ng-repeat="group in groups" value="{{group.id}}"> {{group.grade.grade}} {{group.classLetter.letter}}</option>
	              </select> 
	            </div>
	        </div>
	         <div class="form-group">
				<label class="col-lg-3 control-label">{{"DOCTOR.CHECKUP.N"| translate}} {{"DOCTOR.CHECKUP.S"| translate}}<span class="text-danger">*</span></label>
					<div class="col-lg-6">
						<input readonly value="{{student.student.nameEn  + student.student.surnameEn}}" type="text" class="form-control" placeholder="" required>
					</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">{{"DOCTOR.CHECKUP.G"| translate}}</label>
					<div class="col-lg-6">
						<input readonly value="{{student.student.isMale ? 'Male' : 'Female'}}" type="text" class="form-control" placeholder="" required>
					</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">{{"DOCTOR.CHECKUP.BD"| translate}}</label>
					<div class="col-lg-6">
						<input readonly value="{{student.student.birthDate | date: 'dd-MM-yyyy'}}" type="text" class="form-control" placeholder="" required>
					</div>
			</div>
			</div>
			<div class="col-sm-6">
			<div class="form-group">
				<label class="col-lg-3 control-label">{{"DOCTOR.CHECKUP.H"| translate}}</label>
					<div class="col-lg-6">
						<input ng-model="student.height" value="{{student.height}}" type="text" class="form-control" placeholder="" required>
					</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">{{"DOCTOR.CHECKUP.HC"| translate}}</label>
					<div class="col-lg-6">
						<input ng-model="student.heightComment" value="{{student.heightComment}}" type="text" class="form-control" placeholder="" required>
					</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">{{"DOCTOR.CHECKUP.W"| translate}}</label>
					<div class="col-lg-6">
						<input ng-model="student.weight" value="{{student.weight}}" type="text" class="form-control" placeholder="" required>
					</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">{{"DOCTOR.CHECKUP.WC"| translate}}</label>
					<div class="col-lg-6">
						<input ng-model="student.weightComment" value="{{student.weightComment}}" type="text" class="form-control" placeholder="" required>
					</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">{{"DOCTOR.CHECKUP.WCH"| translate}}</label>
					<div class="col-lg-6">
						<textarea ng-model="student.weightFHComment" value="{{student.weightFHComment}}" type="text" class="form-control" placeholder="" required>{{student.weightFHComment}}</textarea>
					</div>
			</div>
			</div>
		</div>
			<a href="#/material_category">
				<button class="btn btn-s-md btn-default ng-binding" type="#" ng-click="cancel()">Cancel</button>
			</a>
			<div>
  				<button style="margin-top: -35px;" type="submit" class="btn btn-success pull-right">{{"DOCTOR.COMMON.Update"| translate}}</button>
       		</div>
       	</form>
 </div>
 </section> 	
 </div>
 </div>