 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
    <li><a href="#/list">{{"SECRETARY.STUDENTS.Student_list" | translate}}</a></li><!-- 
    <li><a href="#/add_student">{{"SECRETARY.STUDENTS.ANS" | translate}}</a></li> -->
    
   </ul>
  	<ul ng-include src="'../../common/templates/user.html'"></ul>
 </div>	