 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
    <li><a href="#/give_list">{{"LIBRARY.GIVE.LISTUSE" | translate}}</a></li>
    <li><a href="#/give">{{"LIBRARY.GIVE.ADDNEW" | translate}}</a></li>
    
   </ul>
	<ul ng-include src="'../../common/templates/user.html'"></ul>	
<!--    	<ul ng-include src="'../../assets/templates/user.html'"></ul> -->
 </div>	