
<div class="row">
<section class="panel">
	          <div class="panel-body bg-info" style="font-size:20px;">
	            <div class="clearfix m-b">
	              <a href="" class="pull-left thumb m-r"><img src="img/logo.png" class="img-circle" ></a>
	                <div class="clear">
	                  <div class="h3 m-t-xs m-b-xs" style="font-size:30px">{{student.nameEn + " " + student.surnameEn}}</div>
	                  <strong>
						<div style="font-size:15px">{{student.nameRu + " " + student.surnameRu}}</div>
					  </strong>
	                </div>                
	            </div>
	            <div class="well m-t" style="background-color:#FFF; color:#464646;">
	              <div class="row"> 
	                <div class="col-lg-6" >
	                	<p style="font-size:14px">{{"STUDENT.EDIT.T" | translate}}: 
	                		<strong  style="font-size:14px">
	                			{{student.classGroup.teacher.nameEn + " " + student.classGroup.teacher.surnameEn}}
	                		</strong>
	                	</p>
	                  <p  style="font-size:14px">{{"STUDENT.EDIT.G" | translate}}: 	
	                  	<strong  style="font-size:14px">
	          				{{student.classGroup.grade.grade + " " + student.classGroup.classLetter.letter}}
	               		</strong>
	               	</p>
	                  <p  style="font-size:14px">{{"STUDENT.EDIT.R" | translate}}: <strong  style="font-size:14px">{{student.classGroup.room}}</strong></p>
	                  <p  style="font-size:14px">{{"STUDENT.EDIT.DESCRIPT" | translate}}: <strong  style="font-size:14px">{{student.classGroup.description}}</strong></p>
	                
	            
	                </div>
	              </div>     
	            </div>
	          </div>
	        </section>
	        </div>


			<!--NEW for OXford-->
			<!-- <section class="panel portlet-item">
				<div class="">
					.accordion
					<div class="panel-heading bg-info">
						<a class=data-toggle="collapse"> Oxford School News </a>
					</div>
					<div class="panel-group m-b" id="accordion2">
						<div class="panel">
							<a class="accordion-toggle panel-heading" data-toggle="collapse"
								data-parent="#accordion2" href="#collapseOne"><strong>Student
								information </strong>
							</a>
							<div id="collapseOne" class="panel-collapse collapse">
								<div class="panel-body text-sm">Anim pariatur cliche
									reprehenderit, enim eiusmod high life accusamus terry
									richardson ad squid. 3 wolf moon officia aute, non cupidatat
									skateboard dolor brunch. Food truck quinoa nesciunt laborum
									eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
									it squid single-origin coffee nulla assumenda shoreditch et.
									Nihil anim keffiyeh helvetica, craft beer labore wes anderson
									cred nesciunt sapiente ea proident.</div>
							</div>
						</div>
						<div class="panel">
							<a class="accordion-toggle panel-heading" data-toggle="collapse"
								data-parent="#accordion2" href="#collapseTwo"><strong>Information
								for student parents</strong></a>

							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body text-sm">Anim pariatur cliche
									reprehenderit, enim eiusmod high life accusamus terry
									richardson ad squid. 3 wolf moon officia aute, non cupidatat
									skateboard dolor brunch. Food truck quinoa nesciunt laborum
									eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
									it squid single-origin coffee nulla assumenda shoreditch et.
									Nihil anim keffiyeh helvetica, craft beer labore wes anderson
									cred nesciunt sapiente ea proident.</div>
							</div>
						</div>

						<div class="panel">

							<a class="accordion-toggle panel-heading" data-toggle="collapse"
								data-parent="#accordion2" href="#collapseThree"><strong>Rules for
								students</strong></a>

							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body text-sm">Anim pariatur cliche
									reprehenderit, enim eiusmod high life accusamus terry
									richardson ad squid. 3 wolf moon officia aute, non cupidatat
									skateboard dolor brunch. Food truck quinoa nesciunt laborum
									eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
									it squid single-origin coffee nulla assumenda shoreditch et.
									Nihil anim keffiyeh helvetica, craft beer labore wes anderson
									cred nesciunt sapiente ea proident. </div>
							</div>
						</div>
					</div>
				</div>
			</section> -->
<!-- 
		</section>
	</section>
</section>
</div>
</section> -->
