h1, 
a, 
.panel-heading,
.nav-bar-fixed-top,
.line,
.btn,
div#DataTables_Table_0_wrapper .row,
ul.pager,
table tr td#op
	{ 
	display: none; 
	}
select.form-control{
	border: 0px solid #ccc;
	margin: -10px -30px;
	}
.panel{
	width: 700px; 
	border: none;
}
.col-lg-2{
	width: 120px;
	float: left;
}
.col-lg-2 .form-control ng-pristine ng-valid ng-touched{
	border: 0px solid #ccc
}
table select{
	border: 0px solid #ccc;
	margin: -10px 1px -60px 1px;
	width: 80px;
	align: center;
	-moz-appearance: window;
    -webkit-appearance: none;
    padding-right: -10px;
}
table select::-ms-expand{
	display: none;
}
.panel{
	width: 700px;
	margin-left: -20px; 
	margin-top: -20px; 
}
table{
	width: 700px;
	margin-left: -20px;/* 
	margin-top: -90px; */
}
.panel-heading,
{
	border: 0px solid #000;
}
div.panel, div.panel-body, div.row, div.col-lg-12{
	border: 0px solid #000;
}
table tbody tr td.clas{
	text-align: center;
}
