<nav class="nav-primary hidden-xs">
                <ul class="nav">
                  <li><!--edited *******************************************-->
                    <a href="../books">
                      <i class="icon-book"></i>
                      <span>{{"COMMON.BOOKS" | translate}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="../category">
                      <i class="icon-list-ol"></i>
                      <span>{{"COMMON.CATEGORY" | translate}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="../type">
                      <i class="icon-font"></i>
                      <span>{{"COMMON.BOOKTYPE" | translate}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="../status">
                      <i class="icon-quote-left"></i>
                      <span>{{"COMMON.BOOKSTATUS" | translate}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="../give">
                      <i class="icon-book"></i>
                      <span>{{"COMMON.BOOKGIVER" | translate}}</span>
                    </a>
                  </li>
                   <li>
                    <a href="../settings">
                      <i class="icon-wrench"></i>
                      <span>{{"COMMON.BOOKCHANGE" | translate}}</span>
                    </a>
                  </li>
                              
                </ul>
              </nav>  