 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
    <li><a href="#/ajax_rest">Restangular Ajax Request</a></li>
    <li><a href="#/modal">Modal Example</a></li>
    <li><a href="#/ex_table">Table Example</a></li>
    <li><a href="#/datepicker">Datepicker</a></li>
    
   </ul>
  	
   	<ul ng-include src="'../../common/templates/user.html'"></ul>
 </div>	