<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading">Courses List</header>
			<section>
					<div class="row">
				        <div class="col-md-3">
				            <p class="input-group mydatepicker">
				              <input type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="dt" is-open="datepicker.opened" min-date="2011-04-13" max-date="'2017-06-22'" datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
				        </div>
				    </div>
				    <br>
				    date picked: {{dt}}
				    
				    
			</section>
		</section>
	</div>
</div>