<style>
.row .col-lg-12 .table .even {
background: red;
}
.row .col-lg-12 .table .odd {
background: blue;
}
.other{
margin: 100px;
color: white;
}
</style>

<div class="col-lg-12">
	<div class="panel">
		<header class="panel-heading">Book list</header>
		<div class="panel-body">
		<div class="table-responsive">
			<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
				<div class="row">
					<div class="col-sm-6">
						<div id="DataTables_Table_0_length" class="dataTables_length">
                            <label> 
                              Show:
                              <select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                            </label>
                          </div>
					</div>
					<div class="col-sm-6">
						<div class="dataTables_filter"><a href="#/add_student" class="btn btn-success btn-sm">Add new Student&nbsp;<i class="icon-plus"></i></a></div>
                        	<div class="dataTables_filter" id="DataTables_Table_0_filter">
								<label>
                              		Search:
                              		<input type="text" arial-controls="DataTables_Table_0">
                            	</label>
                          	</div>
                    </div>
                 </div>
                 <div class="dataTables_processing" style="visibility: hidden;">Processing...</div>
                      <table class="table table-striped m-b-none dataTable" ng-table="tableParams" template-pagination="custom/pager" show-filter="true">
<!--                         <thead > -->
<!--                           <tr role="row"> -->
<!--                             <th width="20%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 20px;" aria-label="Rendering engine: activate to sort column ascending">Name Surname</th> -->
<!--                             <th width="25%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 25px;" aria-sort="ascending" aria-label="Browser: activate to sort column descending">Grade</th> -->
<!--                             <th width="25%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 25px;" aria-label="Platform(s): activate to sort column ascending">Gender</th> -->
<!--                             <th width="15%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15px;" aria-label="Engine version: activate to sort column ascending">Nationality</th> -->
<!--                             <th width="15%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 15px;" aria-label="Engine version: activate to sort column ascending">Paid</th> -->

<!--                             <th width="15%"  rowspan="1" colspan="1" style="width: 15px;">Operations</th> -->
<!--                           </tr> -->
<!--                         </thead> -->

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                           <tr ng-repeat="book in $data" ng-class="{odd: $odd, even: $even}">
					            <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{book.name}}</td>
					            <td data-title="'Author'" sortable="'author'" filter="{ 'author': 'text' }">{{book.author}}</td>
					            <td data-title="'Cathegory'" sortable="'cathegoryName'" filter="{ 'cathegoryName': 'text' }">{{book.category.name}}</td>
					            <td><div class="active" data-toggle="class"><i class="icon-ok text-success text-active"></i><i class="icon-remove text-danger text"></i></div></td>
	                            <td><a href="#edit_student" tooltip="Edit" data-placement="top" data-original-title="Edit"><i class="icon-pencil"></i></a>&nbsp;
	                                <a href="#" ng-click="deleteS(sm)" tooltip="Delete" data-placement="top" data-original-title="Delete" ng-click="open('sm')"><i class="icon-remove-sign"></i></a>&nbsp; 
	                                <a href="#student_profile" tooltip="Student info" data-placement="top" data-original-title="More info about student"><i class="icon-user"></i></a>
	                            </td>
					        </tr>

                          
                        </tbody>
                      </table>
                     
				</div>
			</div>
		</div>

	</div>
</div>
</div>


<script type="text/ng-template" id="custom/pager">
        <ul class="pager ng-cloak">
          <li ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
          </li>
            <li> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
            </li>
        </ul>

</script>


<!-- <div class="row"> -->
<!-- 	<div class="col-sm-6"> -->
<!-- 	  <div class="dataTables_info" id="DataTables_Table_0_info"> -->
<!-- 	  </div> -->
<!-- 	</div> -->
<!-- 	<div class="col-sm-6"> -->
<!-- 	  <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate"><a tabindex="0" class="first paginate_button paginate_button_disabled" id="DataTables_Table_0_first">First</a><a tabindex="0" class="previous paginate_button paginate_button_disabled" id="DataTables_Table_0_previous">Previous</a><span><a tabindex="0" class="paginate_active">1</a><a tabindex="0" class="paginate_button">2</a><a tabindex="0" class="paginate_button">3</a><a tabindex="0" class="paginate_button">4</a><a tabindex="0" class="paginate_button">5</a></span><a tabindex="0" class="next paginate_button" id="DataTables_Table_0_next">Next</a><a tabindex="0" class="last paginate_button" id="DataTables_Table_0_last">Last</a></div> -->
<!-- 	</div> -->
              
<!-- </div> -->