<div class="row">    
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading">Courses List</header>
			<section>
				example add body here
				
				<button ng-click="openModal('lg')">modal example</button>
				<button popover="la" popover-trigger="mouseenter" class="btn btn-default">Tooltip</button>
			</section>
		</section>
	</div>
</div>