<nav class="nav-primary hidden-xs">
                <ul class="nav">
                  <li><!--edited *******************************************-->
                    <a href="../students">
                      <i class="icon-group"></i>
                      <span>{{"COMMON.STS" | translate}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="../teachers">
                      <i class="icon-female"></i>
                      <span>{{"COMMON.SEC_TEACHER" | translate}}</span>
                    </a>
                  </li>
                   <li>
                    <a href="../library">
                      <i class="icon-book"></i>
                      <span>{{"COMMON.SEC_LIBRARY" | translate}}</span>
                    </a>
                  </li>
                  <li>
                  	<a href="../group">
                  		<i class="icon-group"></i>
                  		<span>{{"COMMON.SEC_GROUP" | translate}}</span>
                  	</a>
                  </li> 
                  <li>
                    <a href="../lesson">
                      <i class="icon-paste"></i>
                      <span>{{"COMMON.SEC_LESSON" | translate}}</span>
                    </a>
                  </li>
                   <li>
                    <a href="../courses">
                      <i class="icon-copy"></i>
                      <span>{{"COMMON.SEC_COURSE" | translate}}</span>
                    </a>
                  </li>     
                   <li>
                    <a href="../stuff">
                      <i class="icon-eye-open"></i>
                      <span>{{"COMMON.SEC_STAFF" | translate}}</span>
                    </a>
                  </li> 
                  <li>
                  	<a href="../timetable">
                  		<i class="icon-time"></i>
                  		<span>{{"COMMON.SEC_TIMETABLE" | translate}}</span>
                  	</a>
                  </li>   
                  <li>
                  	<a href="../class_hours">
                  		<i class="icon-time"></i>
                  		<span>{{"COMMON.SEC_CLASSHOUR" | translate}}</span>
                  	</a>
                  </li> 
                  <li>
                  	<a href="../note_types">
                  		<i class="icon-time"></i>
                  		<span>{{"COMMON.SEC_GRADE" | translate}}</span>
                  	</a>
                  </li>
                  <li>
                  	<a href="../edit">
                  		<i class="icon-gear"></i>
                  		<span>{{"COMMON.SEC_CHANGE" | translate}}</span>
                  	</a>
                  </li>                
                </ul>
              </nav>  
