 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   	<li><a href="#/annual_fee">School students</a></li>
    <li><a href="#/kids_fee">Kindergarten students</a></li>
   </ul>
  <ul ng-include src="'../../common/templates/user.html'"></ul>	
 </div>	