
<div class="row">
	<div class="col-lg-12">
		<div class="panel">
			<header class="panel-heading font-bold bg-warning">{{"DOCTOR.STANDARDS.SHTA" |translate}}</header>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="panel-body">
				<div class="table-responsive">
					<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                      <div class="row">
                        <div class="col-sm-3">
                          <div id="DataTables_Table_0_length" class="dataTables_length">
                            <label> <b>
                              {{"DOCTOR.COMMON.Show" |translate}}:</b>
                              <select ng-model="count" size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                              
                            </label>
                          </div>
                         </div>
                        <div class="col-sm-6" >
                         
 							<div class="dataTables_length">
 							<label ><b>
                          		{{"DOCTOR.COMMON.G" |translate}}:</b>
                              <select ng-model="gender" ng-change="getDataByGender()" style="width:100px;">
                                <option value="1" selected="selected">{{"DOCTOR.COMMON.Male" |translate}}</option>
                                <option value="0">{{"DOCTOR.COMMON.Female" |translate}}</option>
                              </select>
                              
                          	</label>
                          </div>
                          </div>
                        </div>
                        </div><!--end of row-->
                        <div class="line line-dashed line-lg pull-in"></div>
                        <table style="display:none">
                        	<tr>
                        		<td class="g">{{"DOCTOR.COMMON.G" |translate}}</td>
                        		<td class="month">{{"DOCTOR.STANDARDS.MONTH" |translate}}</td>
                        		<td class="cat1">{{"DOCTOR.STANDARDS.CAT1" |translate}}</td>
                        		<td class="cat2">{{"DOCTOR.STANDARDS.CAT2" |translate}}</td>
                        		<td class="cat3">{{"DOCTOR.STANDARDS.CAT3" |translate}}</td>
                        		<td class="cat4">{{"DOCTOR.STANDARDS.CAT4" |translate}}</td>
                        		<td class="cat5">{{"DOCTOR.STANDARDS.CAT5" |translate}}</td>
                        		<td class="cat6">{{"DOCTOR.STANDARDS.CAT6" |translate}}</td>
                        		<td class="cat7">{{"DOCTOR.STANDARDS.CAT7" |translate}}</td>
                        		<td class="cat8"><div class="dataTables_filter">{{"DOCTOR.COMMON.RESULT" | translate}} : {{tableParams.total()}}</div></td>
                        	</tr>
                        	
                        </table>
                     
                      <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" >
                        
                        <tr ng-repeat="standard in $data" ng-class="{odd: $odd, even: $even}">
                        	<td data-title="getTitle('g')" sortable="'name'" style="width:100px;">{{standard.isMale ? getLanguage() == 'en' ? 'Male' : 'Муж' : getLanguage() == 'en' ? 'Female' : 'Жен'}}</td>
                        	<td data-title="getTitle('month')" filter="{ 'month': 'text' }" style="width:100px;">{{standard.month}}</td>
                            <td data-title="getTitle('cat1')" style="width:100px;">{{standard.cat1}}</td>
                            <td data-title="getTitle('cat2')" style="width:100px;">{{standard.cat2}}</td>
                            <td data-title="getTitle('cat3')" style="width:100px;">{{standard.cat3}}</td>
                            <td data-title="getTitle('cat4')" style="width:100px;">{{standard.cat4}}</td>
                            <td data-title="getTitle('cat5')" style="width:100px;">{{standard.cat5}}</td>
                            <td data-title="getTitle('cat6')" style="width:100px;">{{standard.cat6}}</td>
                            <td data-title="getTitle('cat7')" style="width:100px;" >{{standard.cat7}}</td>
                            <td data-title="getTitle('cat8')" >
                                <a href="javascript:void(0)" ng-click="getById(standard.id)" tooltip="Edit"><i class="icon-pencil"></i></a>&nbsp;
                                <a href="javascript:void(0)" ng-click="deleteStuff(standard.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
                           </td>
                        </tr>
                        <tr>
                        	<td>
                              <select ng-model="standard.isMale" style="width:100px;">
                                <option value="true">Male</option>
                                <option value="false">Female</option>
                              </select>
                            </td>
                        	<td><input style="width:50px" ng-model="standard.month"/></td>
							<td><input style="width:50px" ng-model="standard.cat1"/></td>
							<td><input style="width:50px" ng-model="standard.cat2"/></td>
							<td><input style="width:50px" ng-model="standard.cat3"/></td>
							<td><input style="width:50px" ng-model="standard.cat4"/></td>
							<td><input style="width:50px" ng-model="standard.cat5"/></td>
							<td><input style="width:50px" ng-model="standard.cat6"/></td>
							<td><input style="width:50px" ng-model="standard.cat7"/></td>
							<td>
								<div class="update_button none" align="center">
		                          		 <button class="btn btn-s-md bg-warning" ng-click="updateStandard();">Update</button>
		                        </div>
								<div class="check_button" align="center">
		                          		 <button  class="btn btn-s-md bg-warning" ng-click="submitStandard()" style="float:right">{{'DOCTOR.COMMON.Save' | translate}}</button>
								</div>
									<div class="check_icon none">
										<img src="../../../assets/images/ok.png" / >
									</div>
							</td>
                       	</tr>
                       </table>
                      
                      </div><!--end of datatables 0 wrapper-->
                      
                    </div><!--end of table resp-->
                    </div>
                    </div><!--panel-->
                  </div><!--end col-lg-12-->
                  </div>
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; {{"SECRETARY.STUDENTS.Previous" | translate}}</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">{{"SECRETARY.STUDENTS.Next" | translate}} &raquo;</a>
		</li>
		</div>
       </ul>
</script>