 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
   
    <!-- <li><a href="#/new_entry">Add new entry</a></li> -->
    
   </ul>
<ul ng-include src="'../../common/templates/user.html'"></ul>	
 </div>	