<nav class="nav-primary hidden-xs">
                <ul class="nav">
                	<li>
                    <a class="bg-danger" style="color:white" href="../news">
                      <i class="icon-bullhorn"></i>
                      <span>{{"COMMON.NEWS" | translate}}</span>
                    </a>
                  </li>
                  <li> 
                  <li>
                    <a class="bg-success" style="color:white" href="../checkup">
                      <i class="icon-stethoscope"></i>
                      <span>{{"COMMON.CHECKUP" | translate}}</span>
                    </a>
                  </li>
                  <li> 
                    <li>
                    <a class="bg-primary" style="color:white" href="../period">
                      <i class="icon-file-text-alt"></i>
                      <span>{{"COMMON.PERIOD" | translate}}</span>
                    </a>
                  </li>   
                    <li>
                    <a class="bg-warning" style="color:white" href="../standards">
                      <i class="icon-medkit"></i>
                      <span>{{"COMMON.STANDARDS" | translate}}</span>
                    </a>
                  </li>               
                </ul>
              </nav>  