<div class="tab-content">
	<section class="tab-pane active" id="addlesson">
		<div class="panel">
			<div class="panel-body">
				<div class="col-sm-6">

					<section class="panel">
						<header class="panel-heading font-bold bg-danger">{{"LIBRARY.CATEGORY.Category_List" | translate}}</header>
						 <table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th>#</th>
                          	<th>{{"LIBRARY.CATEGORY.Category_Name" | translate}}</th>
                          	<th>{{"LIBRARY.CATEGORY.Amount_of_Books" | translate}}</th>
                          	<th>{{"LIBRARY.CATEGORY.Total_Cost" | translate}}</th>
                          	<th>{{"LIBRARY.CATEGORY.Operations" | translate}}</th>
                          </tr>
                          <tr ng-repeat="category in categories" ng-class="{odd: $odd, even: $even}">
                            <td data-title="'#'">{{$index + 1}}.</td>
                            <td >{{category.name}}</td>
                            <td >{{category.amount}}</td>
                            <td >{{category.totalFee}}</td>
                            <td data-title="'Opearations'" width="70">
                            	<div align="center">
									<a href="#edit_category/{{category.id}}" data-toggle="modal" tooltip="Edit" data-placement="top"> <i class="icon-pencil"></i></a> 
                                	<a href="javascript:void(0)" ng-click="deleteCategory(category.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td>
							</tr>
						 </table>
					</section>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading font-bold bg-danger"> {{"LIBRARY.CATEGORY.Add_new_Category" | translate}} </header>
							<div class="panel-body">
								<form class="form-horizontal" role="form" ng-submit="save()">
									<div class="form-group">
										<label class="col-lg-3 control-label">{{"LIBRARY.CATEGORY.Category_Name" | translate}}<span class="text-danger">*</span></label>
										<div class="col-lg-9">
											<input ng-model="category.name" type="text" class="form-control" placeholder="Enter category name" required>
										</div>
																			
									</div>
									<!-- BUTTON ng-click -->
									<button type="submit" class="btn btn-success pull-right">{{"LIBRARY.CATEGORY.Submit" | translate}}</button>
								</form>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>