<div class="row">
	<div class="col-sm-6">
		<section class="panel">
			<header class="panel-heading font-bold bg-danger"> {{"LIBRARY.CATEGORY.Edit_category_name" | translate}} </header>
				<div class="panel-body">
					<form class="form-horizontal" role="form" ng-submit="update()">
						<div class="form-group">
							<label class="col-lg-3 control-label">{{"LIBRARY.CATEGORY.Category_name" | translate}}<span class="text-danger">*</span></label>
								<div class="col-lg-9">
									<input ng-model="category.name" type="text" class="form-control" required>
								</div>
						</div>
									<!-- BUTTON ng-click -->
						<button  type="submit" class="btn btn-success pull-right">{{"LIBRARY.CATEGORY.Update" | translate}}</button>
					</form>
				</div>
		</section>
	</div>
</div>