<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading bg-warning"><h5>{{"TEACHER.STD_MARKS.Edit_student_marks_for_syllabus" | translate}}: {{syllabus.plan}}</h5></header>
			<div class="panel-body">
				<form class="form-horizontal" ng-submit="save()">
					<!--<div class="form-group">
						<label class="col-lg-4 control-label">Edit marks for syllabus: {{syllabus.plan}}</label>
						 <div class="col-lg-2">
							 <select ng-model="syllabus.id" name="plan" class="form-control">
								<option ng-selected="syllabus.id == selectedSyllabusId"  ng-repeat="syllabus in syllabuses" value="{{syllabus.id}}">
								{{syllabus.plan}}</option>
							</select> 
						</div>
						<div class="col-lg-2">
							<p class="input-group mydatepicker">
								 <input ng-model="datepicker.date" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close"/>
								    <span class="input-group-btn">
								      <button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								    </span>
							 </p>
						</div> 
						<div class="col-lg-2">
							<select ng-model="note_system_id" name="note_system" class="form-control">
								<option ng-selected="note_system.id == 1"  ng-repeat="note_system in note_systems" value="{{note_system.id}}">
								{{note_system.name}}</option>
							</select>
						</div>
					</div>-->
					<div class="form-group">
						<div class="col-lg-12">
							<table class="table table-striped b-t">
								<tr>
									<th width="30%">{{"TEACHER.STD_MARKS.Student" | translate}}</th>
									<th width="10%" style="text-align: center;">{{"TEACHER.STD_MARKS.Mark" | translate}}</th>
									<th width="10%" align="center">{{"TEACHER.STD_MARKS.Attendance" | translate}}</th>
									<th></th>
								</tr>
								<tbody role="alert" aria-live="polite" aria-relevant="all">
									<tr ng-repeat="object in objectsList" value="{{student.id}}" ng-class="{odd: $odd, even: $even}">
										<td>{{object.student.nameEn}} {{object.student.surnameEn}}</td>
										<td><div class="col-lg-12" align="center">
												<input ng-model="object.noteAttendance.note" class="form-control input-sm"  maxlength="3" nks-only-number style="text-align: center; height: 20px; border-radius: 0px; padding: 2px 10px;">
											</div></td>
										<td align="center">
							              	<input ng-model="object.noteAttendance.attended" type="checkbox"> 
							            </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-6"></div>
					<div class="col-md-6"></div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="doc-buttons">
								<a ng-click="save()" class="btn btn-s-md btn-warning">{{"TEACHER.STD_MARKS.Update" | translate}}</a>
								<a href="#/std_marks" class="btn btn-s-md btn-default ">{{"TEACHER.STD_MARKS.Cancel" | translate}}</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</div>
