<div class="row">
	<div class="col-lg-12">
		<div class="panel">
			<div class="panel-body">
				<div class="well m-t">
		       		<div class="row">
		       		<form class="form-inline" ng-submit="querySyllabus()">
		                <div class="col-lg-12">
		                
		                  <div class="form-group col-lg-4">
		                    <label><strong>{{"TEACHER.STD_MARKS.Course" | translate}}: </strong>
		                       <select ng-model="courseId" class="form-control" style="width: 180px;">
		                          <option ng-repeat="course in courses" value="{{course.id}}">{{course.lesson.name}} {{course.classGroup.grade.grade}}{{course.classGroup.classLetter.letter}}</option>
		                       </select>
		                    </label>
		                  </div>
		                  <div class="form-group col-lg-4">
		                    <label><strong>{{"TEACHER.STD_MARKS.Quarter" | translate}}: </strong>
		                       <select ng-model="quarterId" class="form-control" style="width: 180px;">
		                          <option ng-repeat="quarter in quarters" value="{{quarter.id}}">{{quarter.name}}</option>
		                       </select>
		                    </label>
		                  </div>
		                 
		                  <div class="form-group col-lg-3" style=" margin-bottom: 8px; margin-left: 16px;">
		                  	<button type="submit" class="btn btn-success btn-sm">{{"TEACHER.STD_MARKS.SHOW" | translate}}</button>
		                  </div>
		                  
		            	</div>
		            	</form>
		       		</div>
				</div>
				<table class="table table-striped table-bordered b-t text" style="padding-top: 20px;">
						<tr>
							<td></td>
							<td ng-repeat="syllabus in syllabuses" class="tdx" align="center">
								<a href="#/edit_marks/{{syllabus.id}}"><i class="icon-pencil"></i></a>
							</td>
						</tr>
						<tr height="60">
							<td></td>
							<td ng-repeat="syllabus in syllabuses" style="padding: 5px 1px; padding-top: 40px;" width="26" align="center"><div  class="td2" align="center">{{syllabus.completedDate | date : 'dd.MM.yy'}}</div></td>
				        </tr>
				        <tr ng-repeat="studentTable in syllabusTable">
							<td ng-repeat="value in studentTable track by $index">{{$index == 0 ? (value.nameEn + " " + value.surnameEn) : value.note}}</td>
						</tr>
		            
				</table>
			</div>
		</div>
	</div>
</div>
	              