 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
    <li><a href="#/list">Stud List</a></li>
    <li><a href="#/add">Add Stud</a></li>
    
   </ul>
   	
   	<ul ng-include src="'../../common/templates/user.html'"></ul>
 </div>	