          <div class="row">
            <div class="col-lg-12">
              <section class="panel">
                <div class="panel-body">
                  <div class="clearfix m-b">
                    <a href="" class="pull-left thumb m-r"><img src="img/avatar.jpg" class="img-circle" ></a>
                      <div class="clear">
                        <div class="h3 m-t-xs m-b-xs">{{student.nameEn}} {{student.surnameEn}}</div>
                        <strong>
							<div>{{student.nameRu}}{{student.surnameRu}}</div>
						</strong>
                      </div>                
                  </div>
                  <div class="well m-t">
                    <div class="row"> 
                      <div class="col-lg-6">
                        <p>{{"SECRETARY.STUDENTS.ES" | translate}}:
                        <strong>
                			{{student.classGroup.grade.grade}}{{student.classGroup.classLetter.letter}}
                     	</strong>
                        </p>
                        <p>{{"SECRETARY.STUDENTS.ES" | translate}}: <strong>{{"ADMIN.STUDENTS.Approved" | translate}}</strong></p>
                        <p>{{"SECRETARY.STUDENTS.BD" | translate}}: <strong ng-model="student.birthDate">{{student.birthDate |  date:'dd.mm.yyyy'}}</strong></p>
                        <p>{{"SECRETARY.STUDENTS.CA2" | translate}}:  <strong ng-model="student.currAdress">{{student.currAdress}}</strong></p>
                        <p>{{"SECRETARY.STUDENTS.PA2" | translate}}: <strong ng-model="student.permAdress">{{student.permAdress}}</strong></p>
                        <p>{{"SECRETARY.STUDENTS.TN" | translate}}: <strong ng-model="student.studentNum">{{student.studentNum}}</strong></p>
                        <p>{{"SECRETARY.STUDENTS.EMAIL" | translate}}:<strong ng-model="student.email">{{student.email}}</strong></p>
                      </div>
                      <div class="col-lg-6">
                       <p>{{"SECRETARY.STUDENTS.FN" | translate}}: <strong ng-model="student.parents">{{student.parents.parent1}}</strong></p>
                        <p>{{"SECRETARY.STUDENTS.FT" | translate}}: <strong ng-model="student.parents">{{student.parents.parent1Number}}</strong></p>
                        <p>{{"SECRETARY.STUDENTS.MN" | translate}}: <strong ng-model="student.parents">{{student.parents.parent2}}</strong></p>
                        <p>{{"SECRETARY.STUDENTS.MT" | translate}}: <strong ng-model="student.parents">{{student.parents.parent2Number}}</strong></p>
                        <p></p>
                     <p><strong>{{"SECRETARY.STUDENTS.PI" | translate}}:</strong></p>
                        <p>{{"SECRETARY.STUDENTS.PAID" | translate}}: <strong>{{stud_accounting.payed}}</strong>     
                        <p>{{"SECRETARY.STUDENTS.LEFT" | translate}}: <strong>{{stud_accounting.anualFee - stud_accounting.payed}}</strong></p>
                      </div>
                    </div>     
                  </div>
                </div>
              </section>
             </div>
            </div>