 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   		<li><a href="#/group">{{"SECRETARY.GROUP.LIST" | translate}}</a></li>
   </ul>
   
  	<ul ng-include src="'../../common/templates/user.html'"></ul>
 </div>	