<div class="row">
                <div class="col-lg-12">
                  <section class="panel">
                    <header class="panel-heading bg-dark">{{"ADMIN.SETTINGS.ELP"| translate}}</header>
                    <div class="panel-body">
                      <form name="editUser" class="form-horizontal" ng-submit="update()">
                        <div class="col-sm-12">
                      <div class="form-group">
                        <label class="col-lg-3 control-label">{{"ADMIN.SETTINGS.Owner"| translate}}:</label>
                         <div class="col-lg-4">
                          <p class="form-control-static">{{user.userName}}</p>
                         </div>
                      </div>
                      <div class="form-group">
				          <label class="col-lg-3 control-label">{{"ADMIN.SETTINGS.Status"| translate}}</label>
				            <div class="col-lg-4"> 
				              <select ng-model="users.status.id" name="status" class="form-control">	
				                <option  ng-selected ="user.status.id == status.id" 
				                ng-repeat="status in statuss" value="{{status.id}}">{{status.name}}</option>
				              </select> 
				            </div>
				          </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">{{"ADMIN.SETTINGS.Login"| translate}}</label>
                          <div class="col-lg-4"> 
                            <input ng-model="user.userName" type="text" class="form-control" name="name">
                          </div>
                      </div>
                        <div class="form-group">
                        <label class="col-lg-3 control-label">{{"ADMIN.SETTINGS.Pss"| translate}}</label>
                          <div class="col-lg-4"> 
                            <input ng-model="user.userPass" type="password" class="form-control" name="pass">
                          </div>
                        </div>
                        <div class="form-group">
                        <label class="col-lg-3 control-label">{{"ADMIN.SETTINGS.CPss"| translate}}</label>
                          <div class="col-lg-4"> 
                            <input ng-model="user.userPass" type="password" class="form-control" name="comfirm_pass">
                          </div>
                        </div>
                        
                        
                        <div class="form-group">
                        <label class="col-lg-3 control-label"></label>
                          <div class="col-lg-8">
                            <button type="submit" class="btn btn-s-md btn-success">{{"ADMIN.SETTINGS.Update"| translate}}</button>
                            <a href="#/users" class="btn btn-s-md btn-default" data-dismiss="modal">{{"ADMIN.SETTINGS.Cancel"| translate}}</a>
                            
                          </div>
                        </div>
                        </div>
                      </form>
                    
                    </div>
                  </section>

                </div><!--end of first col lg 12-->
               </div> 