<div class="row">
<div class="col-sm-6">
  <section class="panel">
	<header class="panel-heading bg-dark font-bold" > {{"ADMIN.SETTINGS.EBC"| translate}} </header>
	  <div class="panel-body">
		<form class="form-horizontal" role="form"  ng-submit="update()" >
		  <div class="form-group">
			 <label class="col-lg-3 control-label">{{"ADMIN.SETTINGS.CN"| translate}}<span class="text-danger">*</span></label>
				<div class="col-lg-9">
				  <input ng-model="category.name" type="text" class="form-control" required>
				</div>
		  </div>
  		<button type="submit" class="btn btn-success pull-right">{{"ADMIN.SETTINGS.Update"| translate}}</button>
       </form>
 </div>
 </section> 	
 </div>
 </div>