<tabset> <tab heading="{{'ADMIN.SETTINGS.Lessons'| translate}}">
<div class="tab-content">
	<section class="tab-pane active" id="addlesson">
		<div class="panel">
			<div class="panel-body">
				<div class="col-sm-6">

					<section class="panel">
						<header class="panel-heading bg-dark" >{{"ADMIN.SETTINGS.LL"| translate}}</header>
						 <table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th>#</th>
                          	<th>{{"ADMIN.SETTINGS.LN"| translate}}</th>
                          	<th>{{"ADMIN.SETTINGS.O"| translate}}</th>
                          </tr>
                          <tr ng-repeat="lesson in lessons" value="{{lesson.id}}" ng-class="{odd: $odd, even: $even}">
                         	<td data-title="'#'">{{$index + 1}}.</td>
                            <td >{{lesson.name}}</td>
                            <td data-title="'Opearations'" width="70">
                            	<div align="center">
									<a href="#edit_lesson/{{lesson.id}}" data-toggle="modal" tooltip="Edit" data-placement="top"> <i class="icon-pencil"></i></a> 
                                	<a href="javascript:void(0)" ng-click="deleteLesson(lesson.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td>
							</tr>
						 </table>
					</section>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading bg-dark ">{{"ADMIN.SETTINGS.AL"| translate}}</header>
							<div class="panel-body">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-lg-3 control-label">{{"ADMIN.SETTINGS.LN"| translate}}<span class="text-danger">*</span></label>
										<div class="col-lg-9">
											<input ng-model="lesson.name" type="text" class="form-control" placeholder="{{'ADMIN.SETTINGS.ESN'| translate}}" required>
										</div>
										<div class="form-group"></div>
										<label class="col-lg-3 control-label">{{"ADMIN.SETTINGS.D"| translate}}</label>
										<div class="col-lg-9">
											<textarea ng-model="lesson.description" rows="2" class="form-control"
												placeholder="{{'ADMIN.SETTINGS.ESI'| translate}}">
			   									this lesson is about living organisms</textarea>
										</div>
									</div>
									<!-- BUTTON ng-click -->
									<button ng-click="submitLesson()" type="submit"
										class="btn btn-success pull-right">{{"ADMIN.SETTINGS.Save"| translate}}</button>
								</form>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</tab> <tab heading="{{'ADMIN.SETTINGS.BC'| translate}}">
<section class="tab-pane" id="bookcat">
	<div class="panel">
		<div class="panel-body">
			<div class="col-sm-6">

				<section class="panel">
					<header class="panel-heading bg-dark">{{"ADMIN.SETTINGS.BCL"| translate}}</header>
					<table class="table table-striped m-b-none dataTable">
						<tr>
                        	<th>{{"ADMIN.SETTINGS.CN"| translate}}</th>
                          	<th>{{"ADMIN.SETTINGS.O"| translate}}</th>
                        </tr>
                          <tr ng-repeat="category in categories" ng-class="{odd: $odd, even: $even}">
                            <td data-title="'Category name'">{{category.name}}</td>
                            <td data-title="'Opearations'" width="70">
								<div align="center">
									<a href="#edit_category/{{category.id}}" tooltip="Edit" data-placement="top"><i class="icon-pencil"></i></a> 
                                	<a href="javascript:void(0)" ng-click="deleteCategory(category.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td>
							</tr>
						</table>
				</section>
			</div>
			<div class="col-sm-6">
				<section class="panel">
					<header class="panel-heading bg-dark "> {{"ADMIN.SETTINGS.ANC"| translate}}
					</header>
					<div class="panel-body">
						<form  name="addCategoryForm" class="form-horizontal" role="form" ng-submit="submitCategory()">
							<div class="form-group">
								<label class="col-lg-3 control-label" for="exampleInputEmail2">{{"ADMIN.SETTINGS.CN"| translate}}<span class="text-danger">*</span></label> 
								<div class="col-lg-9">
									<input ng-model="category.name"  type="text" class="form-control" id="exampleInputEmail2" required>
								</div>
							</div>

							<button ng-click="reloadState()" type="submit" class="btn btn-success pull-right">{{"ADMIN.SETTINGS.Save"| translate}}</button>

						</form>
						
					</div>
				</section>
			</div>
		</div>
	</div>
</section>
</tab><!--  <tab heading="tab3">
<section class="tab-pane" id="other"></section>
</tab>  -->
</tabset>




