	<section class="panel">
	<header class="panel-heading bg-dark">{{"ADMIN.SETTINGS.SL"| translate}}</header>
		<div class="table-responsive">
		<form>
			<table class="table table-striped m-b-none">
				<thead>
					<tr  role="row">
						<td style="font-weight: 600"></td>
						<td style="font-weight: 600">{{"ADMIN.SETTINGS.NS"| translate}}</td>
						<td style="font-weight: 600">{{"ADMIN.SETTINGS.stuff_no"| translate}}</td>
						<td style="font-weight: 600">{{"ADMIN.SETTINGS.Status"| translate}}</td>
						<td style="font-weight: 600">{{"ADMIN.SETTINGS.Phone"| translate}}</td>
					</tr>
				</thead>
				<tbody role="alert" aria-live="polite" aria-relevant="all">
					<tr ng-repeat="stuff in stuffs" value="{{stuff.id}}" ng-class="{odd: $odd, even: $even}">
						    <td>{{$index + 1}}.</td> 
						   	<td  rowspan="1" colspan="1"><input ng-model="$parent.selectedId"  value="{{stuff.id}}" type="radio"></td>
							<td  rowspan="1" colspan="1" >{{stuff.nameEn + " " + stuff.surnameEn}}</td>
							<td  rowspan="1" colspan="1" >{{stuff.stuffNum }}</td>
							<td  rowspan="1" colspan="1" >{{stuff.status.name}}</td>
							<td  rowspan="1" colspan="1" >{{stuff.phone}}</td>
											
					</tr>
				</tbody>
			</table></form>
			<div class="form-group">
          		</div>
          			<div class="form-group" style="margin-left:200px;">
            		<a ng-click="setAsLibrarian()" class="btn btn-s-md btn-success">{{"ADMIN.SETTINGS.SAL" | translate}} </a>
            		<a ng-click="setAccountant()" class="btn btn-s-md btn-info">{{"ADMIN.SETTINGS.SAA" | translate}}</a>
            		<a ng-click="setSecretary()" class="btn btn-s-md btn-primary">{{"ADMIN.SETTINGS.SAS" | translate}}</a>
            		<a ng-click="setDeputy()" class="btn btn-s-md btn-warning">Set as Deputy director</a>
            		<a ng-click="setHR()" class="btn btn-s-md btn-danger">Set as HR Manager</a>
            		<a href="#/settings" ng-click="cancel()" type="#" class="btn btn-s-md btn-default">{{"ADMIN.SETTINGS.Cancel" | translate}}</a>
          </div>
        </div>
        <div class="line line-dashed line-lg pull-in"></div>
		</div>
	</section>