<div class="row">
<div class="col-lg-12">
    <div class="panel">
    <header class="panel-heading bg-dark">{{"ADMIN.SETTINGS.Users" | translate}}</header>
    <div class="dataTables_filter"><span class="btn btn-default btn-sm">Result : {{tableParams.total()}}</span></div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane active" id="spent">
            <div class="table-responsive">
              <div class="dataTables_wrapper" role="grid">
              <!-- <div class="well m-t">
                <div class="row">
                <div class="col-lg-12">
                <form class="form-inline">
                  
                  <div class="form-group">
                    <label><strong>Search: </strong><input type="text"></label>
                  </div>
                  
                  <div class="form-group" style="margin-left: 40px;">
                    <label><strong>Choose: </strong>
                       <select name="account" class="form-control" style="width: 120px;">
                          <option><a href="admin" data-toggle="tab">Admin</a></option>
                          <option><a href="student" data-toggle="tab">Student</a></option>
                          <option><a href="teacher" data-toggle="tab">Teacher</a></option>
                          <option><a href="stuff" data-toggle="tab">Stuff</a></option>
                          <option><a href="sec" data-toggle="tab">Secretary</a></option>
                       </select>
                    </label>
                  </div>
                  <div class="form-group" style="margin-left: 40px;">
                    <label><strong>Year: </strong>
                       <select name="account" class="form-control"  style="width: 120px;">
                          <option selected>2014 - 2015</option>
                          <option>2015 - 2016</option>
                       </select>
                    </label>
                  </div>
                  
               
                  <div class="form-group" style="margin-left: 10px;">
                  <button type="submit" class="btn btn-success">FILTER</button>
                  </div>
                 </div>
                 </div>
                 </form>
                
                </div>end of well-mt -->
                
                  <table style="display:none">
                  	<tr>
                  		<td class="u">{{"ADMIN.SETTINGS.U"| translate}}</td>
                  		<td class="un">{{"ADMIN.SETTINGS.UN"| translate}}</td>
                  		<td class="r">{{"ADMIN.SETTINGS.R"| translate}}</td>
                  		<td class="s">{{"ADMIN.SETTINGS.Status"| translate}}</td>
                  		<td class="o">{{"ADMIN.SETTINGS.O"| translate}}</td>
                  	</tr>
                  </table>
                
                  <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" >
                          <tr ng-repeat="user in $data" ng-class="{odd: $odd, even: $even}">
                          	<td data-title="'#'">{{$index + 1}}.</td>
                            <td data-title="getTitle('u')" sortable="'userName'" filter="{'userName': 'text'}">{{user.users.userName}}</td>
                            <td data-title="getTitle('un')" sortable="'userName'" filter="{'userName': 'text'}">{{user.users.userName}}</td>
                            <td data-title="getTitle('r')" sortable="'role.name'" filter="{'role' : 'text'}">{{user.role.name}}</td>
                            <td data-title="getTitle('s')" sortable="'status'">{{user.users.status}}</td>
                            <td data-title="getTitle('o')">
                            	<a href="#edit_user/{{user.users.id}}" tooltip="Edit" data-placement="top"><i class="icon-pencil"></i></a>&nbsp;
                            	<a href="javascript:void(0)" ng-click="deleteUser(user.users.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp;
						    </td>
                          </tr>
                  </table>
                    
                      </div><!--end of datatables 0 wrapper-->
                      </div><!--end of tab-content-->
                      </div><!--end of first tab entry-->
                      </div><!--end of tab-content-->
                      </div><!--end of panel body-->
                    </div><!--end of table resp-->

                    </div><!--panel-->
                  </div><!--end col-lg-12-->
<script type="text/ng-template" id="custom/pager">
        <ul class="pager ng-cloak">
          <li ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; {{"ADMIN.STUDENTS.Previous" | translate}}</a>
            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">{{"ADMIN.STUDENTS.Next" | translate}} &raquo;</a>
          </li>
            <li> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
            </li>
        </ul>
</script>