<nav class="nav-primary hidden-xs">
  <ul class="nav">
    <li>
      <a href="../bycourse/#/mon_by_course">
        <i class="icon-copy"></i>
        <span>By Courses</span>
      </a>
    </li>
    <li>
      <a href="../general">
        <i class="icon-group"></i>
        <span>General</span>
      </a>
    </li>
    <li>
      <a href="../byexam">
        <i class="icon-female"></i>
        <span>By Exam</span>
      </a>
    </li>
    <li>
      <a href="../bymainsubject">
        <i class="icon-male"></i>
        <span>By Main Subjects</span>
      </a>
    </li>
    <li>
      <a href="../byallsubjects">
        <i class="icon-usd"></i>
        <span>By All Subjects</span>
      </a>
    </li>
     <li>
      <a href="../byprogress">
        <i class="icon-book"></i>
        <span>By Progress</span>
      </a>
     <li>
      <a></a>
    </li>
     <li>
      <a href="../students">
        <i class="icon-gear"></i>
        <span>Students</span>
      </a>
    </li>
     <li>
      <a href="../teachers">
        <i class="icon-gear"></i>
        <span>Teachers</span>
      </a>
    </li>
     <li>
      <a href="../courses">
        <i class="icon-gear"></i>
        <span>Courses</span>
      </a>
    </li>
     <li>
      <a href="../timetable">
        <i class="icon-gear"></i>
        <span>Timetable</span>
      </a>
    </li>
         <li>
      <a href="../edit">
        <i class="icon-gear"></i>
        <span>Change password</span>
      </a>
    </li>
  </ul>
</nav>  