 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
    <li><a href="#/list">{{"ADMIN.STUDENTS.Student_list" |translate}}</a></li>
    <li><a href="#/add_student">{{"ADMIN.STUDENTS.ANS" |translate}}</a></li>
    <li><a href="#/kids">EYFS</a></li>
    <li><a href="#/add_kid">Add New Student</a></li>
    
   </ul>
 <ul ng-include src="'../../common/templates/user.html'"></ul>	
 </div>	