<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading bg-danger"><h4>Quarter notes for <strong>{{courses.lesson.name}} {{courses.classGroup.grade.grade}}{{courses.classGroup.classLetter.letter}}</strong></h4></header>
			<div class="panel-body">
				<form class="form-horizontal" ng-submit="save()">
					<div class="form-group">
						<label class="col-lg-2 control-label">Select date: </label>
						<div class="col-lg-2">
							<p class="input-group mydatepicker">
								 <input ng-model="datepicker.date" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close"/>
								    <span class="input-group-btn">
								      <button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								    </span>
							 </p>
						</div>
						<label class="col-lg-2 control-label">Select quarter: </label>
						<div class="col-lg-2">
							<select ng-model="quarterId" name="quarter" class="form-control">
								<option ng-repeat="quarter in quarters" value="{{quarter.id}}">
								{{quarter.name}}</option>
							</select>
						</div> 
						<!-- 
						<div class="col-lg-2">
							<select ng-model="note_system_id" name="note_system" class="form-control">
								<option ng-selected="note_system.id == 1"  ng-repeat="note_system in note_systems" value="{{note_system.id}}">
								{{note_system.name}}</option>
							</select>
						</div> -->
					</div>
					<div class="line line-dashed line-lg pull-in"></div>
					<div class="form-group">
						<div class="col-lg-12">
							<table class="table table-striped b-t">
								<tr>
									<th width="3%">#</th>
									<th width="40%">{{"TEACHER.COURSE.Student" | translate}}</th>
									<th width="10%" style="text-align: center;">{{"TEACHER.COURSE.Mark" | translate}}</th>
									<th width="100">{{"TEACHER.COURSE.Profile" | translate}}</th>
									<!-- <th>{{note_type_id}}</th> -->
								</tr>
								<tbody role="alert" aria-live="polite" aria-relevant="all">
									<tr ng-repeat="student in courses.classGroup.students" value="{{student.id}}" ng-class="{odd: $odd, even: $even}">
										<td>{{$index + 1}}.</td>
										<td>{{student.nameEn}} {{student.surnameEn}}</td>
										<td><div class="col-lg-12" align="center">
												<input ng-model="student.note" class="form-control input-sm"  maxlength="1" nks-only-number style="text-align: center; height: 20px; border-radius: 0px; padding: 2px 10px;">
											</div></td>
										<!-- <td align="center">
							              	<input ng-model="student.attended" type="checkbox" ng-init="student.attended = true"> 
							            </td> -->
										<td width="20">
											<a href="#student_profile/{{student.id}}"	tooltip="Student info" data-placement="top"><i class="icon-user"></i></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-6"></div>
					<div class="col-md-6"></div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="doc-buttons">
								<button type="submit" class="btn btn-s-md btn-success">{{"TEACHER.COURSE.Save" | translate}}</button>
								<a href="#/list" class="btn btn-s-md btn-default ">{{"TEACHER.COURSE.Back" | translate}}</a>
							</div>
						</div>
					</div>
				</form>
			</div>
			
		</section>
	</div>
</div>
