          <div class="row">
            <div class="col-lg-12">
              <section class="panel">
                <div class="panel-body">
                  <div class="clearfix m-b">
                    <a href="" class="pull-left thumb m-r"><img src="../../../assets/images/avatar.jpg" class="img-circle" ></a>
                      <div class="clear">
                        <div class="h3 m-t-xs m-b-xs"><div  ng-model="student.nameEn" name="name_en" >
                        {{student.nameEn}} {{student.surnameEn}}</div></div>
                        <strong>
							<div  ng-model="student.nameRu" name="name_ru" >
                       			{{student.nameRu}} {{student.surnameRu}}</div>
						</strong>
                      </div>                
                  </div>
                  <div class="well m-t">
                    <div class="row"> 
                      <div class="col-lg-6">
                        <p>GRADE: 
                     	<strong>
                			{{student.classGroup.grade.grade}}{{student.classGroup.classLetter.letter}}
                     	</strong>
                        </p>
                        <p>EDUCATION STATUS: <strong>Approved</strong></p>
                        <p>BIRTH DATE: <strong ng-model="student.birthDate">{{student.birthDate |  date:'dd.mm.yyyy'}}</strong></p>
                        <p>CURRENT ADDRESS: <strong ng-model="student.currAdress">{{student.currAdress}}</strong></p>
                        <p>PERMANENT ADDRESS: <strong ng-model="student.permAdress">{{student.permAdress}}</strong></p>
                        <p>TEL. NUMBER: <strong ng-model="student.studentNum">{{student.studentNum}}</strong></p>
                        <p>E-MAIL: <strong ng-model="student.email">{{student.email}}</strong></p>
                        <p>STATUS: <strong ng-model="student.status">{{student.status.name}}</strong></p>
                      </div>
                      <div class="col-lg-6">
                        <p>FATHER'S NAME: <strong ng-model="student.parents">{{student.parents.parent1}}</strong></p>
                        <p>FATHER'S TEL. NUMBER: <strong ng-model="student.parents">{{student.parents.parent1Number}}</strong></p>
                        <p>MOTHER'S NAME: <strong ng-model="student.parents">{{student.parents.parent2}}</strong></p>
                        <p>MOTHER'S TEL. NUMBER: <strong ng-model="student.parents">{{student.parents.parent2Number}}</strong></p>
                        <p></p>
                        </div>
                    </div>     
                  </div>
                </div>
              </section>
             </div>
            </div>