
<div class="row">
	<div class="col-lg-12">
		<div class="panel">
			<div class="panel-body">
				<form name="timeTable" class="bs-example form-horizontal" ng-submit="save()">
				<header class="panel-heading bg-success">{{"STUDENT.TIMETABLE.TIMETABLE	" | translate}}</header>
					<div class="line line-dashed line-lg pull-in"></div>
				        <div class="form-group">
				         

				<table class="table table-striped m-b-none dataTable timetable" 
					   dataride="datatables" style="border: 1px solid #e0e4e8; border-width: 1px 0;">
					<thead>
						<tr role="row">
							<th rowspan="1" colspan="1" style="width: {{100/(weekDays.length+ 1)">{{"STUDENT.TIMETABLE.TIME" | translate}}</th>
							<th rowspan="1" colspan="1" style="width: {{100/(weekDays.length+ 1)">{{"STUDENT.TIMETABLE.MON" | translate}}</th>
							<th rowspan="1" colspan="1" style="width: {{100/(weekDays.length+ 1)">{{"STUDENT.TIMETABLE.TUE" | translate}}</th>
							<th rowspan="1" colspan="1" style="width: {{100/(weekDays.length+ 1)">{{"STUDENT.TIMETABLE.WED" | translate}}</th>
							<th rowspan="1" colspan="1" style="width: {{100/(weekDays.length+ 1)">{{"STUDENT.TIMETABLE.THU" | translate}}</th>
							<th rowspan="1" colspan="1" style="width: {{100/(weekDays.length+ 1)">{{"STUDENT.TIMETABLE.FRI" | translate}}</th>
						</tr>
					</thead>
	
					<tbody role="alert" aria-live="polite" aria-relevant="all">
						<tr ng-repeat="timetableRow in timetableArray" role="row">
							<td ng-repeat="timetableCell in timetableRow track by $index" rowspan="1" colspan="1" style="font-weight: 600">
								<span ng-if="$index == 0" >{{timetableCell.startHour | date : 'HH:mm' }}-{{timetableCell.endHour | date : 'HH:mm'}}</span>
								<span ng-if="$index != 0">
									<span ng-if="!null">{{timetableCell.course.lesson.name}}</span>
									<span ng-if="null">-</span>
		                       	</span>
							</td>
						</tr>
					</tbody>
				</table>
			
			<br><br>
	            <!-- <div class="col-lg-6">
	              <button type="submit" class="btn btn-s-md btn-success">{{"STUDENT.TIMETABLE.SUBD" | translate}}</button>
	              <a href="#/timetable" type="#" class="btn btn-s-md btn-default">{{"STUDENT.TIMETABLE.CAND" | translate}}</a>
	            </div> -->
	          </form>
		</div>
		<!--end of datatables 0 wrapper-->
</div>
	</div>
	<!--end of table resp-->
	
</div>
<!--panel-->
