 <div class="collapse navbar-collapse pull-in">
	<!-- <ul class="nav navbar-nav m-l-n">
   		<li><a href = "#/addTimetable">Add timetable </a></li>
 		<li><a href = "#/choose_timetable">Edit timetable</a></li>
	</ul> -->
 	<ul ng-include src="'../../common/templates/user.html'"></ul>
 </div>	