
<!--end student panel name and start panel inside-->


<div class="col-sm-12">
	<section class="panel bg-primary">
		<section id="content">
			<section class="vbox">
			
				<div class="well-sm m-r ">
					<div class="row">
						<div class="col-xs-6 mara">
							<div>
								<strong style="font-size:15px;">{{"STUDENT.EDIT.FN" |translate }} :</strong> <span style="color:#FFF; font-size:15px;">{{getLanguage() == 'en' ? student.nameEn + ' ' + student.surnameEn : student.nameRu + ' ' + student.surnameRu }}</span>
							</div>
							<div>
								<strong style="font-size:15px;">{{"STUDENT.EDIT.BD" | translate}} :</strong> <span style="color:#FFF; font-size:15px;">{{student.birthDate | date:'dd.MM.yyyy'}}</span>
							</div>
							<div>
								<strong style="font-size:15px;">{{"STUDENT.EDIT.CY" | translate}} :</strong> <span  style="color:#FFF; font-size:15px;">{{student.year.year | date:'yyyy'}} {{student.year.year + 31569000000 | date:'yyyy'}}</span>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	</section>
	<!--Table bashtaldy-->
	<section class="panel bg-success" style="color:black;">
		<div class="table-responsive">
			<table class="table table-striped m-b-none">
				<thead>
					<tr  role="row">
						<td>{{"STUDENT.EDIT.S" | translate}}</td>
						<td style="text-align:center;">{{"STUDENT.EDIT.Q" | translate}} - 1</td>
						<td style="text-align:center;">{{"STUDENT.EDIT.Q" | translate}} - 2</td>
						<td style="text-align:center;">{{"STUDENT.EDIT.Q" | translate}} - 3</td>
						<td style="text-align:center;">{{"STUDENT.EDIT.Q" | translate}} - 4</td>
					</tr>
				</thead>
				<tbody role="alert" aria-live="polite" aria-relevant="all">
					<tr ng-repeat="note_attendance in noteAttendances" value="{{note_attendance.id}}" ng-class="{odd: $odd, even: $even}"> 
						<td  rowspan="1" colspan="1" style="font-weight: 600">{{note_attendance.name}}</td>
						<td  rowspan="1" colspan="1" style="font-weight: 600; text-align:center;">{{note_attendance.quarter1}}</td>
						<td  rowspan="1" colspan="1" style="font-weight: 600; text-align:center;">{{note_attendance.quarter2}}</td>
						<td  rowspan="1" colspan="1" style="font-weight: 600; text-align:center;">{{note_attendance.quarter3}}</td>
						<td  rowspan="1" colspan="1" style="font-weight: 600; text-align:center;">{{note_attendance.quarter4}}</td>
										
					</tr>
				</tbody>
			</table>
		</div>
	</section>

</div>
