
<div class="col-lg-12S"> 
<section class="panel">
	<header class="panel-heading bg-dark" >Monitoring by Examinations</header>
		<div class="panel-body">
		<form ng-submit="sortList()">
			<div class="col-sm-12">
				<label class="col-sm-2 control-label" style="top: 7px;">Select class and year:</label>
				
				<div class="col-lg-2">
					<select ng-model="cGroupId" name="class" class="form-control">	
		             	<option ng-repeat="CGroupe in CGroupes" value="{{CGroupe.id}}">{{CGroupe.grade.grade}}{{CGroupe.classLetter.letter}}</option>
		          	</select> 
				</div>
				<div class="col-lg-2">
					<select ng-model="yearId" name="year" class="form-control">	
		             	<option ng-repeat="year in years" value="{{year.id}}">{{year.year | date:'yyyy'}} - {{year.year + 31569000000 | date: 'yyyy'}}</option>
		          	</select> 
				</div>
		        <div class="col-lg-2">
		        	<button class="btn btn-default btn-success">Apply</button>	 
		        </div>
			</div>
			</form>
		</div>
</section>
</div>

<div class="col-lg-12">
	<section class="panel">
			<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none text-sm" show-filter="false" style="border-top: 1px solid #e0e4e8;" >
                  	<tr>
                  		<th>Course</th>
                  		<th width="140">Teacher</th>
                  		<th>% qual (EE)</th>
                  		<th>% prog (EE)</th>
                  		<th>% qual (1st)</th>
                  		<th>% prog (1st)</th>
                  		<th>% qual (2nd)</th>
                  		<th>% prog (2nd)</th>
                  		<th>% qual (3rd)</th>
                  		<th>% prog (3rd)</th>
                  		<th>% qual (4th)</th>
                  		<th>% prog (4th)</th>
                  	</tr>
                  	<tr ng-repeat="examnote in examnotes" ng-class="{odd: $odd, even: $even}">
                     	<td style="text-align:left;">{{examnote.course.lesson.name}}</td>
                     	<td style="text-align:left;">{{examnote.course.teacher.nameEn + ' ' + examnote.course.teacher.surnameEn}}</td>
                     	<td style="text-align:center;">{{examnote.qualEE | number : 0}}</td>
                     	<td style="text-align:center;">{{examnote.progEE}}</td>
                     	<td style="text-align:center;">{{examnote.qual1}}</td>
                     	<td style="text-align:center;">{{examnote.prog1}}</td>
                     	<td style="text-align:center;">{{examnote.qual2}}</td>
                     	<td style="text-align:center;">{{examnote.prog2}}</td>
                     	<td style="text-align:center;">{{examnote.qual3}}</td>
                     	<td style="text-align:center;">{{examnote.prog3}}</td>
                     	<td style="text-align:center;">{{examnote.qual4}}</td>
                     	<td style="text-align:center;">{{examnote.prog4}}</td>
                    </tr>
			</table>
		
		
	</section>
</div>










