<div class="row">
	<div class="col-sm-6">
		<section class="panel">
			<header class="panel-heading bg-success">{{"ACCOUNTANT.MATERIAL.ANI" | translate}}</header>
	  			<div class="panel-body">
	  				<form name="addMaterialForm" class="bs-example form-horizontal" ng-submit="save()">
					        <div>
					        <div class="form-group"> 
					         <label class="col-sm-3 control-label">{{"ACCOUNTANT.MATERIAL.RD" | translate}}</label> 
					           <div class="col-sm-6"> 
					             <p class="input-group mydatepicker">
								 <input  type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="material.registrationDate" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" close-text="Close" required/>
								    <span class="input-group-btn">
								      <button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								    </span>
							  	</p>
					           </div> 
					         </div>
					        <div class="form-group">
					          <label class="col-lg-3 control-label">{{'ACCOUNTANT.MATERIAL.C' | translate}}<span class="text-danger">*</span></label>
					            <div class="col-lg-6"> 
					              <select ng-model="category.id" name="mCategory" ng-change="getMtype()" class="form-control" required>
					              	<option value="">{{'ACCOUNTANT.MATERIAL.Select' | translate}}</option>
					                <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
					              </select> 
					            </div>
					          </div>
					          <div class="form-group">
					            <label class="col-lg-3 control-label">{{'ACCOUNTANT.MATERIAL.T' | translate}} <span class="text-danger">*</span></label>
					            <div class="col-lg-6">  
					              <select ng-model="material.materialType.id" name="mType" ng-change="getMplace()" class="form-control" required>
					              		<option value="">{{'ACCOUNTANT.MATERIAL.Select' | translate}}</option>
					                	<option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
					              	</select>
					            </div>
					          </div>
					           <div class="form-group">
					            <label class="col-lg-3 control-label">{{'ACCOUNTANT.MATERIAL.IN' | translate}} <span class="text-danger">*</span></label>
					            <div class="col-lg-6">  
					            <input ng-model="material.invenNo" type="text" class="form-control" /> 
					            </div>
					          </div>
					         <!-- <div class="form-group">
					            <label class="col-lg-3 control-label">{{'ACCOUNTANT.MATERIAL.ST' | translate}} <span class="text-danger">*</span></label>
					            <div class="col-lg-6">  
					              <select ng-model="material.materialStatus.id" name="status" class="form-control" required>
					              		<option value="">{{'ACCOUNTANT.MATERIAL.Select' | translate}}</option>
					                	<option ng-repeat="status in statuses" value="{{status.id}}">{{status.name}}</option>
					              	</select>
					            </div>
					          </div> --> 
					          <div class="form-group">
					            <label class="col-lg-3 control-label">{{'ACCOUNTANT.MATERIAL.P' | translate}}<span class="text-danger">*</span></label>
					            <div class="col-lg-6">  
					            <select ng-model="material.place.id" name="blood" class="form-control" required>
					            	<option value="">{{'ACCOUNTANT.MATERIAL.Select' | translate}}</option>
					                <option ng-repeat="place in places" ng-value="place.id">{{place.name}}</option>
					              </select> 
					            </div>
					          </div>
					          <div class="form-group">
					            <label class="col-lg-3 control-label">{{'ACCOUNTANT.MATERIAL.OwnerC' | translate}}<span class="text-danger">*</span></label>
					            <div class="col-lg-6">  
					            <select ng-model="material.ownerType.id" ng-change="getOwnerList()" name="ownertType" class="form-control" required>
					            	<option value="">{{'ACCOUNTANT.MATERIAL.Select' | translate}}</option>
					                  <option ng-repeat="ownerType in ownerTypes" value="{{ownerType.id}}">{{ownerType.name}}</option>
					              </select> 
					            </div>
					          </div>
					          <div class="form-group">
					            <label class="col-lg-3 control-label">{{'ACCOUNTANT.MATERIAL.Owner' | translate}}<span class="text-danger">*</span></label>
					            <div class="col-lg-6">  
					            <select ng-model="material.ownerId" name="blood" class="form-control" required>
					            	<option value="">{{'ACCOUNTANT.MATERIAL.Select' | translate}}</option>
					                <option ng-repeat="owner in owners" value="{{owner.id}}">{{owner.nameEn}} {{owner.surnameEn}}</option>
					              </select> 
					            </div>
					          </div>
					          <div class="form-group">
					            <button type="submit" class="btn btn-s-md btn-success" ng-click="submitMaterial()" style="float:right">{{'ACCOUNTANT.ACCOUNTING.Save' | translate}}</button>
					            <a href="#/students" ng-click="cancel()" type="#" class="btn btn-s-md btn-default">{{'ACCOUNTANT.ACCOUNTING.Cancel' | translate}}</a>
					          </div>
					        </div>
					        <div class="line line-dashed line-lg pull-in"></div>
					  </form>
	  			</div>
		</section>
	</div>
</div>

