<div class="row">
<div class="col-sm-6">
  <section class="panel">
	<header class="panel-heading bg-dark font-bold" > {{"ACCOUNTANT.MATERIAL.EP"| translate}} </header>
	  <div class="panel-body">
		<form class="form-horizontal" role="form"  ng-submit="update()" >
				<div class="form-group">
					<label class="col-lg-3 control-label">{{"ACCOUNTANT.MATERIAL.N"| translate}}<span class="text-danger">*</span></label>
					<div class="col-lg-9">
						<input ng-model="place.name" type="text" class="form-control" placeholder="" required>
					</div>
					<div class="form-group"></div>
					<label class="col-lg-3 control-label">{{"ACCOUNTANT.MATERIAL.D"| translate}}</label>
					<div class="col-lg-9">
						<textarea ng-model="place.description" rows="2" class="form-control"
							placeholder=""></textarea>
					</div>
				</div>
			<a href="#place">
				<button class="btn btn-s-md btn-default ng-binding" type="#" ng-click="cancel()">Cancel</button>
			</a>
  			<button type="submit" class="btn btn-success pull-right">{{"ACCOUNTANT.MATERIAL.Update"| translate}}</button>
       </form>
 </div>
 </section> 	
 </div>
 </div>