<div class="row">
<div class="col-lg-12">
    <div class="panel">
    <header class="panel-heading bg-primary">{{"ACCOUNTANT.MATERIAL.IL" | translate}}</header>
      <div class="panel-body">            
                </div><!--end of well-mt-->
            	<div class="row">
                        <div class="col-sm-6">
                          <div id="DataTables_Table_0_length table_length_show" class="dataTables_length">
                            <label> 
                              {{"ACCOUNTANT.ACCOUNTING.Show" | translate}} : 
                              <select ng-model="count" size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" >
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
							<div class="dataTables_filter">
								<div class="dataTables_filter"><span class="btn btn-default btn-sm">Result : {{tableParams.total()}}</span></div>
								<div class="dataTables_filter"><a href="#add_material" class="btn btn-success btn-sm">{{"ACCOUNTANT.MATERIAL.ANI" | translate}}&nbsp;<i class="icon-plus"></i></a></div>
								<div class="dataTables_filter" style="margin-right: -15px !important;"><a href="#" class="btn btn-warning btn-sm pull-right" onclick="window.print();" style="color: #4E4E4E !important;">Print &nbsp;<i class="icon-print"></i></a></div>
                                <div class="dataTables_filter" style="margin-right: -15px !important;"><a class="btn btn-primary" ng-click="exportData()" >Export to CSV</a></div>
                        </div>
						</div>
                 </div><!--end of row-->
                 	<table style="display:none">
                 		<thead >
                          	<tr>
                          		<td>#</td>
                          		<td class="rdate" >{{"ACCOUNTANT.MATERIAL.RD" | translate}}</td>
                          		<td class="invenNo" >{{"ACCOUNTANT.MATERIAL.IN" | translate}}</td>
                          		<td class="category" >{{"ACCOUNTANT.MATERIAL.Category" | translate}}</td>
                          		<td class="type">{{'ACCOUNTANT.MATERIAL.T' | translate}}</td>
                          		<td class="place">{{'ACCOUNTANT.MATERIAL.P' | translate}}</td>
                          		<td class="ownerType">{{'ACCOUNTANT.MATERIAL.OwnerC' | translate}}</td>
                          		<td class="ownerId">
                          		
		
					         
					          {{'ACCOUNTANT.MATERIAL.Owner' | translate}}</td>
                          		<td class="cost">{{'ACCOUNTANT.MATERIAL.Cost' | translate}}</td>
                          	</tr>
                          </thead>
                 	</table>
                        <div id="exportable">
                      <table id="main-table" ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" export-csv="csv" style="border-top: 1px solid #e0e4e8;" >
                        <tbody>
                          <!-- <body> -->  
                          <tr ng-repeat="material in $data" ng-class="{odd: $odd, even: $even}">
                          	<td data-title="'#'">{{$index + 1}}.</td>
							<td data-title="getTitle('rdate')" data="rdate" sortable="'registrationDate'" >{{material.registrationDate | date: 'dd-MM-yyyy'}}</td>
                            <td data-title="getTitle('invenNo')" filter="{ 'invenNo': 'text' }">{{material.invenNo}}</td>
                            <td data-title="getTitle('category')" data="materialCategory" sortable="'materialCategory'" filter="{ 'materialCategory': 'text' }">{{material.materialType.materialCategory.name}}</td>
                            <td data-title="getTitle('type')" style="text-align:center;"data="type" sortable="'materialType'" filter="{'materialType': 'text'}">{{material.materialType.name}} </td>
                            <td data-title="getTitle('place')" style="text-align:center;" sortable="'place'" filter="{'place' : 'text'}">{{material.place.name}}</td>
                            <td data-title="getTitle('ownerType')" style="text-align:center;" sortable="'ownerType'" filter="{'ownerType' : 'text'}">{{material.ownerType.name}}</td>
                            <td data-title="getTitle('ownerId')" style="text-align:center;" sortable="'name'" filter="{'name' : 'text'}" >{{material.fullname}}</td>
                            <td data-title="getTitle('cost')" style="text-align:center;" sortable="'cost'" filter="{'cost' : 'text'}">{{material.materialType.cost}}</td>
                            <td data-title="'Options'" width="70">
                            	<div align="center">
									<a href="#edit_material/{{material.id}}" data-toggle="modal" tooltip="Edit" data-placement="top"> <i class="icon-pencil"></i></a> 
                                	<a href="#del_material/{{material.id}}" tooltip="Issue"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td>
                          </tr>
                        <!-- </body> -->  
                        </tbody>
                  	  </table>      
                  	  </div>
                      </div><!--end of panel body-->
                    </div><!--end of table resp-->

                    </div><!--panel-->
                  
                 
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; {{'ACCOUNTANT.ACCOUNTING.Previous' | translate}}</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">{{'ACCOUNTANT.ACCOUNTING.Next' | translate}} &raquo;</a>
		</li>
		</div>
       </ul>
</script>
<script data-require="ng-table-export@0.1.0" data-semver="0.1.0" src="http://bazalt-cms.com/assets/ng-table-export/0.1.0/ng-table-export.js"></script>

    