<div class="tab-content">
	<section class="tab-pane active" id="Category">
		<div class="panel">
			<div class="panel-body">
				<div class="col-sm-6">

					<section class="panel">
						<header class="panel-heading bg-dark" >{{"ACCOUNTANT.MATERIAL.CL"| translate}}</header>
						 <table class="table table-striped m-b-none dataTable" show-filter="false">
                          <tr>
                          	<th>{{"ACCOUNTANT.MATERIAL.N"| translate}}</th>
                          	<th>{{"ACCOUNTANT.MATERIAL.D"| translate}}</th>
                          	<th>{{"ACCOUNTANT.MATERIAL.O"| translate}}</th>
                          </tr>
                          <tr ng-repeat="category in categories" value="{{category.id}}" ng-class="{odd: $odd, even: $even}">
                            <td >{{category.name}}</td>
                            <td >{{category.description}}</td>
                            <td data-title="'Opearations'" width="70">
                            	<div align="center">
									<a href="#edit_mCategory/{{category.id}}" data-toggle="modal" tooltip="Edit" data-placement="top"> <i class="icon-pencil"></i></a> 
                                	<a href="javascript:void(0)" ng-click="deleteMcategory(category.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
								</div>
							</td>
							</tr>
						 </table>
					</section>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<section class="panel">
							<header class="panel-heading bg-dark ">{{"ACCOUNTANT.MATERIAL.ANC"| translate}}</header>
							<div class="panel-body">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-lg-3 control-label">{{"ACCOUNTANT.MATERIAL.N"| translate}}<span class="text-danger">*</span></label>
										<div class="col-lg-9">
											<input ng-model="category.name" type="text" class="form-control" placeholder="" required>
										</div>
										<div class="form-group"></div>
										<label class="col-lg-3 control-label">{{"ACCOUNTANT.MATERIAL.D"| translate}}</label>
										<div class="col-lg-9">
											<textarea ng-model="category.description" rows="2" class="form-control"
												placeholder=""></textarea>
										</div>
									</div>
									<!-- BUTTON ng-click -->
									<button ng-click="submitCategory()" type="submit"
										class="btn btn-success pull-right">{{"ACCOUNTANT.ACCOUNTING.Save"| translate}}</button>
								</form>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>