<div class="row">
<div class="col-lg-12">
<section class="panel">
<header class="panel-heading font-bold bg-danger">{{"LIBRARY.TYPE.Please_enter_information_below" | translate}}</header>
  <div class="panel-body">
  <form class="bs-example form-horizontal" ng-submit="save()">
    <div class="col-sm-6">
        <div class="form-group">
          <label class="col-lg-3 control-label">{{"LIBRARY.TYPE.Book_name" | translate}}</label>
            <div class="col-lg-8"> 
              <input ng-model="book_type.name" type="text" class="form-control" name="book_type.name">
            </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">{{"LIBRARY.TYPE.Author" | translate}}</label>
            <div class="col-lg-8"> 
              <input ng-model="book_type.author" type="text" class="form-control" name="book_type.author">
            </div>
        </div>
         <div class="form-group">
          <label class="col-lg-3 control-label">{{"LIBRARY.TYPE.Published_Year" | translate}}</label>
            <div class="col-lg-8"> 
              <input ng-model="book_type.publishYear" type="text" class="form-control" name="book_type.publishYear">
            </div>
        </div>
          <div class="form-group">
          <label class="col-lg-3 control-label">{{"LIBRARY.TYPE.Category" | translate}}</label>
            <div class="col-lg-6"> 
              <select ng-model="book_type.category.id" name="category" class="form-control">	
                <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
              </select> 
            </div>
          </div>
           <div class="form-group">
          <label class="col-lg-3 control-label">{{"LIBRARY.TYPE.Cost" | translate}}</label>
            <div class="col-lg-6"> 
              <input ng-model="book_type.cost" type="text" class="form-control" name="cost">
            </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label"></label>
            <div class="col-lg-6">
              <button type="submit" class="btn btn-s-md btn-success">{{"LIBRARY.TYPE.Submit" | translate}}</button>
              <a href="#/type" type="#" class="btn btn-s-md btn-default">{{"LIBRARY.TYPE.Cancel" | translate}}</a>
            </div>
          </div>
        </div>
    </form>
  </div>
        <div class="line line-dashed line-lg pull-in"></div>
  </section>
  </div>
  </div>