 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
   
    <li><a href="#/material">{{"ACCOUNTANT.MATERIAL.IL"| translate}}</a></li>
    <li><a href="#/material_category">{{"ACCOUNTANT.MATERIAL.CL"| translate}}</a></li>
    <li><a href="#/material_type">{{"ACCOUNTANT.MATERIAL.TL"| translate}}</a></li>
    <li><a href="#/place">{{"ACCOUNTANT.MATERIAL.PL"| translate}}</a></li>
    <li><a href="#/deleted_material">{{"ACCOUNTANT.MATERIAL.DI"| translate}}</a></li>
<!-- <li><a href="#/report">{{"ACCOUNTANT.MATERIAL.R"| translate}}</a></li> -->    
    
    
   </ul>
<ul ng-include src="'../../common/templates/user.html'"></ul>	
 </div>	