<nav class="nav-primary hidden-xs">
                <ul class="nav">
                	<li>
                    <a href="../stuff">
                      <i class="icon-male"></i>
                      <span>{{"COMMON.STF" | translate}}</span>
                    </a>
                  </li>
                  <li> 
                    <li>
                    <a href="../teachers">
                      <i class="icon-female"></i>
                      <span>{{"COMMON.THR" | translate}}</span>
                    </a>
                  </li>                
                </ul>
              </nav>  