 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
   
    <li><a href="#/courses">{{"SECRETARY.COURSES.CL" | translate}}</a></li>
    <!-- <li><a href="#/add_course">{{"SECRETARY.COURSES.ANC" | translate}}</a></li> -->
    
   </ul>
	<ul ng-include src="'../../common/templates/user.html'"></ul>
<!--    	<ul ng-include src="'../../assets/templates/user.html'"></ul> -->
 </div>	