<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading">Choose class to edit timetable</header>
			<br>
			<form class="bs-example form-horizontal">
			<div class="form-group">
	          <label class="col-lg-2 control-label">Select class from list: </label>
	            <div class="col-lg-2"> 
	              <select ng-model="student.classGroup.id" name="CGroup" class="form-control">
                		<option ng-repeat="CGroup in CGroups" value="{{CGroup.id}}">{{CGroup.grade.grade}}{{CGroup.classLetter.letter}}</option>
              		</select>  
	            </div>
	            <a href="#editTimetable/{{student.classGroup.id}}" class="btn btn-warning">Edit timetable</a>
	        </div>
	        </form>
	        
	    </section>
	</div>
</div>