<div class="row">
	<div class="col-lg-12">
		<div class="panel">
			<div class="panel-body">
				<form name="addCourse" class="bs-example form-horizontal" ng-submit="save()">
				<header class="panel-heading bg-warning">Edit Time table </header>
					<div class="line line-dashed line-lg pull-in"></div>
				        <div class="form-group">
				          <label class="col-lg-2 control-label">Select class: </label>
				            <div class="col-lg-2"> 
				              <select ng-model="timetable.classGroup.id" name="CGroup" class="form-control">
				                <option ng-repeat="CGroup in CGroups" value="{{CGroup.id}}">{{CGroup.grade.grade}}{{CGroup.classLetter.letter}}</option>
				              </select> 
				            </div>
				         </div>
				      <div class="line line-dashed line-lg pull-in"></div>
			     
				<table class="table table-striped m-b-none dataTable timetable" 
					   dataride="datatables" style="border: 1px solid #e0e4e8; border-width: 1px 0;">
					<thead>
						<tr role="row">
							<th rowspan="1" colspan="1" style="width: {{100/(weekDays.length+ 1)">Time</th>
							<th ng-repeat="weekDay in weekDays" rowspan="1" colspan="1" style="width: {{100/(weekDays.length+ 1)">{{weekDay.name}}</th>
						</tr>
					</thead>
	
					<tbody role="alert" aria-live="polite" aria-relevant="all">
						<tr ng-repeat="classHour in classHours" role="row">
							<td rowspan="1" colspan="1" style="font-weight: 600">{{classHour.startHour | date : 'HH:mm' }}-{{classHour.endHour | date : 'HH:mm'}}</td>
							<td  ng-repeat="weekDay in weekDays" rowspan="1" colspan="1">
							<label> 
		                        <select size="1" ng-model="course[$index].lesson.id">
		                          <option ng-repeat="lesson in lessons" selected="selected">{{lesson.name}}</option>
		                   		</select>
	                        </label>
	                        </td>
						</tr>
					</tbody>
				</table>
			
			<br><br>
	            <div class="col-lg-6">
	              <button  type="submit" class="btn btn-s-md btn-warning">Submit</button>
	              <a href="#/timetable" type="#" class="btn btn-s-md btn-default">Cancel</a>
	            </div>
	          </form>
		</div>
		<!--end of datatables 0 wrapper-->
</div>
	</div>
	<!--end of table resp-->
</div>
<!--panel-->
