<div class="row">
	<div class="col-lg-12">
		<div class="panel">
			<header class="panel-heading bg-success"> Time table </header>
			<div class="table-responsive"></div>
			<!--end of row-->
			<div id="DataTables_Table_0_processing" class="dataTables_processing"
				style="visibility: hidden;">Processing...</div>
			<table class="table table-striped m-b-none dataTable timetable"
				dataride="datatables" id="DataTables_Table_0"
				arial-describedby="DataTables_Table_0_info">
				<thead>
					<tr role="row">
						<th rowspan="1" colspan="1"
							style="width: {{100/(weekDays.length+ 1)">Time</th>
						<th ng-repeat="weekDay in weekDays" rowspan="1" colspan="1"
							style="width: {{100/(weekDays.length+ 1)">{{weekDay.name}}</th>
					</tr>
				</thead>

				<tbody role="alert" aria-live="polite" aria-relevant="all">
					<tr ng-repeat="classHour in classHours" role="row">
						<td rowspan="1" colspan="1" style="font-weight: 600">{{classHour.startHour | date : 'HH:mm' }}-{{classHour.endHour | date : 'HH:mm'}}</td>
						<td ng-repeat="weekDay in weekDays" rowspan="1" colspan="1">{{getCourseName(classHour.id,
							weekDay.id)}}</td>
					</tr>
				</tbody>
			</table>

		</div>
		<!--end of datatables 0 wrapper-->

	</div>
	<!--end of table resp-->
</div>
<!--panel-->
