<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">Add new syllabus category</header>
      <div class="panel-body">
        <form class="form-horizontal" ng-submit="save()">
          <div class="col-sm-6">
        <div class="form-group">
          <label class="col-lg-3 control-label">Topic</label>
            <div class="col-lg-6"> 
              <input type="text" ng-model="syllabus_category.topic" class="form-control" name="name" ng-required="true">
            </div>
          </div>
          
          <div class="form-group">
          <label class="col-lg-3 control-label">Select course</label>
            <div class="col-lg-6"> 
              <select ng-model="syllabus_category.course.id" class="form-control" style="width: 180px;">
         	<option ng-repeat="course in courses" value="{{course.id}}" >{{course.lesson.name}} {{course.classGroup.grade.grade}}{{course.classGroup.classLetter.letter}}</option>
         </select>
                   </div>
                 </div><!-- 
                 <div class="form-group">
                 <label class="col-lg-3 control-label">{{"TEACHER.SYLLABUS.Planned_date" | translate}}</label>
                 	<div class="col-lg-6">
	                   <div class="input-group mydatepicker col-lg-8">
						<input  type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="datepicker.date" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" close-text="Close" ng-required="true"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
					 </div>
                 </div> -->
                 <div class="form-group">
                 	<label class="col-lg-3 control-label">Select quarter</label>
			            <div class="col-lg-6"> 
			              <select ng-model="syllabus_category.quarter.id" class="form-control" style="width: 180px;">
			         	<option ng-repeat="quarter in quarters" value="{{quarter.id}}" >{{quarter.name}}</option>
			         </select>
                   </div>
                 </div>
                 <div class="form-group">
                 <label class="col-lg-3 control-label"></label>
                   <div class="col-lg-6">
                     <button  type="submit" class="btn btn-s-md btn-success">Save</button>
              		 <a href="#/list" type="#" class="btn btn-s-md btn-default">Cancel</a>
                   </div>
                 </div>
                 </div>
               </form>
             
             </div>
           </section>
         </div><!--end of first col lg 12-->

</div>  
       