<meta charset="utf-8" />
              <div class="row">
                <div class="col-lg-12">
                  <section class="panel">
                    <header class="panel-heading bg-warning">Category list</header>
                    <div class="panel-body">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
				  <table style="display:none">
                 		<thead >
                          	<tr>
                          		<td class="syllabus_Topic" >{{"TEACHER.SYLLABUS.Syllabus_Topic" | translate}}</td>
                          		<td class="course">{{"TEACHER.SYLLABUS.Course" | translate}}</td>
                          		<td class="date">{{"TEACHER.SYLLABUS.Date" | translate}}</td>
                          		<td class="complited">{{"TEACHER.SYLLABUS.Complited" | translate}}</td>
                          		<td class="year">{{"TEACHER.SYLLABUS.Yer" | translate}}</td>
                          		<td class="operations">{{"TEACHER.SYLLABUS.Operations" | translate}}</td>
                          	</tr>
                          </thead>
                 	</table>
                    <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" >
                        <tr ng-repeat="syllabus_category in $data" ng-class="{odd: $odd, even: $even}">
                           	<td data-title="'Category topic'" sortable="'topic'" filter="{ 'topic': 'text' }">{{syllabus_category.topic}}</td>
                            <td data-title="'Course'" sortable="'lessonName'" filter="{'lessonName' : 'text'}" align="center" width="200">{{syllabus_category.course.lesson.name}} {{syllabus_category.course.classGroup.grade.grade}}{{syllabus_category.course.classGroup.classLetter.letter}}</td>
                            
                            <td data-title="'Quarter'" align="center">{{syllabus_category.quarter.name}}</td>
                            <td data-title="'Operations'" align="center">
                                <a href="#/editSyllabysCategory/{{syllabus_category.id}}" class="btn btn-warning btn-xs">Edit</a>&nbsp;
                                <a href="#/infoSyllabysCategory/{{syllabus_category.id}}" class="btn btn-default btn-xs" data-toggle="modal">Info</a>&nbsp;
                                <a href="javascript:void(0)" ng-click="deleteSyllabusCategory(syllabusCategory.id)" class="btn btn-danger btn-xs" data-toggle="modal">Delete</a>&nbsp; 
                            </td>
                        </tr>
                     </table>
                  </div>                 
                   
    					<p style="padding-right: 20px;"><a href="#addNewCategory" class="btn btn-s-md btn-success pull-left">Add new category</a></p> 
                    </div>
                  </section>
                </div>
              </div>  
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>