<div class="row">
	<div class="col-lg-12">
	  <section class="panel">
	    <header class="panel-heading">{{"TEACHER.SYLLABUS.Edit_Syllabus" | translate}}</header>
	    <div class="panel-body">
	      <form class="form-horizontal" ng-submit="update()">
	        <div class="col-sm-8">
	      <div class="form-group">
	        <label class="col-lg-3 control-label">{{"TEACHER.SYLLABUS.Syllabus_topic" | translate}}</label>
	          <div class="col-lg-6"> 
	            <input type="text" ng-model="syllabus_category.topic" class="form-control" name="topic" ng-required="true">
	          </div>
	        </div>
	        <div class="form-group">
             	<label class="col-lg-3 control-label">Select quarter</label>
           			<div class="col-lg-6"> 
            			<select ng-model="syllabusCategory.quarter.id" class="form-control" style="width: 180px;">
        					<option ng-repeat="quarter in quarters" value="{{quarter.id}}" >{{quarter.name}}</option>
       					 </select>
               		</div>
            </div>
	        <div class="form-group">
	        <label class="col-lg-3 control-label">{{"TEACHER.SYLLABUS.Select_course" | translate}}</label>
	          <div class="col-lg-6"> 
	            <select ng-model="syllabus_category.course.id" name="course" class="form-control">
                 <option ng-selected="syllabus_category.course.id == course.id"  
                 ng-repeat="course in courses" value="{{course.id}}">{{course.lesson.name}} {{course.classGroup.grade.grade}}{{course.classGroup.classLetter.letter}}</option>
              </select> 
	          </div>
	        </div>
	        <div class="form-group">
	        <label class="col-lg-3 control-label"></label>
	          <div class="col-lg-6">
	            <button type="submit" class="btn btn-s-md btn-success">{{"TEACHER.SYLLABUS.Update" | translate}}</button>
              <a href="#/list" type="#" class="btn btn-s-md btn-default">{{"TEACHER.SYLLABUS.Cancel" | translate}}</a>
	          </div>
	        </div>
	        </div>
	      </form>
	    </div>
	  </section>
	</div><!--end of first col lg 12-->
</div> 