 <div class="collapse navbar-collapse pull-in">
   <ul class="nav navbar-nav m-l-n">
   
   	<li><a href="#/list_height_to_age">{{"DOCTOR.STANDARDS.SHTA" |translate}}</a></li>
    <li><a href="#/list_weight_to_age">{{"DOCTOR.STANDARDS.SWTA"| translate}}</a></li>
    <li><a href="#/list_weight_for_height">{{"DOCTOR.STANDARDS.SWTH"| translate}}</a></li>
     
   </ul>
  	<ul ng-include src="'../../common/templates/user.html'"></ul>
 </div>	