<div class="row">
<section class="panel">
                <div class="panel-body">
                  <div class="clearfix m-b">
                   <div class="pull-left >
                   	   <a href="" class="pull-left thumb m-r">
                    	 <img ng-src="../../../file/{{stuff.photo}}" style="max-width: 200px; max-height: 333px; margin: 10px" />
                       </a>
                   	  </div>
                      <div class="clear">
                        <div class="h3 m-t-xs m-b-xs">{{stuff.nameEn + " " + stuff.surnameEn}}</div>
                        <strong>{{stuff.nameRu+ " " +stuff.surnameRu}}</strong>
                      </div>                
                  </div>
                  <div class="well m-t">
                    <div class="row"> 
                      <div class="col-lg-6">
                        <p>{{"ADMIN.STUFF.BD2"| translate}}: <strong>{{stuff.birthDate |  date:'dd.mm.yyyy'}}</strong></p>
                        <p>{{"ADMIN.STUFF.CA2"| translate}}: <strong ng-model="stuff.curradr">{{stuff.curradr}}</strong></p>
                        <p>{{"ADMIN.STUFF.PA2"| translate}}: <strong ng-model="stuff.permadr">{{stuff.permadr}}</strong></p>
                        <p>{{"ADMIN.STUFF.PN2"| translate}}: <strong ng-model="stuff.phone">{{stuff.phone}}</strong></p>
                        <p>{{"ADMIN.STUFF.E2"| translate}}: <strong ng-model="stuff.email">{{stuff.email}}</strong></p>
                      </div>
                      <div class="col-lg-6">
                         <p>{{"ADMIN.STUFF.SN2" | translate}}: <strong ng-model="stuff.stuffNum">{{stuff.stuffNum}}</strong></p>
                        <p>{{"ADMIN.STUFF.PASSPORT" | translate }}: <strong ng-model="stuff.passportNo">{{stuff.passportNo}}</strong></p>
                        <p>{{"ADMIN.STUFF.POSITION"| translate}}: <strong ng-model="stuff.position">{{stuff.position}}</strong></p>
                        <p>{{"ADMIN.STUFF.STATUS"| translate}}: <strong ng-model="stuff.status">{{stuff.status.name}}</strong></p>
                        <!-- <p>STUFF NUMBER: <strong ng-model="stuff">{{stuff}}</strong></p> -->

                      </div>
                    </div>     
                  </div>
                </div>
              </section>
              </div>