<div class="row">
<div class="col-lg-12">
    <div class="panel">
    <header class="panel-heading bg-primary">Annual Fees</header>
      <div class="panel-body">
        <!-- <div class="well m-t">
                <div class="row">
                <div class="col-lg-12">
                <form class="form-inline">
                  
                  <div class="form-group">
                    <label><strong>Search: </strong><input type="text" class="form-control"></label>
                  </div>
                  <div class="form-group" style="margin-left: 10px;">
                    <label><strong>Grade: </strong>
                       <select name="account" class="form-control">
                          <option>1A</option>
                          <option>1B</option>
                          <option>2A</option>
                          <option>2B</option>
                       </select>
                    </label>
                  </div>
                  <div class="form-group" style="margin-left: 10px;">
                    <label><strong>Year: </strong>
                       <select name="account" class="form-control"  style="width: 130px;">
                          <option selected>2014 - 2015</option>
                          <option>2015 - 2016</option>
                       </select>
                    </label>
                  </div>
                  <div class="form-group" style="margin-left: 10px;">
                    <label><strong>Annual Fee: FROM </strong><input type="text" style="width: 90px;" class="form-control"></label>
                  </div>
                  <div class="form-group" style="margin-left: 10px;">
                    <label><strong>TO </strong><input type="text" style="width: 90px;" class="form-control"></label>
                  </div>
                  <div class="form-group" style="margin-left: 20px;">
                  <button type="submit" class="btn btn-success">FILTER</button>
                  </form>
                  </div>
                 </div>
                 </div>  -->               
                </div><!--end of well-mt-->
            	<div class="row">
                        <div class="col-sm-6">
                          <div id="DataTables_Table_0_length" class="dataTables_length">
                            <label> 
                              Show:
                              <select ng-model="count" size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                        	<div class="dataTables_filter"><span class="btn btn-default btn-sm">Result : {{tableParams.total()}}</span></div>
                        </div>
                 </div><!--end of row-->
                        
                      <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" style="
    border-top: 1px solid #e0e4e8;" >
                          <tr ng-repeat="accounting in $data" ng-class="{odd: $odd, even: $even}">
                          	<td data-title="'#'">{{$index + 1}}.</td>
							<td data-title="'Student'" sortable="'studentName'" filter="{ 'student': 'text' }">{{accounting.student.nameEn + ' ' + accounting.student.surnameEn}}</td>
                            <td data-title="'Year'" style="text-align:center;">{{accounting.year.year | date:'yyyy'}} - {{accounting.year.year + 31569000000 | date: 'yyyy'}} </td>
                            <td data-title="'Annual Fee'" style="text-align:center;">{{accounting.anualFee}}</td>
                            <td data-title="'Paid'" style="text-align:center;">{{accounting.payed}}</td>
                            <td data-title="'Left'" style="text-align:center;">{{accounting.anualFee - accounting.payed}}</td>
                            <td data-title="'Completed'" style="text-align:center;">
                            	<span ng-if="accounting.anualFee - accounting.payed <= 0 " ><i class="icon-ok" style="color:#99FF66"></i></span>
                            	<span ng-if="accounting.anualFee - accounting.payed > 0 " ><i class="icon-minus" style="color:#FF5050"></i></span>
                            </td>
                            <td data-title="'Payment'" style="text-align:center;">
                            	<a href="#/new_payment/{{accounting.id}}" tooltip="Edit" data-placement="top" data-original-title="Edit" class="btn btn-success btn-xs">
                            		Pay<i class="icon-usd"></i>
                            	</a>
                            </td>
                          </tr>
                  	  </table>
                      
                      
                      
                      
                     
                      </div><!--end of panel body-->
                    </div><!--end of table resp-->

                    </div><!--panel-->
                  
                 
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>