<div class="row">
<div class="col-lg-12">
    <div class="panel">
    <header class="panel-heading bg-primary">{{"ACCOUNTANT.ACCOUNTING.AF" | translate}}</header>
      <div class="panel-body">
        <!-- <div class="well m-t">
                <div class="row">
                <div class="col-lg-12">
                <form class="form-inline">
                  
                  <div class="form-group">
                    <label><strong>Search: </strong><input type="text" class="form-control"></label>
                  </div>
                  <div class="form-group" style="margin-left: 10px;">
                    <label><strong>Grade: </strong>
                       <select name="account" class="form-control">
                          <option>1A</option>
                          <option>1B</option>
                          <option>2A</option>
                          <option>2B</option>
                       </select>
                    </label>
                  </div>
                  <div class="form-group" style="margin-left: 10px;">
                    <label><strong>Year: </strong>
                       <select name="account" class="form-control"  style="width: 130px;">
                          <option selected>2014 - 2015</option>
                          <option>2015 - 2016</option>
                       </select>
                    </label>
                  </div>
                  <div class="form-group" style="margin-left: 10px;">
                    <label><strong>Annual Fee: FROM </strong><input type="text" style="width: 90px;" class="form-control"></label>
                  </div>
                  <div class="form-group" style="margin-left: 10px;">
                    <label><strong>TO </strong><input type="text" style="width: 90px;" class="form-control"></label>
                  </div>
                  <div class="form-group" style="margin-left: 20px;">
                  <button type="submit" class="btn btn-success">FILTER</button>
                  </form>
                  </div>
                 </div>
                 </div>  -->               
                </div><!--end of well-mt-->
            	<div class="row">
                        <div class="col-sm-6">
                          <div id="DataTables_Table_0_length" class="dataTables_length">
                            <label> 
                              {{"ACCOUNTANT.ACCOUNTING.Show" | translate}}:
                              <select ng-model="count" size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6"><div class="dataTables_filter"><span class="btn btn-default btn-sm">Result : {{tableParams.total()}}</span></div></div>
                 </div><!--end of row-->
                 <table style="display:none">
                 		<thead >
                          	<tr>
                          		<td class="student" >{{"ACCOUNTANT.ACCOUNTING.Student" | translate}}</td>
                          		<td class="year">{{'ACCOUNTANT.ACCOUNTING.Year' | translate}}</td>
                          		<td class="annual_fee">{{'ACCOUNTANT.ACCOUNTING.Annual_Fee' | translate}}</td>
                          		<td class="payment">{{'ACCOUNTANT.ACCOUNTING.Payment' | translate}}</td>
                          	</tr>
                          </thead>
                 	</table>
                        
                      <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" style="
    border-top: 1px solid #e0e4e8;" >
                          <tr ng-repeat="accounting in $data" ng-class="{odd: $odd, even: $even}">
                          	<td data-title="'#'">{{$index + 1}}.</td>
							<td data-title="getTitle('student')" sortable="'studentName'" filter="{ 'student': 'text' }">{{accounting.student.nameEn + ' ' + accounting.student.surnameEn}}</td>
                            <td data-title="getTitle('year')" style="text-align:center;">{{accounting.year.year | date:'yyyy'}} - {{accounting.year.year + 31569000000 | date: 'yyyy'}} </td>
                            <td data-title="getTitle('annual_fee')" style="text-align:center;">{{accounting.anualFee}}</td>
                            <td data-title="getTitle('payment')" style="text-align:center;">
                            	<a href="#/edit_annualfee/{{accounting.id}}" tooltip="Set Annual Fee" data-placement="top" data-original-title="Edit" class="btn btn-success btn-xs">
                            		{{'ACCOUNTANT.ACCOUNTING.Set' | translate}}<i class="icon-wrench"></i>
                            	</a>
                            </td>
                          </tr>
                  	  </table>
                      
                      
                      
                      
                     
                      </div><!--end of panel body-->
                    </div><!--end of table resp-->

                    </div><!--panel-->
                  
                 
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; {{'ACCOUNTANT.ACCOUNTING.Previous' | translate}} </a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">{{'ACCOUNTANT.ACCOUNTING.Next' | translate}}  &raquo;</a>
		</li>
		</div>
       </ul>
</script>