<div class="row">
<div class="col-lg-12">
                    <div class="panel">
                    <header class="panel-heading bg-primary">
                  {{"LIBRARY.GIVE.LISTUSE" | translate}}
                    </header>
                    <div class="table-responsive">
                      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                      <div class="row">
                        <div class="col-sm-6">
                          <div id="DataTables_Table_0_length" class="dataTables_length">
                            <label> 
                              {{"LIBRARY.GIVE.SHOW" | translate}}
                              <select ng-model="count" size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="dataTables_filter"><a href="#/give" class="btn btn-success btn-sm">{{"LIBRARY.GIVE.ADDNEW" | translate}}&nbsp;<i class="icon-plus"></i></a></div>
                          <div class="dataTables_filter" id="DataTables_Table_0_filter"></div>
                        </div>
                        </div><!--end of row-->
                    <table style="display:none">
                 		<thead >
                          	<tr>
                          		<td class="name" >{{"LIBRARY.GIVE.OWNERTYPE" | translate}}</td>
                          		<td class="book">{{"LIBRARY.GIVE.BOOKNAME" | translate}}</td>
                          		<td class="invent">{{"LIBRARY.GIVE.G_INVENT" | translate}}</td>
								<td class="barcode">{{"LIBRARY.GIVE.G_BARCODE" | translate}}</td>
                          		<td class="begindate">{{"LIBRARY.GIVE.BNDATE" | translate}}</td>
                          		<td class="enddate">{{"LIBRARY.GIVE.ENDATE" | translate}}</td>
                          		<td class="operations"></td>
                          	</tr>
                          </thead>
                 	</table>
                        
                        <table ng-table="tableParamsList" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true" style="border-top: 1px solid #e0e4e8;" >
                          <tr  ng-repeat="book_in_use in $data" ng-class="{odd: $odd, even: $even}">
							<td data-title="getTitle('name')" sortable="'name'" filter="{ 'name': 'text' }" style="width: 220px;">{{book_in_use.fullname}}</td>
                            <td data-title="getTitle('book')" sortable="'author'" filter="{ 'author': 'text' }" width="200">{{book_in_use.book.bookType.name}}</td>
                            <td data-title="getTitle('invent')" filter="{ 'invent': 'text' }" style="text-align:left; width: 150px;">{{book_in_use.book.invenNo}}</td>
                            <td data-title="getTitle('barcode')" filter="{ 'barcode': 'text' }" style="text-align:left; width: 150px;">{{book_in_use.book.barcode}}</td>
                            <td data-title="getTitle('begindate')" filter="{ 'bookStatus': 'text' }" align="center" width="110">{{book_in_use.beginDate |  date:'dd.MM.yyyy'}}</td>
                            <td data-title="getTitle('enddate')" sortable="'cost'" filter="{ 'cost': 'text' }" style="text-align:center; width: 50px;">{{book_in_use.endDate |  date:'dd.MM.yyyy'}}</td>
                          	<td data-title="getTitle('operations')" align="center" id="op" style="text-align:center; width: 50px;" >
                          		<!-- <a href="#give_return/{{book_in_use.id}}" tooltip="Edit"><i class="icon-pencil"></i></a>&nbsp; -->
                                <a href="javascript:void(0)" ng-click="deleteBook(book_in_use.id)" tooltip="Delete"><i class="icon-remove-sign"></i></a>&nbsp; 
                          	</td> 
                           </tr>
                  	  </table>
                  	  
                      </div><!--end of datatables 0 wrapper-->
                      
                    </div><!--end of table resp-->
                    </div><!--panel-->
                  </div><!--end col-lg-12-->
                  </div>
<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>