<div class="row">
<div class="col-lg-12">
                    <div class="panel">
                    <header class="panel-heading bg-primary">
                  {{"LIBRARY.GIVE.LISTUSE" | translate}}
                    </header>
                    <section class="tab-pane" id="wizard">
					<div class="panel">
	    <div class="wizard clearfix" id="form-wizard">
					<ul class="steps">
						<li data-target="#step1" class="active"><span
							class="badge badge-info">1</span>{{"LIBRARY.GIVE.STEP" | translate}} 1</li>
						<li data-target="#step2"><span class="badge">2</span>{{"LIBRARY.GIVE.STEP" | translate}} 2</li>
						<li data-target="#step3"><span class="badge">3</span>{{"LIBRARY.GIVE.STEP" | translate}} 3</li>
					</ul>
			
		</div>
		<div class="step-content">
			<form class="form-horizontal" role="form" ng-submit="saveGiveBook()">
                    <div class="table-responsive">
                    <div class="tab-content">
						<section class="tab-pane active" id="addlesson">
							<!-- <div class="panel">
								<div class="panel-body">
									<div class="col-sm">
										<div  id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-group" role="grid">
						                          <div id="DataTables_Table_0_length" class="dataTables_length">
						                            <label> 
						                              Show
						                              <select ng-model="count" size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
						                                <option value="10" selected="selected">10</option>
						                                <option value="25">25</option>
						                                <option value="50">50</option>
						                                <option value="100">100</option>
						                              </select>
						                            </label>
						                     </div>
						                </div>
										
									</div> 
									
								</div>
							</div> -->
						</section>
					</div>


				<div class="step-pane active" id="step1">
				
					<!-- mini table 1 start-->
						<div class="tab-content">
						
							<section class="tab-pane active" >
								<div class="panel">
									<div class="panel-body">
										
										<div class="row">
											<div class="col-sm-12">
												<section class="panel">
													<header class="panel-heading font-bold bg-primary">{{"LIBRARY.GIVE.CHOSEOWNER" | translate}}</header>
													<div class="panel-body">
														<form class="form-horizontal">
														<div class="row">
										<div class="col-sm-6">
										   <div class="panel-body">
												<section class="panel">
											<label>
				                            	{{"LIBRARY.GIVE.OWNERTYPE" | translate}}
				                          		<select ng-model="book_in_use.ownerType.id" ng-change="getOwnerList()">
				                  				<option ng-repeat="ownerType in ownerTypes" value="{{ownerType.id}}">{{ownerType.name}}</option>
										 	</select>
										 	</label>
										</section>
						                  </div>
										</div>
									</div>
															<div ng-if="book_in_use.ownerType.id == 1" class="form-group">
																 <table  style="display:none">
											                 		<thead >
											                          	<tr >
											                          		<td ></td>
											                          		<td class="number" >{{"LIBRARY.GIVE.STUDNUM" | translate}}</td>
											                          		<td class="name" >{{"LIBRARY.GIVE.FULLNAME" | translate}}</td>
											                          		<td class="class" >{{"LIBRARY.GIVE.CLASS" | translate}}</td>
											                           		</tr>
											                          </thead>
											                 	 </table>
										                         <table  ng-table="tableParamsStudent"  class="table table-striped m-b-none dataTable" show-filter="true" style="border-top: 1px solid #e0e4e8;" >
										                            <tr ng-repeat="owner in $data" value="{{owner.id}}" ng-class="{odd: $odd, even: $even}">
											                            <td  rowspan="1" colspan="1" style="width: 20px; background-color:#E2E4E6;">
											                            	<input ng-model="book_in_use.ownerId"  value="{{owner.id}}" type="radio"></td>
																		<td data-title="getTitle('number')" sortable="'number'" filter="{ 'studentNum': 'text' }" >{{owner.studentNum}}</td>
																		<td data-title="getTitle('name')" sortable="'name'" filter="{ 'name': 'text' }">{{owner.nameEn + " " + owner.surnameEn}}</td>
																		<td data-title="getTitle('class')" sortable="'class'" filter="{ 'class': 'text' }" >{{owner.classGroup.grade.grade + owner.classGroup.classLetter.letter}}</td>
										                            </tr>
																</table>									
															</div>
															
															<div ng-if="book_in_use.ownerType.id == 2" class="form-group">
																 <table  style="display:none">
											                 		<thead >
											                          	<tr >
											                          		<td ></td>
											                          		<td class="number" >{{"LIBRARY.GIVE.TEACHNUM" | translate}}</td>
											                          		<td class="name" >{{"LIBRARY.GIVE.FULLNAME" | translate}}</td>
											                           		</tr>
											                          </thead>
											                 	 </table>
										                         <table  ng-table="tableParamsTeacher"  class="table table-striped m-b-none dataTable" show-filter="true" style="border-top: 1px solid #e0e4e8;" >
										                            <tr ng-repeat="owner in $data" value="{{owner.id}}" ng-class="{odd: $odd, even: $even}">
											                            <td  rowspan="1" colspan="1" style="width: 20px; background-color:#E2E4E6;">
											                            	<input ng-model="book_in_use.ownerId"  value="{{owner.id}}" type="radio"></td>
																		<td data-title="getTitle('number')" sortable="'number'" filter="{ 'teacherNum': 'text' }" >{{owner.teacherNum}}</td>
																		<td data-title="getTitle('name')" sortable="'name'" filter="{ 'name': 'text' }">{{owner.nameEn + " " + owner.surnameEn}}</td>
										                            </tr>
																</table>									
															</div>
															
															<div ng-if="book_in_use.ownerType.id == 3" class="form-group">
																 <table  style="display:none">
											                 		<thead >
											                          	<tr >
											                          		<td ></td>
											                          		<td class="number" >{{"LIBRARY.GIVE.STUFFNUM" | translate}}</td>
											                          		<td class="name" >{{"LIBRARY.GIVE.FULLNAME" | translate}}</td>
											                           		</tr>
											                          </thead>
											                 	 </table>
										                         <table  ng-table="tableParamsStuff"  class="table table-striped m-b-none dataTable" show-filter="true" style="border-top: 1px solid #e0e4e8;" >
										                            <tr ng-repeat="owner in $data" value="{{owner.id}}" ng-class="{odd: $odd, even: $even}">
											                            <td  rowspan="1" colspan="1" style="width: 20px; background-color:#E2E4E6;">
											                            	<input ng-model="book_in_use.ownerId"  value="{{owner.id}}" type="radio"></td>
																		<td data-title="getTitle('number')" sortable="'number'" filter="{ 'stuffNum': 'text' }" >{{owner.stuffNum}}</td>
																		<td data-title="getTitle('name')" sortable="'name'" filter="{ 'name': 'text' }">{{owner.nameEn + " " + owner.surnameEn}}</td>
										                            </tr>
																</table>									
															</div>
															
														</form>
													</div>
												</section>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
				
				</div>
				<div class="step-pane" id="step2">
				<!-- STEP 2 START -->
				
					<header class="panel-heading font-bold bg-primary">{{"LIBRARY.GIVE.CHOSEBOOK" | translate}}</header>
					
					<table  style="display:none">
                 		<thead >
                          	<tr >
                          		<td ></td>
                          		<td class="bookname" >{{"LIBRARY.GIVE.BOOKNAME" | translate}}</td>
                           		<td class="invent">{{"LIBRARY.GIVE.G_INVENT" | translate}}</td>
                          		<td class="barcode">{{"LIBRARY.GIVE.G_BARCODE" | translate}}</td>
                          	</tr>
                          </thead>
                 	</table>
                        
                        <table ng-table="tableParamsBook"  class="table table-striped m-b-none dataTable" show-filter="true" style="border-top: 1px solid #e0e4e8;" >
                          <tr ng-repeat="book in $data" ng-class="{odd: $odd, even: $even}">
                            <td  rowspan="1" colspan="1" style="width: 20px; background-color:#E2E4E6;">
                            <input ng-model="book_in_use.book.id"  value="{{book.id}}" type="radio"></td>
							<td data-title="getTitle('bookname')" sortable="'name'" filter="{ 'name': 'text' }" style="width: 220px;">{{book.bookType.name}}</td>
                          	<td data-title="getTitle('invent')" filter="{ 'invenNo': 'text' }"  style="text-align:center; width: 130px;">{{book.invenNo}}</td>
                          	<td data-title="getTitle('barcode')" filter="{ 'barcode': 'text' }" style="text-align:center; width: 50px;">{{book.barcode}}</td>
                           </tr>
                  	  </table> 
					<div class="form-group">
						
					</div>
				</div>
				<div class="line line-dashed line-lg pull-in"></div>
			

			
				<div class="step-pane" id="step3">
				<!-- STEP 3 START -->
				
				
				<section class="panel">
                <header class="panel-heading font-bold bg-primary">                  
                  Date
                </header>
                <div class="panel-body">
                  <form class="form-inline">
                    <div class="form-group">
                      <label class="col-sm-4 control-label">{{"LIBRARY.GIVE.BNDATE" | translate}}<span class="text-danger">*</span></label> 
		          	  <div class="col-sm-6"> 
		              <p class="input-group mydatepicker">
						 <input ng-model="book_in_use.beginDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" 
						 ng-model="dt" is-open="datepicker.open" min-date="2014-09-01" max-date="'2020-06-22'" 
						 datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
					  </p>
		            </div>
                    </div>
                    <div class="form-group">
                      	<label class="col-sm-4 control-label">{{"LIBRARY.GIVE.ENDATE" | translate}}<span class="text-danger">*</span></label> 
		            	<div class="col-sm-6"> 
		           		<p class="input-group mydatepicker">
						 <input ng-model="book_in_use.endDate" ng-disabled="!book_in_use.beginDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" 
						 ng-model="dt" is-open="datepicker.opened" min-date="2014-09-01" max-date="'2020-06-22'" 
						 datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
					  	</p>
		            </div> 
                    </div>
                    <div class="form-group">
                    <div class="checkbox m-l-xs m-r-xs">
                     <button type="submit" class="btn btn-s-md btn-success" 
                     ng-click="saveGiveBook()" style="float: right">{{"LIBRARY.GIVE.SAVE" | translate}}</button>
                     </div>
                    </div>
                  </form>                  
                </div>
              </section>

	
		        
					
				</div>
				</div>
			</form>
			</div>
			<div class="actions m-t">
				<button type="button" class="btn btn-white btn-sm btn-prev"
					data-target="#form-wizard" data-wizard="previous"
					disabled="disabled">{{"LIBRARY.GIVE.PREV" | translate}}</button>
				<button type="button" class="btn btn-white btn-sm btn-next"
					data-target="#form-wizard" data-wizard="next" data-last="Finish">{{"LIBRARY.GIVE.NEXT" | translate}}</button>
					
			</div>
		</div>
	</div>
</section>
</div>
</div>
</div>



