<section class="panel">
          <header class="panel-heading font-bold bg-danger">                  
            {{"LIBRARY.GIVE.RETURNDATE" | translate}}
          </header>
          
          <div class="well m-t">
             <div class="row"> 
               <div class="col-lg-6">
                 
                 <p>{{"LIBRARY.GIVE.OWNERNAME" | translate}}: <strong>{{book_in_use.ownerId.fullname}}</strong></p>
                 <p>{{"LIBRARY.GIVE.BNDATE" | translate}}: <strong>{{book_in_use.beginDate |  date:'dd.MM.yyyy'}}</strong></p>
                 <p>{{"LIBRARY.GIVE.ENDATE" | translate}}: <strong>{{book_in_use.endDate |  date:'dd.MM.yyyy'}}</strong></p>
                </div>
             </div>     
           </div> 
          
          
          
          
          <div class="panel-body">
            <form class="form-inline " ng-submit="update()">
              <div class="form-group">
                <label class="col-sm-4 control-label">{{"LIBRARY.GIVE.RETURNDATE" | translate}}<span class="text-danger">*</span></label> 
      	  			<div class="col-sm-6"> 
			          <p class="input-group mydatepicker">
						 <input ng-model="book_in_use.endDate" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" 
						 ng-model="dt" is-open="datepicker.open" min-date="2014-09-01" max-date="'2020-06-22'" 
						 ng-selected="book_in_use.endDate.id == endDate.id" ng-vakue="endDate.id"
						 datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" />
					
					  </p>
        			</div>
              </div>
              
              <div class="form-group">
              <div class="checkbox m-l-xs m-r-xs">
               <button type="submit" class="btn btn-s-md btn-success"  style="float: right">{{"LIBRARY.GIVE.SAVE" | translate}}</button>
               <a href="#give_list">	
            	<button ng-click="cancel()" type="#" class="btn btn-s-md btn-default">{{"LIBRARY.GIVE.CANCEL" | translate}}</button>
          	</a>
               </div>
              </div>
            </form>                  
          </div>
        </section>